<script>
  $(function () {
    //
    // GRID RENDERING
    //
    
    // Shows the uid next to an item
    function fullIdFormatter(row, cell, value, columnDef, dataContext) {
      var fullName = (value||'') + " (" + dataContext.key + ")";
      return rowNameFormatter(row, cell, fullName, columnDef, dataContext);
    };

{% if is_chapter %}
    // Convert an article name into a link
    function articleLinkFormatter(value, type, item) {
      if ( item.indent==0 )
        return rowNameFormatter(value, type, item);

      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : getIncomeLink;
      var link = getLink('{{ entity.slug }}', item.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter(value, type, item);
    };
{% endif %}

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
{% if show_actual %}
        title: "{{ _('Presupuesto') }}",
{% else %}
        title: uiState.field=='expense' ? "{{ _('Gastos') }}" : "{{ _('Ingresos') }}",
{% endif %}
        data: getBreakdownValue,
        render: getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

    function getLabelColumnTitle(tab) {
      var titles = {
{% if is_chapter %}
        'tab-economic': "{{ _('Artículo') }}",
{% else %}
        'tab-economic': "{{ _('Concepto') }}",
{% endif %}
        'tab-functional': "{{ _('Programa') }}",
        'tab-institutional': "{{ _('Entidad') }}",
        'tab-funding': "{{ _('Fondo') }}"
      };
      return titles[tab];
    }

    function getLabelColumnRender(tab) {
      var renders = {
{% if is_chapter %}
        'tab-economic': articleLinkFormatter,
{% else %}
        'tab-economic': rowNameFormatter,
{% endif %}
{% if full_breakdown %}
{% if policy_uid %}
        'tab-functional': getPolicyLinkFormatter(0),  // Programmes at root level
{% else %}  // Showing an article
        'tab-functional': getPolicyLinkFormatter(1),  // Programmes at root level
{% endif %}
{% else %}
        'tab-functional': rowNameFormatter
{% endif %}
        'tab-institutional': rowNameFormatter,
        'tab-funding': rowNameFormatter
      };
      return renders[tab];
    }

    
    var uiState = null;
    var currentChart = null;

    //Update Tab
    function updateTab() {
      // Update data type based on selected tab
      var type = $('#tabs li.active > a').attr('href').substring(1);
      $('section.policies').data('type', type);
      redraw();
    }

    // Update Year
    function updateYear() {
      uiState = getUIState();
      redrawGrid()
    }

    // Redraw all
    function redraw(){

      // Avoid unnecessary redrawings (the slider is trigger happy)
      uiState = getUIState();
      //if ( uiState && sameUIState(uiState, newUIState)) return;
      console.log('redraw', uiState);
      console.log('------');

      // Show/hide panel downloads
      $('.panel-downloads > p').hide();
      $('#'+uiState.type+'-downloads').show();

      redrawGraph();

      redrawGrid();
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {

      if( $('#myGrid').size() == 0 ) return;

      // Update year label
      $('#totals-year').text(uiState.year);

      var label = uiState.view == 'income' ? '{{ _("Total ingresos") }}' : '{{ _("Total gastos") }}';
      $("#main-total .main-label").html(label+getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels))

      // Do work
      var columnDef = getColumnDefinition(uiState);
      var executionColumnDef = getExecutionColumnDefinition(uiState);

      if ( myGrid !== undefined ) myGrid.destroy();

      myGrid = createBudgetGrid( "#myGrid", gridData[uiState.type], [
                          {
                            data: "label",
                            title: getLabelColumnTitle(uiState.type),
                            render: getLabelColumnRender(uiState.type),
                          },
                          columnDef
{% if show_actual %}
                          ,executionColumnDef
{% endif %}
                        ]);
      
      // Total amounts are the same whichever way you break down the items, so any breakdown will do
      var breakdown = economicBreakdown,
          hasActualData = executionColumnDef.data(breakdown),
          getTotal = function(breakdown) { return columnDef.data(breakdown)||0; },
          getActualTotal = function(breakdown) { return executionColumnDef.data(breakdown)||0; },
          format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          formatActual = function(amount) { return executionColumnDef.render(amount, 'display', breakdown); };

      if ( hasActualData ) {
        $("#main-total .total-executed").show();
        $("#main-total .total-executed-amount").text(formatActual(getActualTotal(breakdown)));
        $("#main-total .total-budgeted-amount").text(format(getTotal(breakdown)));
      } else {
        $("#main-total .total-executed").hide();
        $("#main-total .total-budgeted-amount").text(format(getTotal(breakdown)));
      }
    }

    function redrawGraph() {
      // Charts can't be initialized in a tab that is not visible
      // TODO: Really? Is this still valid?
      //var currentChart = $('#policy-chart-container').data('chart');
      //if ( currentChart != undefined ) {
{% if show_treemap %}
        //currentChart.updateTreemap(getUIState());
{% else %}
        //currentChart.draw(getUIState());
{% endif %}

        console.log('redrawGraph', uiState);


        if (uiState === null) return;

        // We skip graph setup in institutional tab
        if (uiState.type === 'institutional'){
          $('#policy-chart-container .stacked-area-chart').remove();
          $('#policy-chart-container').hide();
          return;
        }
        else{
          $('#policy-chart-container').show();
        }

        // Setup Graph
        var breakdown = (uiState.type === 'economic') ? economicBreakdown :  
                        (uiState.type === 'functional') ? functionalBreakdown :
                        (uiState.type === 'institutional') ? institutionalBreakdown :
                        fundingBreakdown;

        setupGraph( $('#policy-chart-container').width(), 
                '#policy-chart-container', 
                breakdown,
                areasData[uiState.type]);
      //}
    };


    //
    // POLICY DATA
    //
    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D': '{{ _("a día de hoy") }}'
    };

    // The income and expense descriptions for the economic breakdowns do not match,
    // i.e. the same code, '2', means different things for income and expenses, so
    // we need to use the right descriptions
    var economicBreakdown = {{ economic_breakdown.to_json( labels=descriptions[show_side] )|safe }};
    var functionalBreakdown = {{ functional_breakdown.to_json( labels=descriptions['functional'] )|safe }};

{% if full_breakdown %}
    var institutionalBreakdown = {{ institutional_breakdown.to_json( labels=descriptions['institutional'] )|safe }};
    var fundingBreakdown = {{ funding_breakdown.to_json( labels=descriptions['funding'] )|safe }};
{% endif %}

    // Grid Data onjets
    var gridData = {
      'economic':       breakdownToTable(economicBreakdown),
      'functional':     breakdownToTable(functionalBreakdown),
{% if full_breakdown %}
      'institutional':  breakdownToTable(institutionalBreakdown),
      'funding':        breakdownToTable(fundingBreakdown),
{% endif %}
    }

    // Areas Data object
    var areasData = {
{% if full_breakdown or article %}
      'economic':       {{ (expense_areas if show_side=='expense' else income_areas)|safe }},
{% endif %}

{% if programme is not defined and show_side != 'income' %}
      'functional':     {{ functional_areas|safe }},
{% endif %}

{% if full_breakdown %}
      'funding':        {{ funding_areas|safe }},
{% endif %}
    };

    var myGrid;
    var i18n = {
      'budgeted': '{{ _("Presupuestado") }}'
    };

    // Link to policy handlers
    function onProgrammeSelected(event, d) {
      var widget = $('body').hasClass('widget') ? '?widget=1' : '';

{% if article %}
      window.location = getPolicyLink(d.id, d.label, getUIState())+widget;
{% else %}
      window.location = getProgrammeLink(d.id, d.label, getUIState())+widget;
{% endif %}
    }
  
    // Setup Graph
    function setupGraph(chartWidth, container, breakdown, areas) {

      console.log('setupGraph', chartWidth, container, breakdown, areas);

      var colorScale = {{ color_scale|safe }};

      // We explicitely set the dimensions of the container, otherwise we got an strange behaviour in 
      // an iPad, where the height of the chart would explode for no apparent reason
      //$(container).css('width', chartWidth);
      //$(container).css('height', chartWidth/2);
      {% if show_treemap %}
      var treemap = new BudgetTreemap(container, breakdown, stats, areas, 2, colorScale).i18n(i18n).maxLevels(2).budgetStatuses(budgetStatuses);
      treemap.createTreemap(getUIState());
      $(container).data('chart', treemap);
      {% else %}
      currentChart = new BudgetStackedChart(container, stats, colorScale, i18n).budgetStatuses(budgetStatuses);
      //$(container).data('chart', chart);
      currentChart.loadBreakdown(breakdown, '{{ show_side }}');
      currentChart.draw( uiState );
      // Add area click event if type is functional
      if (uiState.type == 'functional') {
        $('#policy-chart-container').bind('area-selected', onProgrammeSelected);
      }
      {% endif %}
    };


    //
    // LOCATION HASH
    //
    function unfoldItem(gridData, itemId) {
      var found = false;
      for ( i=0; i<gridData.length && !found; i++ ) {
        if ( gridData[i].key == itemId ) {
          var parent = gridData[i].parent;
          while (parent != null) {
            parent._expanded = true;
            parent = parent.parent;
          }
          found = true;
        }
      }
      return found;
    }

    function parseLocationHash() {
      state = $.deparam.fragment();

      // Highlight a particular item
      if ( state.item ) {
        unfoldItem(economicGridData, state.item);
        // TODO!!! Check if we need to call redraw or we can call redrawGrid
        redraw();
        window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);
      }
    }

    // Handle the hash the page may have loaded with.
    parseLocationHash();

    // Control Setup
    $('#select-format').change(redraw);
    initSlider("#year-selection", {{ years|safe }}, updateYear, {{ latest_year }}, {{ years_scale|safe }});

    // Setup tabs navigation
    setRedrawOnTabsChange('#tabs', updateTab);

    // Add click embed btn event
    $('.chart-container .chart-embed-btn').click(function(e){
      e.preventDefault();
      var code = '<iframe src="'+window.location.href+'?widget=1" width="100%" scrolling="no" marginheight="0" frameborder="0"></iframe><\script type="text/javascript" src="'+window.location.origin+'/static/javascripts/iframeResizer.min.js"\>\<\/script\>\<script type="text/javascript"\>iFrameResize();\<\/script\>';
      $('#modal-embed .modal-body textarea').val( code );
    });
  })
</script>