{% extends 'base.html' %}
{% from 'shared/panel_downloads.html' import panel_downloads as panel_downloads %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policies policy-breakdown" role="region" data-field="{{ show_side }}" data-tab="{{ starting_tab }}">

  <!-- Politicas Header -->
  <div class="policies-header section-header">

    <div class="container">
      {% if show_breadcrumbs %}
      {% include 'shared/breadcrumbs.html' %}
      {% else %}
      <p class="history-back">
        {% if back_button %}
          <a href="{{ back_button['url'] }}">&larr; {{ back_button['description'] }}</a>
        {% else %}
          {# Default behaviour: back to main page. Try to go back to the tab we came from. #}
          <a href="{{ url('budget_app.views.entities_policies', entity.code) if is_secondary_entity else url('budget_app.views.policies') }}#view={{ back_to_tab }}">&larr; {{ _('Volver a Políticas') }}</a>
        {% endif %}
      </p>
      {% endif %}
      <h2 class="page-title">{{ entity.name+': ' if is_secondary_entity }}{{ name }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
    {% for tab in ['functional', 'economic', 'funding', 'institutional'] %}
      {% if breakdowns[tab] %}
      <li role="presentation">
        <a href="#{{ tab }}" role="tab">{{ _(tab_titles[tab]) }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="container tab-content">

      <h3 id="tab-title"></h3>

      <div class="policies-chart">
        <div id="policy-chart-container" class="chart-container {{ 'treemap-chart' if show_treemap else 'stacked-area-chart' }}" aria-hidden="true">
          <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-title"></div>
            <div class="popover-content">
              <p class="popover-content-year"></p>
              <p class="popover-content-value"></p>
              <p class="popover-content-variation">
                <span class="label"></span> <span class="popover-content-variation-label">{{ _("respecto a <span class='popover-content-variation-year'></span>")|safe }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

       <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}

      <!-- Totals Panel -->
      {% include 'entities/totals.html' %}

      <!-- Table Grid -->
      <table id="myGrid" class="table-grid" width="100%"></table>

      <!-- Panel Downloads -->
{# XXX: Disable CSV downloads for entities. See #105 #}
{% if not is_secondary_entity %}
      <div class="panel-downloads">
    {% if full_breakdown %}
      {% for tab in ['functional', 'economic', 'funding', 'institutional'] %}
        {% if breakdowns[tab] %}
          {{ panel_downloads(_(tab_titles[tab]), tab, csv_type, csv_id) }}
        {% endif %}
      {% endfor %}
    {% else %}
        {# The download links for small entities are too cumbersome to calculate in the macro #}
      {% if policy_uid %}
        {% set download_view_name = 'budget_app.views.entity_article_functional' %}
        {{ panel_downloads(_(tab_titles['functional']), 
                      'functional',
                      csv_type, 
                      csv_id,  
                      csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                      xls_link=url(download_view_name, level, entity.slug, csv_id, 'xlsx') ) }} 
      {% else %}
        {% set download_view_name = 'budget_app.views.entity_article_expenses' if show_side=='expense' 
                                    else 'budget_app.views.entity_article_income'%}
        {{ panel_downloads(_(tab_titles['economic']), 
                      'economic',
                      csv_type, 
                      csv_id,
                      csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                      xls_link=url(download_view_name, level, entity.slug, csv_id, 'xlsx') ) }} 
      {% endif %}
    {% endif %}
      </div>
{% endif %}
    </div>

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

{% include 'shared/modal_embed.html' %}

{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}
{% include 'policies/show_script.html' %}

{% endblock %}