<div id="totals-panel" class="data-panel">
  <div id="main-total" class="panel">
    <div class="panel-title row">
      <div class="col-sm-6">
        <span id="totals-year">FIXME</span>
      </div>
      <div class="col-sm-6 text-right">
        <span class="total-budgeted-label">{{ _('Resultados objetivos') }}</span>
      </div>
    </div>
    <ul class="panel-content">
      <li id="total">
        <div class="main-label">FIXME</div>
        <div class="col-sm-6 text-right">
          <span class="total-budgeted-amount">FIXME %</span>
        </div>
      </li>
    </ul>
  </div>
</div>
