{% from 'policies/show_monitoring_progress_bar.html' import draw_monitoring_progress_bar %}

<section class="policies-breakdown" id="tab-monitoring-content">
  {% include 'policies/show_monitoring_summary.html' %}

  <h3 class="policies-title">Desglose por secciones</h3>

  <ul class="monitoring-list">
    {% for section in monitoring_sections %}
    <li class="monitoring-year-{{ section[0] }}">
      <a class="monitoring-block collapsed"
          data-toggle="collapse"
          href="#section-{{ loop.index }}"
          role="button"
          aria-expanded="false"
          aria-controls="section-{{ loop.index }}">

        <h4 class="monitoring-title">{{ section[2] }}</h4>
        {% set progress = '{0:0.1f}'.format(section[3]/section[4]*100) %}
        {{ draw_monitoring_progress_bar(progress) }}
      </a>

      <div class="collapse" id="section-{{ loop.index }}">
        <h5 class="objectives-title">Objetivos</h5>

        <ol class="goals-list">
          <!-- FIXME: This is VERY temporary code, it's clearly VERY inefficient. Moving to Javascript probably -->
          {% for goal in monitoring_goals %}
            {% if section[1] == goal.institutional_category_id %}
            <li>
              <div>
                <!-- Objective title -->
                <!-- FIXME: Goals are probably not ordered correctly right now, so I'm printing the number myself to check -->
                <h6 class="goal-title">{{ goal.goal_number }} {{ goal.description }}</h6>

                <!-- Objective description -->
                <div class="goal-report">
                  <!-- FIXME: Don't create this if there is no text -->
                  <div class="collapse" id="collapseSummary-{{ loop.index }}">{{ goal.report|safe }}</div>
                  <a class="collapsed"
                    data-toggle="collapse"
                    href="#collapseSummary-{{ loop.index }}"
                    aria-expanded="false"
                    aria-controls="collapseSummary-{{ loop.index }}"></a>
                </div>

                <!-- Activities table -->
                <div class="table-wrapper">
                  <table class="table-activities">
                    <tr>
                      <th>Actividades</th>
                    </tr>
                    {% for activity in monitoring_activities %}
                      {% if activity.goal.id == goal.id %}
                      <tr>
                        <td>{{ activity }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>

                <!-- Indicators table -->
                <div class="table-wrapper">
                  <table  class="table-indicators">
                    <tr>
                      <th>Indicadores</th>
                      <th class="budgeted">Presupuestado</th>
                      <th class="done">Realizado</th>
                      <th class="opacity-0">Cobertura</th>
                    </tr>

                    {% for indicator in monitoring_indicators %}
                      {% if indicator.goal.id == goal.id %}
                        <tr>
                          <td>{{ indicator.description }} <span class="indicator-unit">({{ indicator.unit }})</span></td>
                          <!-- FIXME: Should format these numbers -->
                          <td>{{ indicator.target }}</td>
                          <td>{{ indicator.actual }}</td>
                          <td>
                            <!-- FIXME: The percentage is capped at 100%, because the score is. Isn't it confusing? -->
                            <span
                              class="coverage-icon level-{{ '{0:.0f}'.format((indicator.score)*4) }}"
                              title="{{ '{0:0.1f}'.format(indicator.score*100) }}%"/>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>
                
              </div>
            </li>
            {% endif %}
          {% endfor %}
        </ol>

      </div>
    </li>
    {% endfor %}
  </ul>
</section>
