{% from 'policies/show_monitoring_progress_bar.html' import draw_monitoring_progress_bar %}

<section class="policies-breakdown" id="tab-monitoring-content">
  {% include 'policies/show_monitoring_summary.html' %}

  <h3 class="policies-title">{{ _('Desglose por programa') }}</h3>

  <ul class="monitoring-list">
    {% for programme in monitoring_programmes %}
    <li class="monitoring-year-{{ programme[0] }}">
      <a
        class="monitoring-block collapsed"
        href="{{ url('budget_app.views.programmes_show', programme[2], programme[3]|slugify) }}#view=monitoring&year={{ programme[0] }}">

        <h4 class="monitoring-title">{{ programme[3] }}</h4>
        {% set has_actual_data = monitoring_totals[programme[0]]!='' %}
        {% set programme_data = monitoring_totals_per_programme[programme[1]] %}
        {# Note that `programme_data` only exists when there are indicators for the goals #}
        {% if has_actual_data and programme_data %}
          {% set progress = '{0:0.1f}'.format(programme_data[3]/programme_data[4]*100) %}
          {{ draw_monitoring_progress_bar(progress) }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="panel-downloads">
    <p class="downloads">
      {{ _('Descarga la tabla de <strong>%s</strong> en ')|format(_('Objetivos'))|safe }}
      <a class="icon-file-excel" href="{{ url('budget_app.views.policy_monitoring_breakdown', policy_uid, 'csv') }}" title="{{ _('Descarga la tabla en CSV') }}"><span class="file-info">CSV</span></a>
      o
      <a class="icon-file-excel" href="{{ url('budget_app.views.policy_monitoring_breakdown', policy_uid, 'xlsx') }}" title="{{ _('Descarga la tabla en Excel') }}"><span class="file-info">Excel</span></a>
    </p>
  </div>
</section>