{% extends 'base.html' %}
{% from 'shared/panel_downloads.html' import panel_downloads as panel_downloads %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policies policy-breakdown" role="region" data-field="{{ show_side }}" data-tab="{{ type }}">

  <!-- Politicas Header -->
  <div class="policies-header section-header">

    <div class="container">
      {% if programme %}
      <p class="history-back">
        <a href="{% url 'budget_app.views.policies_show' programme.policy, policy.slug() %}" id="policy-name-link">
          &larr; {{ descriptions['functional'].get(programme.policy) }}
        </a>
      </p>
      <h2 class="page-title">{{ name }}</h2>
      {% else %}
      <p class="history-back">
        {% set targetView = 'functional' if type=='functional' else show_side %}
        <a href="{{ url(show_entity_url, entity.slug) if entity else url('budget_app.views.policies') }}#view={{targetView}}">&larr; {{ _('Volver a Políticas') }}</a>
      </p>
      <h2 class="page-title">{{ entity.name+': ' if entity }}{{ name }}</h2>
      {% endif %}

      <!-- TODO!!! Check if we need this lines -->
      <h2 class="hidden">{{ _('Programas, entidades y conceptos') }}</h2>
      <h2 class="hidden">{{ _('Menú de programas, entidades y conceptos') }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
    {% if full_breakdown %}
      {% if programme is not defined and show_side != 'income' %}
      <li class="active">
        <a href="#functional" title="{{ _(tab_titles['functional']) }}">
          <h3>{{ _(tab_titles['functional']) }}</h3>
        </a>
      </li>
      <li>
        <a href="#economic" title="{{ _(tab_titles['economic']) }}">
          <h3>{{ _(tab_titles['economic']) }}</h3>
        </a>
      </li>
      {% else %}
      <li class="active">
        <a href="#economic" title="{{ _(tab_titles['economic']) }}">
          <h3>{{ _(tab_titles['economic']) }}</h3>
        </a>
      </li>
      {% endif %}
      {% if show_funding_tab %}
      <li>
        <a href="#funding" title="{{ _(tab_titles['funding']) }}">
          <h3>{{ _(tab_titles['funding']) }}</h3>
        </a>
      </li>
      {% endif %}
      {% if show_institutional_tab %}
      <li>
        <a href="#institutional" title="{{ _(tab_titles['institutional']) }}">
          <h3>{{ _(tab_titles['institutional']) }}</h3>
        </a>
      </li>
      {% endif %}
    {% else %}
      {% if policy_uid %}
      <li class="active">
        <a href="#functional" title="{{ _(tab_titles['functional']) }}">
          <h3>{{ _(tab_titles['functional']) }}</h3>
        </a>
      </li>
      {% else %}
      <li class="active">
        <a href="#economic" title="{{ _(tab_titles['economic']) }}">
          <h3>{{ _(tab_titles['economic']) }}</h3>
        </a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
  </div>

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="container tab-content">

      <div class="policies-chart">
        <div id="policy-chart-container" class="chart-container {{ 'treemap-chart' if show_treemap else 'stacked-area-chart' }}">
          <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <h4 class="popover-title"></h4>
            <div class="popover-content">
              <p class="popover-content-year"></p>
              <p class="popover-content-value"></p>
              <p class="popover-content-variation">
                <span class="label"></span> <span class="popover-content-variation-label">{{ _('respecto a') }}</span> <span class="popover-content-variation-year"></span>
              </p>
            </div>
          </div>
          {% if not show_treemap %}
          <span class="chart-embed-btn" data-toggle="modal" data-target="#modal-embed">
            <a href="#"  data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ _('Comparte este gráfico') }}"></a>
          </span>
          {% endif %}
        </div>
      </div>

       <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}

      <!-- Totals Panel -->
      {% include 'entities/totals.html' %}

      <!-- Table Grid -->
      <table id="myGrid" class="table-grid" width="100%"></table>

      <!-- Panel Downloads -->
      <div class="panel-downloads">
    {% if full_breakdown %}
      {% if programme is not defined and show_side != 'income' %}
        {{ panel_downloads(_(tab_titles['functional']), 'functional', csv_type, csv_id) }} 
        {{ panel_downloads(_(tab_titles['economic']), 'economic', csv_type, csv_id) }}
      {% else %}
        {{ panel_downloads(_(tab_titles['economic']), 'economic', csv_type, csv_id) }} 
      {% endif %}
      {% if show_funding_tab %}
        {{ panel_downloads(_(tab_titles['funding']), 'funding', csv_type, csv_id) }} 
      {% endif %}
      {% if show_institutional_tab %}
        {{ panel_downloads(_(tab_titles['institutional']), 'institutional', csv_type, csv_id) }} 
      {% endif %}
    {% else %}
        {# The download links for small entities are too cumbersome to calculate in the macro #}
      {% if policy_uid %}
        {% set download_view_name = 'budget_app.views.entity_article_functional' %}
        {{ panel_downloads(_(tab_titles['functional']), 
                      'functional',
                      csv_type, 
                      csv_id,  
                      csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                      xls_link=url(download_view_name, level, entity.slug, csv_id, 'xlsx') ) }} 
      {% else %}
        {% set download_view_name = 'budget_app.views.entity_article_expenses' if show_side=='expense' 
                                    else 'budget_app.views.entity_article_income'%}
        {{ panel_downloads(_(tab_titles['economic']), 
                      'economic',
                      csv_type, 
                      csv_id,
                      csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                      xls_link=url(download_view_name, level, entity.slug, csv_id, 'xlsx') ) }} 
      {% endif %}
    {% endif %}
      </div>
    </div>

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

{% include 'shared/modal_embed.html' %}

{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}
{% include 'policies/show_script.html' %}

{% endblock %}