{% extends 'base-widget.html' %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
{% if show_treemap %}
<script src="{{ STATIC_URL }}javascripts/vis/bigtext.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
{% else %}
<script src="{{ STATIC_URL }}javascripts/vis/stacked-area-chart.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-stacked-chart.js"></script>
{% endif %}
{% endblock %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policies policy-breakdown" role="region" data-field="{{ show_side }}" data-tab="{{ starting_tab }}">

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="tab-content">

      <!-- Title -->
      {% if programme %}
        <p class="history-back">
          <a href="{% url 'budget_app.views.policies_show' programme.policy, policy.slug() %}" id="policy-name-link" title="{{ descriptions['functional'].get(programme.policy) }}">&larr;</a>
        </p>
        <a href="{{ request.path|urlencode }}" target="_parent" title="{{ name }}">
          <h2 class="page-title">{{ name }}:</h2>
        </a>
      {% else %}
        <a href="{{ request.path|urlencode }}" target="_parent" title="{{ entity.name+': ' if entity }}{{ name }}">
          <h2 class="page-title">{{ entity.name+': ' if entity }}{{ name }}:</h2>
        </a>
      {% endif %}
      
      <!-- Subtitle -->
      <!-- The right one will be shown and the other ones hidden via Javascript -->
      <div class="tab-title">
        <h3 class="functional">{{ _(tab_titles['functional']) }}</h3>
        <h3 class="economic">{{ _(tab_titles['economic']) }}</h3>
        <h3 class="funding">{{ _(tab_titles['funding']) }}</h3>
        <h3 class="institutional">{{ _(tab_titles['institutional']) }}</h3>
      </div>

      <!-- Chart -->
      <div class="policies-chart">
        <div id="policy-chart-container" class="chart-container {{ 'treemap-chart' if show_treemap else 'stacked-area-chart' }}">
          <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-title"></div>
            <div class="popover-content">
              <p class="popover-content-year"></p>
              <p class="popover-content-value"></p>
              <p class="popover-content-variation">
                <span class="label"></span> <span class="popover-content-variation-label">{{ _('respecto a') }}</span> <span class="popover-content-variation-year"></span>
              </p>
            </div>
          </div>
          {% if not show_treemap %}
          <span class="chart-embed-btn" data-toggle="modal" data-target="#modal-embed">
            <a href="#"  data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ _('Comparte este gráfico') }}"></a>
          </span>
          {% endif %}
        </div>
      </div>

      <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}
    </div>
  </div>
</section>

<script type="text/javascript">
  // Show history-back button if we come from other widget
  if (document.referrer.indexOf('?widget=1') !== -1) {
    // Add current url parameters to back button link
    $('.history-back > a').attr('href', $('.history-back > a').attr('href')+window.location.search);
    $('.history-back').show();
  }
</script>

{% include 'shared/policy_paths.html' %}

{% include 'policies/show_script.html' %}

{% endblock %}