{% from 'policies/show_monitoring_progress_bar.html' import draw_monitoring_progress_bar %}

<section class="policies-breakdown" id="tab-monitoring-content">
  {% include 'policies/show_monitoring_summary.html' %}

  <h3 class="policies-title">{{ _('Desglose por programa') }}</h3>

  <ul class="monitoring-list">
    {% for programme in monitoring_programmes %}
    <li class="monitoring-year-{{ programme[0] }}">
      <a
        class="monitoring-block collapsed"
        href="{% url 'budget_app.views.programmes_show' programme[1], programme[2]|slug %}#view=monitoring">

        <h4 class="monitoring-title">{{ programme[2] }}</h4>
        {% set progress = '{0:0.1f}'.format(programme[3]/programme[4]*100) %}
        {{ draw_monitoring_progress_bar(progress) }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>