{% extends 'base-widget.html' %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policies policy-breakdown" role="region" data-field="{{ show_side }}" data-tab="{{ starting_tab }}">

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="tab-content">

      <!-- Title -->
      <p class="history-back">
        {% if programme %}
        <a href="{% url 'budget_app.views.policies_show' programme.policy, policy.slug() %}" id="policy-name-link" title="{{ descriptions['functional'].get(programme.policy) }}">&larr;</a>
        {% else %}
        <a href="{{ url(show_entity_url, entity.slug) if entity else url('budget_app.views.policies') }}#view={{ back_to_tab }}">&larr;</a>
        {% endif %}
      </p>

      <a href="{{ request.path|urlencode }}" target="_blank">
        <h2 class="page-title">{{ entity.name+': ' if entity }}{{ name }}:</h2>
      </a>
      
      <!-- Subtitle -->
      <!-- The right one will be shown and the other ones hidden via Javascript -->
      <div class="tab-title">
      {% for tab in ['functional', 'economic', 'funding', 'institutional'] %}
        {% if breakdowns[tab] %}
        <h3 class="{{ tab }}">{{ _(tab_titles[tab]) }}</h3>
        {% endif %}
      {% endfor %}
      </div>

      <!-- Chart -->
      <div class="policies-chart">
        <div id="policy-chart-container" class="chart-container {{ 'treemap-chart' if show_treemap else 'stacked-area-chart' }}">
          <div class="popover top" role="tooltip">
            <div class="arrow"></div>
            <div class="popover-title"></div>
            <div class="popover-content">
              <p class="popover-content-year"></p>
              <p class="popover-content-value"></p>
              <p class="popover-content-variation">
                <span class="label"></span> <span class="popover-content-variation-label">{{ _("respecto a <span class='popover-content-variation-year'></span>")|safe }}</span>
              </p>
            </div>
          </div>
          {% if not show_treemap %}
          <span class="chart-embed-btn" data-toggle="modal" data-target="#modal-embed">
            <span data-toggle="tooltip" data-placement="left" data-original-title="{{ _('Comparte este gráfico') }}"></span>
          </span>
          {% endif %}
        </div>
      </div>

      <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}

      <!-- Totals Panel -->
      {% include 'entities/totals.html' %}

    </div>
  </div>
</section>

<script type="text/javascript">
  // Show history-back button if we come from other widget
  if (document.referrer.indexOf('?widget=1') !== -1) {
    var link = $('.history-back > a').attr('href');
    if (link.indexOf('#') != -1) {
      var position = link.indexOf('#');
      link = [link.slice(0, position), '?widget=1', link.slice(position)].join('');
    } else {
      link += '?widget=1';
    }
    // Add current url parameters to back button link
    $('.history-back > a').attr('href', link);
    $('.history-back').show();
  }
</script>

{% include 'shared/policy_paths.html' %}

{% include 'policies/show_script.html' %}

{% endblock %}