{% extends 'base.html' %}
{% from 'shared/breakdown_tab.html' import render_tab as render_tab %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
{% if show_treemap %}
<script src="{{ STATIC_URL }}javascripts/vis/bigtext.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
{% else %}
<script src="{{ STATIC_URL }}javascripts/vis/stacked-area-chart.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-stacked-chart.js"></script>
{% endif %}
{% endblock %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policy-breakdown" role="region">

  <!-- Politicas Header -->
  <div class="policies-header section-header">

    <div class="container">
      {% if programme %}
      <p class="history-back">
        <a href="{% url 'budget_app.views.policies_show' programme.policy, policy.slug() %}" id="policy-name-link">
          &larr; {{ descriptions['functional'].get(programme.policy) }}
        </a>
      </p>
      <h2 class="page-title">{{ name }}</h2>
      {% else %}
      <p class="history-back">
        <a href="{{ url(show_entity_url, entity.slug) if entity else url('budget_app.views.policies') }}">&larr; {{ _('Volver a Políticas') }}</a>
      </p>
      <h2 class="page-title">{{ entity.name+': ' if entity }}{{ name }}</h2>
      {% endif %}

      <!-- TODO!!! Check if we need this lines -->
      <h2 class="hidden">{{ _('Programas, entidades y conceptos') }}</h2>
      <h2 class="hidden">{{ _('Menú de programas, entidades y conceptos') }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
    {% if full_breakdown %}
      {% if programme is not defined and show_side != 'income' %}
      <li class="active">
        <a href="#tab-functional"><h3>{{ _(tab_titles['functional']) }}</h3></a>
      </li>
      <li>
        <a href="#tab-economic"><h3>{{ _(tab_titles['economic']) }}</h3></a>
      </li>
      {% else %}
      <li class="active">
        <a href="#tab-economic"><h3>{{ _(tab_titles['economic']) }}</h3></a>
      </li>
      {% endif %}
      {% if show_funding_tab %}
      <li>
        <a href="#tab-funding"><h3>{{ _(tab_titles['funding']) }}</h3></a>
      </li>
      {% endif %}
      {% if show_institutional_tab %}
      <li>
        <a href="#tab-institutional"><h3>{{ _(tab_titles['institutional']) }}</h3></a>
      </li>
      {% endif %}
    {% else %}
      {% if policy_uid %}
      <li class="active">
        <a href="#tab-functional"><h3>{{ _(tab_titles['functional']) }}</h3></a>
      </li>
      {% else %}
      <li class="active">
        <a href="#tab-economic"><h3>{{ _(tab_titles['economic']) }}</h3></a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
  </div>

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="container tab-content">

  {% if full_breakdown %}
    {% if programme is not defined and show_side != 'income' %}
      {{ render_tab(_(tab_titles['functional']), 'functional', csv_type, csv_id, 'active') }} 
      {{ render_tab(_(tab_titles['economic']), 'economic', csv_type, csv_id, '') }}
    {% else %}
      {{ render_tab(_(tab_titles['economic']), 'economic', csv_type, csv_id, 'active') }} 
    {% endif %}
    {% if show_funding_tab %}
      {{ render_tab(_(tab_titles['funding']), 'funding', csv_type, csv_id, '') }} 
    {% endif %}
    {% if show_institutional_tab %}
      {{ render_tab(_(tab_titles['institutional']), 'institutional', csv_type, csv_id, '') }} 
    {% endif %}
  {% else %}
      {# The download links for small entities are too cumbersome to calculate in the macro #}
    {% if policy_uid %}
      {% set download_view_name = 'budget_app.views.entity_article_fexpenses' %}
      {{ render_tab(_(tab_titles['functional']), 
                    'functional', 
                    csv_type, 
                    csv_id, 
                    'active', 
                    csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                    xls_link=url(download_view_name, level, entity.slug, csv_id, 'xls') ) }} 
    {% else %}
      {% set download_view_name = 'budget_app.views.entity_article_expenses' if show_side=='expense' 
                                  else 'budget_app.views.entity_article_income'%}
      {{ render_tab(_(tab_titles['economic']), 
                    'economic', 
                    csv_type, 
                    csv_id, 
                    'active', 
                    csv_link=url(download_view_name, level, entity.slug, csv_id, 'csv'),
                    xls_link=url(download_view_name, level, entity.slug, csv_id, 'xls') ) }} 
    {% endif %}
  {% endif %}
    </div>
  

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

<!-- 
  We render the control panel here initially, and move it to the active tab at run-time.
  Having multiple control panels would mean having to sincronize them, messy.
-->
<div class="hidden">
{% include 'shared/data_controllers.html' %}
</div>

<!-- Same story with the totals -->
<div class="hidden">
  {% include 'entities/totals.html' %}
</div>

<!--
<div id="totals_panel">
  <p class="total" id="main-total">
    <span class="main-label"></span> <b class="main-amount"></b>
    <br/>
    <span class="secondary-label">{{ _('Presupuestados') }}</span> <b class="secondary-amount"></b>
  </p>
</div>
-->

<!--
  We need this markup in order to get uiState.view
  from getActiveButton() in grid_controls.js
-->
<ul id="btn-field" class="hidden">
  <li class="{{ 'active' if show_side=='income' }}">
    <a id="income">{{ _('Ingresos') }}</a>
  </li>
  <li class="{{ 'active' if show_side=='expense' }}">
    <a id="expense">{{ _('¿Cómo se gasta?') }}</a>
  </li>
</ul>


{% if show_treemap %}
<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content"></div>
</div>
{% endif %}

{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}
<script>
  $(function () {
    //
    // GRID RENDERING
    //
    
    // Shows the uid next to an item
    function fullIdFormatter(row, cell, value, columnDef, dataContext) {
      var fullName = (value||'') + " (" + dataContext.key + ")";
      return rowNameFormatter(row, cell, fullName, columnDef, dataContext);
    };

{% if is_chapter %}
    // Convert an article name into a link
    function articleLinkFormatter(row, cell, value, columnDef, dataContext) {
      if ( dataContext.indent==0 )  
        return rowNameFormatter(row, cell, value, columnDef, dataContext);

      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : getIncomeLink;
      var link = getLink('{{ entity.slug }}', dataContext.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter(row, cell, linkedValue, columnDef, dataContext);
    };
{% endif %}

    function getColumnDefinition(uiState, link) {
      return { 
        field: uiState.field,
{% if show_actual %}
        name: "{{ _('Presupuesto') }}",
{% else %}
        name: uiState.field=='expense' ? 'Gastos' : 'Ingresos',       
{% endif %}
        formatter: getFormatter(uiState.format),
        sortable: true, 
        headerCssClass: 'slick-header-right',
        column: uiState.year, 
        getter: getBreakdownValue, 
        year: Number(uiState.year),
        stats: stats,
        width: 150,
        resizable: false
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var label = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.column = "actual_" + uiState.year;
      columnDef.name = getExecutionColumnName(budgetStatuses[uiState.year], label, budgetStatusLabels);
      return columnDef;
    }

    // Do all the hard work of drawing the grids
    var uiState = null;
    function redrawGrid() {
      // Avoid unnecessary redrawings (the slider is trigger happy)
      var newUIState = getUIState();
      if ( uiState && sameUIState(uiState, newUIState) )  return;
      uiState = newUIState;

      // Do work
      var columnDef = getColumnDefinition(uiState);
      var executionColumnDef = getExecutionColumnDefinition(uiState);

      if ( $("#functionalGrid").length > 0 ) {
        $("#functionalGrid").data('grid', createBudgetGrid( "#functionalGrid", 
                          functionalGridData, [
                            {
                              field: "label", 
                              name: "{{ _('Programa') }}",
{% if full_breakdown %}
                              formatter: policyLinkFormatter, 
{% else %}
                              formatter: rowNameFormatter, 
{% endif %}
{% if policy_uid %}
                              programme_level: 0  // Programmes at root level. Used to generate links
{% else %}  // Showing an article
                              programme_level: 1  // Policies at root level. Used to generate links
{% endif %}
                            },
                            columnDef
{% if show_actual %}
                            ,executionColumnDef
{% endif %}
                          ], {
                            explicitInitialization: true
                          }));
      }
      
      if ( $("#economicGrid").length > 0 ) {
        $("#economicGrid").data('grid', createBudgetGrid( "#economicGrid", 
                          economicGridData, [ 
                            {
                              field: "label",
{% if is_chapter %}
                              name: "{{ _('Artículo') }}",
                              formatter: articleLinkFormatter
{% else %}
                              name: "{{ _('Concepto') }}",
                              formatter: rowNameFormatter
{% endif %}
                            },
                            columnDef
{% if show_actual %}
                            ,executionColumnDef
{% endif %}
                          ], {
                            explicitInitialization: true
                          }));
      }

{% if full_breakdown %}
{% if show_institutional_tab %}
      $("#institutionalGrid").data('grid', createBudgetGrid(  "#institutionalGrid", 
                        institutionalGridData, [
                          {field: "label", formatter: rowNameFormatter, name: "{{ _('Entidad') }}"},
                          columnDef
{% if show_actual %}
                          ,executionColumnDef
{% endif %}
                        ], {
                          explicitInitialization: true
                        }));
{% endif %}

{% if show_funding_tab %}
      $("#fundingGrid").data('grid', createBudgetGrid(  "#fundingGrid", 
                        fundingGridData, [
                          {field: "label", formatter: rowNameFormatter, name: 'Fondo'},
                          columnDef
{% if show_actual %}
                          ,executionColumnDef
{% endif %}
                        ], {
                          explicitInitialization: true
                        }));
{% endif %}

{% endif %}

      // Total amounts are the same whichever way you break down the items, so any breakdown will do
      var breakdown = economicBreakdown,
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year],
          getTotal = function(breakdown) { return (breakdown[uiState.field][uiState.year]||0); },
          getActualTotal = function(breakdown) { return (breakdown[uiState.field]['actual_'+uiState.year]||0); },
          format = function(amount) { return columnDef.formatter(0, 0, amount, columnDef, breakdown); },
          formatActual = function(amount) { return columnDef.formatter(0, 0, amount, executionColumnDef, breakdown); };

      if ( hasActualData ) {
        $("#main-total .total-executed").show();
        $("#main-total .total-executed-amount").text(formatActual(getActualTotal(breakdown)));
        $("#main-total .total-budgeted-amount").text(format(getTotal(breakdown)));
      } else {
        $("#main-total .total-executed").hide();
        $("#main-total .total-budgeted-amount").text(format(getTotal(breakdown)));
      }

      // Update year label
      $('#totals-year').text(uiState.year);

      var label = uiState.view == 'income' ? '{{ _("Total ingresos") }}' : '{{ _("Total gastos") }}';
      $("#main-total .main-label").html(label+getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels))

      onTabSwitch();
    }    


    //
    // POLICY DATA
    //
    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D': '{{ _("a día de hoy") }}'
    };

    // The income and expense descriptions for the economic breakdowns do not match,
    // i.e. the same code, '2', means different things for income and expenses, so
    // we need to use the right descriptions
    var economicBreakdown = {{ economic_breakdown.to_json( labels=descriptions[show_side] )|safe }};
    var economicGridData = breakdownToTable(economicBreakdown);

    var functionalBreakdown = {{ functional_breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var functionalGridData = breakdownToTable(functionalBreakdown);

{% if full_breakdown %}
    var institutionalBreakdown = {{ institutional_breakdown.to_json( labels=descriptions['institutional'] )|safe }};
    var institutionalGridData = breakdownToTable(institutionalBreakdown);

    var fundingBreakdown = {{ funding_breakdown.to_json( labels=descriptions['funding'] )|safe }};
    var fundingGridData = breakdownToTable(fundingBreakdown);
{% endif %}

    var i18n = {
      'budgeted': '{{ _("Presupuestado") }}'
    };

    // Link to policy handlers
    function onProgrammeSelected(event, d) {
{% if article %}
      window.location=getPolicyLink(d.id, d.label, getUIState());
{% else %}
      window.location=getProgrammeLink(d.id, d.label, getUIState());
{% endif %}
    }
  
    // Setup Graph
    function setupGraph(chartWidth, container, breakdown, areas) {

      var colorScale = {{ color_scale|safe }};

      // We explicitely set the dimensions of the container, otherwise we got an strange behaviour in 
      // an iPad, where the height of the chart would explode for no apparent reason
      //$(container).css('width', chartWidth);
      //$(container).css('height', chartWidth/2);
      {% if show_treemap %}
      var treemap = new BudgetTreemap(container, breakdown, stats, areas, 2, colorScale).i18n(i18n).maxLevels(2).budgetStatuses(budgetStatuses);
      treemap.createTreemap(getUIState());
      treemap.updateTreemap(getUIState());
      $(container).data('chart', treemap);
      {% else %}
      var chart = new BudgetStackedChart(container, stats, colorScale, i18n).budgetStatuses(budgetStatuses);
      $(container).data('chart', chart);
      chart.loadBreakdown(breakdown, '{{ show_side }}');
      {% endif %}
    };

{% if programme is not defined and show_side != 'income' %}
    var chartWidth = $('#functionalChartContainer').width();
    var functionalAreas = {{ functional_areas|safe }};
    setupGraph( chartWidth, 
                '#functionalChartContainer', 
                functionalBreakdown,
                functionalAreas);
    $('#functionalChartContainer').bind('area-selected', onProgrammeSelected);
{% endif %}

{% if full_breakdown or article %}
    if ( chartWidth == undefined )
    var chartWidth = $('#economicChartContainer').width();
    var economicAreas = {{ (expense_areas if show_side=='expense' else income_areas)|safe }};
    setupGraph( chartWidth, 
                '#economicChartContainer', 
                economicBreakdown,
                economicAreas);
{% endif %}

{% if full_breakdown %}
    var fundingAreas = {{ funding_areas|safe }};
    setupGraph( chartWidth, 
                '#fundingChartContainer', 
                fundingBreakdown,
                fundingAreas);
{% endif %}


    //
    // TABS
    //
    // Activar tabs de Política
    $('#tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      // Callback to do some initialization (grid, controllers...) on tab switch
      onTabSwitch();
    });


    function onTabSwitch() {
      var currentTab = $(".policy-breakdown .tab-pane.active");

      // XXX: This shouldn't be necessary, but there seems to be a bug in Chrome 38 (not 39 afaik):
      // if we hide a tab all its elements should be hidden too, but recently, and only in Chrome,
      // when switching tabs, we sometimes end up with traces of the previous grid. So we go one step
      // further and hide the non-active grids when we switch a tab.
      $('div.table-grid').hide();
      currentTab.find('.table-grid').show();

      // SlickGrid can't be initialized in a tab that is not visible, so we set explicitInitialization
      // to true, and tell the grid to initialize itself when the time comes, i.e. when the tab is visible
      var currentGrid = currentTab.find('.table-grid').data('grid');
      if ( currentGrid != undefined )
        currentGrid.init();

      // Similar story for the charts
      var currentChart = currentTab.find('.chart-container').data('chart');
      if ( currentChart != undefined )
{% if show_treemap %}
        currentChart.updateTreemap(getUIState());
{% else %}
        currentChart.draw(getUIState());
{% endif %}

      // Move controller panel to the right tab
      var control_panel = $(".data-controllers").detach();
      control_panel.appendTo(currentTab.find(".data-controllers-placeholder"));

      // Same with totals...
      var totals = $("#totals-panel").detach();
      totals.appendTo(currentTab.find(".totals-placeholder"));
    }


    //
    // LOCATION HASH
    //
    function unfoldItem(gridData, itemId) {
      var found = false;
      for ( i=0; i<gridData.length && !found; i++ ) {
        if ( gridData[i].key == itemId ) {
          var parent = gridData[i].parent;
          while (parent != null) {
            parent._expanded = true;
            parent = parent.parent;
          }
          found = true;
        }
      }
      return found;
    }

    function parseLocationHash() {
      state = $.deparam.fragment();

      // Highlight a particular item
      if ( state.item ) {
        unfoldItem(economicGridData, state.item);
        redrawGrid();
        window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);
      } else {
        redrawGrid();
      }
    }

    // Handle the hash the page may have loaded with.
    parseLocationHash();

    // Control Setup
    $('#select-format').change(redrawGrid);
    initSlider("#year-selection", {{ years|safe }}, redrawGrid, {{ latest_year }}, {{ years_scale|safe }});
  })
</script>
{% endblock %}