<script>
  $(function () {
    //
    // GRID RENDERING
    //

{% if is_chapter %}
    // Convert an article name into a link
    function articleLinkFormatter(value, type, item) {
      if ( item.indent==0 )
        return rowNameFormatter(value, type, item);

      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : getIncomeLink;
      var link = getLink('{{ entity.slug }}', item.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter(value, type, item);
    };
{% endif %}

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
{% if show_actual %}
        title: "{{ _('Presupuestado') }}",
{% else %}
        title: uiState.field=='expense' ? "{{ _('Gastos') }}" : "{{ _('Ingresos') }}",
{% endif %}
        data: getBreakdownValue,
        render: Formatter.getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

    function getLabelColumnTitle(tab) {
      var titles = {
{% if is_chapter %}
        'economic': "{{ _('Artículo') }}",
{% else %}
        'economic': "{{ _('Concepto') }}",
{% endif %}
        'functional': "{{ _('Programa') }}",
        'institutional': "{{ _('Entidad') }}",
        'funding': "{{ _('Fondo') }}"
      };
      return titles[tab];
    }

    function getLabelColumnRender(tab) {
      var renders = {
{% if is_chapter %}
        'economic': articleLinkFormatter,
{% else %}
        'economic': rowNameFormatter,
{% endif %}
{% if full_breakdown %}
  {% if programme_id %}
        'functional': getPolicyLinkFormatter(-1), // Subprogrammes at root level
  {% elif policy_uid %}
        'functional': getPolicyLinkFormatter(0),  // Programmes at root level
  {% else %}  // Showing an article
        'functional': getPolicyLinkFormatter(1),  // Policies at root level
  {% endif %}
{% else %}
        'functional': rowNameFormatter
{% endif %}
{% if show_section_pages %}
        'institutional': sectionLinkFormatter,
{% else %}
        'institutional': rowNameFormatter,
{% endif %}
        'funding': rowNameFormatter
      };
      return renders[tab];
    }


    //
    // POLICY DATA
    //
    var stats = {{ stats|safe }};
    var years = {{ years|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};

{% if include_financial_chapters %}
    var includeFinancialChapters = true;
{% else %}
    var includeFinancialChapters = false;
{% endif %}

    var breakdowns = {
      {% for tab in ['functional', 'economic', 'funding', 'institutional'] %}
      '{{tab}}': {{ breakdowns[tab].to_json( labels=descriptions[tab] )|safe if breakdowns[tab] else 'null' }},
      {% endfor %}
    }

    // Grid Data onjets
    var gridData = {};
    $.each(breakdowns, function(name, b) { gridData[name] = breakdownToTable(b); });

    // Areas Data object
    var areasData = {
      'economic':       {{ (expense_areas if show_side=='expense' else income_areas)|safe }},
      'functional':     {{ functional_areas|safe if functional_areas else 'null' }},
      'funding':        {{ funding_areas|safe if funding_areas else 'null' }},
    };
    

    //
    // SETTING ELEMENTS
    //
    var myGrid,
        uiState       = null,
        currentChart  = null,
        i18n          = { 
          'budgeted': '{{ _("Presupuestado.StackedArea") }}',
          'proposed': '{{ _("Proyecto.StackedArea") }}',
          'table': {
            'sortAscending': '{{ _(": Clicar para ordenar ascendentemente") }}',
            'sortDescending': '{{ _(": Clicar para ordenar descendentemente") }}'
          }
        };

    //Update Tab
    function updateTab() {
      uiState = getUIState();
      
      // Update current tab (if is not widget)
      if (!$('body').hasClass('widget')) {
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
        $('#tab-title').html( $('#tabs .active a').html() );
      // Setup widget tab title
      } else {
        $('.tab-title h3.'+uiState.view).show();
      }
      redraw();
    }

    // Update Year
    function updateYear() {
      uiState = getUIState();
      redrawGrid()
    }

    // Redraw all
    function redraw(){
      uiState = getUIState();
    
      // Show/hide panel downloads
      $('.panel-downloads > p').hide();
      $('#'+uiState.view+'-downloads').show();

      redrawChart();
      redrawGrid();
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {

      // Do work
      var columnDef = getColumnDefinition(uiState);
      var executionColumnDef = getExecutionColumnDefinition(uiState);
      var addEconomicCategoriesPrefix = {{ 'true' if add_economic_categories_prefix else 'false' }};


      if ($('#myGrid').length > 0 ) {
        if ( myGrid !== undefined ) myGrid.destroy();

        myGrid = createBudgetGrid( "#myGrid", gridData[uiState.view], [
                            {
                              data: addEconomicCategoriesPrefix && uiState.view=='economic' ?
                                      addEconomicCategoryPrefix :
                                      'label',
                              title: getLabelColumnTitle(uiState.view),
                              render: getLabelColumnRender(uiState.view),
                            },
                            columnDef
{% if show_actual %}
                            ,executionColumnDef
{% endif %}
                          ], i18n.table);
      }

      // Get breakdown
      var breakdown = breakdowns['economic'],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];

      // Hide totals panel if format is '% of total'
      if ( uiState.format === 'percentage' ) {
        $('#totals-panel').hide();
      } else {
        $('#totals-panel').show();
      }

      // Set total labels
      var executedLabel = uiState.field == 'income' ? '{{ _("Ingresado") }}' : '{{ _("Gastado") }}',
          mainLabel = '{{ name }}',
          executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);
      
      TotalHelpers.setLabels(uiState.year+' '+executionLabelPostfix, executedLabel, mainLabel, includeFinancialChapters);

      // Set total budgeted amounts
      TotalHelpers.setEconomicTotals(breakdown, columnDef, '.total-budgeted', includeFinancialChapters);

      // Show total budgeted executed if hasActualData or clear otherwise
      if ( hasActualData ) {
        TotalHelpers.setEconomicTotals(breakdown, executionColumnDef, '.total-executed');
      } else {
        TotalHelpers.clear('.total-executed');
      }

      // Hide financial/non-financial rows if has same value than total
      if ( !includeFinancialChapters ) {
        var totalBudgeted = $('#total .total-budgeted-amount').html(),
            totalExecuted = $('#total .total-executed-amount').html();
        if ( ($('#non-financial-total .total-budgeted-amount').html() === totalBudgeted || $('#financial-total .total-budgeted-amount').html() === totalBudgeted) && ($('#non-financial-total .total-executed-amount').html() === totalExecuted || $('#financial-total .total-executed-amount').html() === totalExecuted) ) {
          $('#non-financial-total, #financial-total').hide();
        } else {
          $('#non-financial-total, #financial-total').show();
        }
      }
    }

    function redrawChart() {
      if (uiState === null) return;

      // We skip chart setup in institutional tab
      if (uiState.view === 'institutional'){
        $('#policy-chart-container .stacked-area-chart').remove();
        $('#policy-chart-container .stacked-area-chart-legend').remove();
        $('.policies-chart').hide();
        return;
      } else {
        $('.policies-chart').show();
      }

      // Setup Graph
      var colorScale = {{ color_scale|safe }};
      var labelsMinSize = {{ treemap_labels_min_size }};
      var labelsFontSizeMin = {{ treemap_labels_font_size_min }};

      // Setup treemap chart
      {% if show_treemap %}
      if (currentChart !== null) $('#policy-chart-container .treemap-chart').remove();

      // Create Budget Treemap
      var currentChart = new BudgetTreemap('#policy-chart-container', stats, budgetStatuses)
        .colors(colorScale)
        .labelsMinSize(labelsMinSize)
        .labelsFontSizeMin(labelsFontSizeMin)
        .treeLevels(2)
        .setup()
        .update(breakdowns[uiState.view], areasData[uiState.view], uiState, null);

      // Resize treemap
      $(window).resize( currentChart.resize );

      // Add area click event
      if (uiState.view == 'functional') {
        $('#policy-chart-container').bind('policy-selected', onItemSelected);
      } else {
        $('#policy-chart-container .node').css('cursor', 'auto');
      }

      // Setup stacked area chart
      {% else %}
      currentChart = new BudgetStackedChart('#policy-chart-container', stats, colorScale, i18n)
        .budgetStatuses(budgetStatuses)
        .loadBreakdown(breakdowns[uiState.view], uiState.field)
        .draw(uiState);
      // Add area click event if type is functional
      if (uiState.view == 'functional') {
        $('#policy-chart-container .stacked-area-chart').addClass('clickable');
        $('#policy-chart-container').bind('area-selected', onItemSelected);
      }
      {% endif %}
    };

    // Link to policy handlers
    function onItemSelected(event, d) {
      // Avoid link in other tabs different from functional
      if (uiState.view != 'functional') return;

      var widget = $('body').hasClass('widget') ? '?widget=1' : '';
      var label = (event.view == 'policy-selected') ? d.name : d.label;

{% if policy_uid %}
      window.location = getProgrammeLink(d.id, label, getUIState())+widget;
{% elif programme_id %}
      window.location = getSubprogrammeLink(d.id, label, getUIState())+widget;
{% else %}
      window.location = getPolicyLink(d.id, label, getUIState())+widget;
{% endif %}
    }

    // Control Setup
    $('#select-format').change(redraw);
    initSlider('#year-selection', years, updateYear, {{ starting_year }});

    // Handle the hash the page may have loaded with.
    var state = $.deparam.fragment();
    if ( state.item ) { // Highlight a particular item
      unfoldItem( gridData[getUIState().view], state.item );
      window.setTimeout(function() {
        $('html, body').animate({ scrollTop: $('#myGrid').offset().top }, 500);
      }, 1000);
    }

    // Setup tabs navigation
    setRedrawOnTabsChange('#tabs', updateTab);

    setRedrawOnSliderChange('#year-selection', {{ starting_year }}, redraw);

    // Add click embed btn event
    $('.data-controllers .chart-embed-btn').click(function(e){
      e.preventDefault();
      var url   = window.location.protocol+'//'+window.location.host+window.location.pathname+'?widget=1'+window.location.hash;
      var code  = '<iframe src="'+url+'" width="100%" scrolling="no" marginheight="0" frameborder="0"></iframe><\script type="text/javascript" src="'+window.location.origin+'/static/javascripts/iframeResizer.min.js"\>\<\/script\>\<script type="text/javascript"\>iFrameResize();\<\/script\>';
      $('#modal-embed .modal-body textarea').val( code );
    });
  })
</script>