*pyc
.DS_Store
/bin
/static
local_settings*py
fabfile.*
presupuesto-*
presupuesto_*
/.sass-cache
.env
/env
/env3
import
sys.path
.python-version
.node-version
budget_app/templates
/node_modules
/budget_app/static/javascripts/vis/d3-bundle.js
