<script type="text/javascript">
  $(function () {
    var policyData = {{ monitoring_data|safe }};
    var years = {{ monitoring_years|safe }};
    var starting_year = {{ last_monitoring_year }};
    var policyi18n = "{{ request.LANGUAGE_CODE }}" === "es" ? POLICYi18nES : POLICYi18nEN;

    // Generate URLs for each policy
    policyData.forEach(function(policy) {
      policy.url = getPolicyLink(policy.code, policy.label)+"#view=monitoring";
    });

    // Create Policy RadialViz
    var policyRadialViz = new PolicyRadialViz('#policy-radial-viz', policyData, policyi18n)
      .setup()
      .update(starting_year);

    // Setup year navigation
    initSlider("#year-selection", years, starting_year);
    setRedrawOnSliderChange("#year-selection", starting_year, onYearChange);

    // Add click embed btn event
    setEmbedModal();

    function onYearChange() {
      policyRadialViz
        .update(getUIState().year)
    }
  });
</script>