{% extends 'base-widget.html' %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}javascripts/vis/monitoring-policy-data.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/monitoring-i18n-es.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/monitoring-i18n-en.js"></script>
{% endblock %}

{% block content %}

<section class="monitoring" data-tab="area">
  <div class="monitoring-content">
    <div class="container">
      <div id="policy-radial-viz">
        <svg></svg>
      </div>
    </div>

    <div class="container tab-content">
      {% include 'shared/data_controllers.html' %}
    </div>
  </div>
</section>

{% include 'monitoring/index_script.html' %}

{% endblock %}