<script type="text/javascript">
  $(function () {
    var policyData = {{ monitoring_data|safe }};
    var policyi18n = "{{ request.LANGUAGE_CODE }}" === "es" ? POLICYi18nES : POLICYi18nEN;

    // FIXME: hardcoded years
    var years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022];
    var starting_year = 2021;

    // Create Policy RadialViz
    var policyRadialViz = new PolicyRadialViz('#policy-radial-viz', policyData, policyi18n)
      .setup()
      .update(starting_year);

    // Setup year navigation
    initSlider("#year-selection", years, starting_year);
    setRedrawOnSliderChange("#year-selection", starting_year, onYearChange);

    // Add click embed btn event
    setEmbedModal();

    function onYearChange() {
      policyRadialViz
        .update(getUIState().year)
    }
  });
</script>