<div class="container" style="border:1px solid lightgrey;">
  <div id="policy-radial-viz" style="border:1px solid lightgrey;">
    <svg></svg>
  </div>
</div>

<style>
  #policy-radial-viz > svg {
    display: block;
    margin: 0 auto;
    border: 1px solid pink;
  }
  .hidden-tick {
    visibility: hidden;
  }

  /* Temporal,  debugging */
  /* .titleVizGroup {
    display: none!important;
  } */
  /* .percentage-group {
    opacity: 1!important;
    visibility: visible!important;
  } */
</style>

<script type="text/javascript">
  $(function () {
  
    var policyData = POLICYDATA;
    var policyi18nES = POLICYi18nES;
    var policyi18nEN = POLICYi18nEN;

    // FIXME: hardcoded years
    var years = [2017, 2018, 2019, 2020, 2021, 2022];
    var starting_year = 2021;

    // Create Policiy RadialViz
    var policyRadialViz = new PolicyRadialViz('#policy-radial-viz', policyData, policyi18nES)
      .setup()
      .update(starting_year);

    // Setup year navigation
    initSlider("#year-selection", years, starting_year);
    setRedrawOnSliderChange("#year-selection", starting_year, onYearChange);

    // Add click embed btn event
    setEmbedModal();

    function onYearChange() {
      // console.log("Año: "+getUIState().year);
      policyRadialViz
        .update(getUIState().year)
    }
  });

</script>
