<!-- FIXME: Temporary solution until we bring in the viz code from Observable -->

<center>

<div id="observablehq-chart-33352eb6"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
import define from "https://api.observablehq.com/@carmen-tm/objetivos-madrid_v01.js?v=3";
new Runtime().module(define, name => {
  if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-33352eb6"));
  return ["watcher"].includes(name);
});
</script>

</center>