<!-- FIXME: Temporary solution until we bring in the viz code from Observable -->

  <div class="container" style="border:1px solid lightgrey;">
    <div id="policy-radial-viz" style="border:1px solid lightgrey;">
      <svg></svg>
    </div>
  </div>

<style>
  #policy-radial-viz > svg {
    display: block;
    margin: 0 auto;
    border: 1px solid pink;
  }
  .hidden-tick {
    visibility: hidden;
  }
</style>

<!-- Temporal: Last d3 versionv07 -->
<!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->

<script type="text/javascript">
  $(function () {
  
    var policyData = POLICYDATA;
    var policyDetails = POLICYDETAILS;
    // console.log(policyData);
    // console.log(policyDetails);

    // Create Policiy RadialViz
    var policyRadialViz = new PolicyRadialViz('#policy-radial-viz', policyData, policyDetails)
      .setup()
      .update(2021);

  });

</script>
