<div class="policies-chart" aria-hidden="true">
  <div id="budget-summary"></div>
  <div id="budget-treemap" class="chart-container treemap-chart">
    <div class="popover top" role="tooltip">
      <div class="arrow"></div>
      <p class="popover-subtitle"></p>
      <div class="popover-title"></div>
      <div class="popover-content">
        <span class="popover-content-value"></span>
      </div>
    </div>
  </div> 
  <p class="no-data-alert">{{ _('Información no disponible') }}</p>
</div>