{% extends 'base-widget.html' %}
{% from 'shared/entity_select.html' import render_entity_select as render_entity_select %}

{% block content %}

<!-- Politicas -->
<section class="policies" role="region">

  <!-- Policies Content -->
  <div class="policies-content">

      <a href="{{ request.path|urlencode }}" target="_blank">
        <h2 class="page-title">{{ _('Políticas') }}</h2>
      </a>

      <!-- Policies Chart -->
      {% include 'entities/policies-chart.html' %}

      {% if entities %}
      {{ render_entity_select('entity-select', entities, entity) }}
      {% endif %}

      {% include 'shared/data_controllers.html' %}

      {% include 'entities/totals.html' %}

  </div>
</section>

{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}

{% include 'entities/show_script.html' %}

{% endblock %}