<script>
  $(function () {

    // Variable Definitions
    var uiState = null;
    var stats = {{ stats|safe }};
    var years = {{ years|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
{% if include_financial_chapters %}
    var includeFinancialChapters = true;
{% else %}
    var financialExpenseBreakdown = {{ breakdowns['financial_expense'].to_json()|safe }},
        includeFinancialChapters = false;
{% endif %}
    var breakdowns = {
      'income':        {{ breakdowns['economic'].to_json( labels=descriptions['income'] )|safe }},
      'functional':    {{ breakdowns['functional'].to_json( labels=descriptions['functional'] )|safe }},
      'expense':       {{ breakdowns['economic'].to_json( labels=descriptions['expense'] )|safe }},
      'institutional': {{ breakdowns['institutional'].to_json( labels=descriptions['institutional'] )|safe if breakdowns['institutional'] else 'null'  }},
    };
    var gridData = {};
    var myGrid;
    var areas = {
      'income':        {{ income_areas|safe }},
      'functional':    {{ functional_areas|safe }},
      'expense':       {{ expense_areas|safe }},
      'institutional': {{ institutional_areas|safe }},
    }
    var i18n          = { 
      'Presupuestado': 'Presupuestado',
      'table': {
        'sortAscending': '{{ _(": Clicar para ordenar ascendentemente") }}',
        'sortDescending': '{{ _(": Clicar para ordenar descendentemente") }}'
      }
    };
    var colorScale    = {{ color_scale|safe }};
    var labelsMinSize = {{ treemap_labels_min_size }};
    var labelsFontSizeMin = {{ treemap_labels_font_size_min }};

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        title: '{{ _("Presupuestado") }}',
        data: getBreakdownValue,
        render: Formatter.getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

{% if entities %}
    // Convert an article name into a link
    function getEntityLinkFormatter(value, type, item) {
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getFunctionalLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : (uiState.view == 'income' ? getIncomeLink : getFunctionalLink);
      var link = getLink('{{ entity.slug }}', item.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter;
    };
{% else %}
    // The top level and small entities have different URLs at this point
    function getEntityLinkFormatter(value, type, item) {
      if ( uiState.view == 'functional' )
        var formatter = getPolicyLinkFormatter();
      else if ( uiState.view == 'expense' )
        var formatter = expenseArticleLinkFormatter;
      else if ( uiState.view == 'institutional' )
        var formatter = {{ 'sectionLinkFormatter' if show_section_pages else 'rowNameFormatter' }};
      else
        var formatter = incomeArticleLinkFormatter;
      return formatter;
    }
{% endif %}

    //Update Tab
    function updateTab() {
      uiState = getUIState();

      // Update current tab (if is not widget)
      if (!$('body').hasClass('widget')) {
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
        $('#tab-title').html( $('#tabs .active a').html() );
      }
      // Setup widget tab title
      else{
        $('.tab-title h3.'+uiState.view).show();
      }

      // Show/hide download links based on view
      $('.panel-downloads .downloads').addClass('hidden');
      $('#'+uiState.view +'-downloads').removeClass('hidden');
      
      // Redraw
      redraw();
    }

    function redraw() {
      // Update uiState
      uiState = getUIState();
      if (years.indexOf(uiState.year) == -1) return;
      
      // Do work
      var columnDef                   = getColumnDefinition(uiState),
          executionColumnDef          = getExecutionColumnDefinition(uiState),
          addEconomicCategoriesPrefix = {{ 'true' if add_economic_categories_prefix else 'false' }},
          columnNames                 = {
            'functional': '{{ _("Política") }}',
            'expense': '{{ _("Artículo") }}',
            'income': '{{ _("Artículo") }}',
            'institutional': '{{ _("Organismo") }}',
          };

      // Setup myGrid if exist item #myGrid
      if ($('#myGrid').length > 0) {

        if (myGrid !== undefined) {
          myGrid.destroy();
        }

        myGrid = createBudgetGrid("#myGrid", gridData[uiState.view], [
          {
            data: addEconomicCategoriesPrefix && uiState.view!='functional' && uiState.view!='institutional' ?
                    addEconomicCategoryPrefix :
                    'label',
            title: columnNames[uiState.view],
            render: getEntityLinkFormatter()
          },
          columnDef
{% if show_actual %}
          ,executionColumnDef
{% endif %}
        ], i18n.table);
      }

      // Get breakdown
      var breakdown = breakdowns[uiState.view],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];

      // Hide totals panel if format is '% of total'
      if ( uiState.format === 'percentage' ) {
        $('#totals-panel').hide();
      } else {
        $('#totals-panel').show();
      }

      // Set total labels
      var executedLabel = uiState.view == 'income' ? '{{ _("Ingresado") }}' : '{{ _("Gastado") }}',
          executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);

      TotalHelpers.setLabels(uiState.year+' '+executionLabelPostfix, executedLabel, '{{ _("Total") }}', includeFinancialChapters);


      var setTotals = (uiState.view === 'functional' || uiState.view === 'institutional') ?
                        TotalHelpers.setFunctionalTotals :
                        TotalHelpers.setEconomicTotals;
      
      // Set total budgeted amount
      setTotals(breakdown, columnDef, '.total-budgeted', includeFinancialChapters, (!includeFinancialChapters) ? financialExpenseBreakdown : null);

      // Show total budgeted executed if hasActualData or clear otherwise
      if ( hasActualData ) {
        setTotals(breakdown, executionColumnDef, '.total-executed', includeFinancialChapters, (!includeFinancialChapters) ? financialExpenseBreakdown : null);
      } else {
        TotalHelpers.clear('.total-executed');
      }
    
      if (uiState !== null) {

        // Setup & Update Budget Summary
        budgetSummary.update( breakdowns[uiState.view], areas[uiState.view], uiState.field, uiState.view, uiState.year );

        // Setup & Update Budget Treemap
        // XXX: How many levels of institutional breakdown to show is subject to debate. See #347.
        budgetTreemap
          .treeLevels( uiState.view==='institutional' ? {{ institutional_max_levels }} : 1 )
          .update( breakdowns[uiState.view], areas[uiState.view], uiState, budgetTreemapMaxValue );
      }

      // Show an alert if no data is available
      if ( myGrid === undefined || myGrid.page.info().recordsDisplay != 0 ) {
        $('.no-data-alert').hide();
      } else {
        $('.no-data-alert').show();
      }
    }

    // Listen click on Treemap & link to selected programme
    function onBudgetTreemapClick(e, d) {
      var widget = $('body').hasClass('widget') ? '?widget=1' : '';
{% if entities %}
      var getExpenseLink    = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }},
          getFunctionalLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }},
          getIncomeLink     = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }},
          entitySlug        = '{{ entity.slug }}';

      if (uiState.view === 'expense') {
        window.location = getExpenseLink(entitySlug, d.id)+widget;
      } else if (uiState.view === 'functional') {
        window.location = getFunctionalLink(entitySlug, d.id)+widget;
      } else if (uiState.view === 'income') {
        window.location = getIncomeLink(entitySlug, d.id)+widget;
      }
{% else %}
      if (uiState.view === 'expense') {
        window.location = getExpenseArticleLink(d.id, d.name)+widget;
      } else if (uiState.view === 'functional') {
        window.location = getPolicyLink(d.id, d.name)+widget;
      } else if (uiState.view === 'income') {
        window.location = getIncomeArticleLink(d.id, d.name)+widget;
      } else if (uiState.view === 'institutional') {
{% if show_section_pages %}
        window.location = getSectionLink(d.id, d.name)+widget;
{% endif %}
      }
{% endif %}
    }

    // Listen mouse over Summary item
    function onBudgetSummaryOver(e, d) {
      budgetTreemap.areaOver(d);
    }

    // Listen mouse out Summary item
    function onBudgetSummaryOut(e) {
      budgetTreemap.areaOut();
    }

    // Get global treemaps max value
    function getBudgetTreemapMaxValue() {
      var dumpUIState = getUIState(),
          states = [
            {view: 'functional', field: 'expense'},
            {view: 'expense', field: 'expense'},
            {view: 'income', field: 'income'},
{% if breakdowns['institutional'] %}
            {view: 'institutional', field: 'expense'}
{% endif %}
          ],
          dumpTreemap = new BudgetTreemap('#budget-treemap', stats, budgetStatuses, null),
          maxValues = [];

      states.forEach(function(d){
        dumpUIState.view = d.view;
        dumpUIState.field = d.field;
        maxValues.push( dumpTreemap.getMaxValue( breakdowns[d.view], areas[d.view], dumpUIState ) );
      });

      return d3.max(maxValues);
    }


    // Initialization

    // Set gridData
    for (var item in breakdowns) {
      gridData[item] = breakdownToTable( breakdowns[item] );
    }

    // Create Budget Summary
    var budgetSummary = new BudgetSummary('#budget-summary')
      .colors(colorScale)
      .setup();

    // Get Treemap Max Value
    var budgetTreemapMaxValue = null;
{% if treemap_global_max_value %} 
    budgetTreemapMaxValue = getBudgetTreemapMaxValue();
{% endif %};

    // Create Budget Treemap
    var budgetTreemap = new BudgetTreemap('#budget-treemap', stats, budgetStatuses)
      .colors(colorScale)
      .labelsMinSize(labelsMinSize)
      .labelsFontSizeMin(labelsFontSizeMin)
      .setup();

    // Resize treemap
    $(window).resize( budgetTreemap.resize );

    // Listen BudgetTreemap & BudgetSummary events
    $('#budget-treemap').bind('policy-selected',     onBudgetTreemapClick);
    $('#budget-summary').bind('budget-summary-over', onBudgetSummaryOver);
    $('#budget-summary').bind('budget-summary-out',  onBudgetSummaryOut);

    // Set up controls (format selector & year slider)
    $('#select-format').change(function() {
{% if treemap_global_max_value %} 
      budgetTreemapMaxValue = getBudgetTreemapMaxValue();
{% endif %};
      redraw();
    });
      
    initSlider('#year-selection', years, redraw, {{ starting_year }});

    // Entity select dropdown
    $('#entity-select').submit(function(e) {
      e.preventDefault();
      entity_slug = $('#entity-select select').val();
      if ( entity_slug != '' ) {
        window.location.href = {{ 'getCountyCompareLink' if is_county else 'getTownCompareLink' }}('{{ entity.slug }}', entity_slug);
      }
    });

    // Setup tabs navigation
    // This will also show the tab selected in the URL hash (if any). Do it
    // before creating the treemaps, so the active one has time to render fully.
    setRedrawOnTabsChange('#tabs', updateTab);

    setRedrawOnSliderChange('#year-selection', {{ starting_year }}, redraw);

    // Add click embed btn event
    $('.data-controllers .chart-embed-btn').click(function(e){
      e.preventDefault();
      var url   = window.location.protocol+'//'+window.location.host+window.location.pathname+'?widget=1'+window.location.hash;
      var code  = '<iframe src="'+url+'" width="100%" scrolling="no" marginheight="0" frameborder="0"></iframe><\script type="text/javascript" src="'+window.location.origin+'/static/javascripts/iframeResizer.min.js"\>\<\/script\>\<script type="text/javascript"\>iFrameResize();\<\/script\>';
      $('#modal-embed .modal-body textarea').val( code );
    });
  });
</script>