<script>
  $(function () {

    // Variable Definitions
    var uiState = null;
    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D':  '{{ _("a día de hoy") }}',
      'PR': '{{ _("proyecto") }}'
    };
{% if include_financial_chapters %}
    var includeFinancialChapters = true;
{% else %}
    var financialExpenseBreakdown = {{ breakdowns['financial_expense'].to_json()|safe }},
        includeFinancialChapters = false;
{% endif %}
    var breakdowns = {
      'income':        {{ breakdowns['economic'].to_json( labels=descriptions['income'] )|safe }},
      'functional':    {{ breakdowns['functional'].to_json( labels=descriptions['functional'] )|safe }},
      'expense':       {{ breakdowns['economic'].to_json( labels=descriptions['expense'] )|safe }},
      'institutional': {{ breakdowns['institutional'].to_json( labels=descriptions['institutional'] )|safe if breakdowns['institutional'] else 'null'  }},
    };
    var gridData = {};
    var myGrid;
    var areas = {
      'income':        {{ income_areas|safe }},
      'functional':    {{ functional_areas|safe }},
      'expense':       {{ expense_areas|safe }},
      'institutional': {{ institutional_areas|safe }},
    }
    var i18n          = { 'Presupuestado': 'Presupuestado' };
    var colorScale    = {{ color_scale|safe }};
    var labelsMinSize = {{ treemap_labels_min_size|safe }};


    // Helper functions to set the totals panel
    // TODO: This is duplicated in policies/show_script.html. Must combine! Ongoing part of #364
    function setEconomicTotals(breakdown, columnDef, classSelector) {
      var format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          totalNonFinancial = totalFinancial = 0;

      for (var item in breakdown.sub) {
        var amount = columnDef.data(breakdown.sub[item]);
        if ( item[0]==='8' || item[0]==='9' ) {
          totalFinancial += amount
        } else {
          totalNonFinancial += amount
        }
      }

      if ( !includeFinancialChapters ) {
        $("#non-financial-total "+classSelector+"-amount").text(format(totalNonFinancial));
      }
      $("#main-total "+classSelector+"-amount").text(format(totalNonFinancial+totalFinancial));
    }

    function setFunctionalTotals(breakdown, columnDef, classSelector) {
      var getTotal = function(breakdown) { return columnDef.data(breakdown)||0; },
          format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          total = getTotal(breakdown);
      if ( !includeFinancialChapters ) {
        total += getTotal(financialExpenseBreakdown);
        $("#non-financial-total "+classSelector+"-amount").text(format(getTotal(breakdown)));
      }
      $("#main-total "+classSelector+"-amount").text(format(total));
    }

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        title: '{{ _("Presupuestado") }}',
        data: getBreakdownValue,
        render: getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

{% if entities %}
    // Convert an article name into a link
    function getEntityLinkFormatter(value, type, item) {
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getFunctionalLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : (uiState.view == 'income' ? getIncomeLink : getFunctionalLink);
      var link = getLink('{{ entity.slug }}', item.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter;
    };
{% else %}
    // The top level and small entities have different URLs at this point
    function getEntityLinkFormatter(value, type, item) {
      if ( uiState.view == 'functional' )
        var formatter = getPolicyLinkFormatter();
      else if ( uiState.view == 'expense' )
        var formatter = expenseArticleLinkFormatter;
      else if ( uiState.view == 'institutional' )
        var formatter = {{ 'sectionLinkFormatter' if show_section_pages else 'rowNameFormatter' }};
      else
        var formatter = incomeArticleLinkFormatter;
      return formatter;
    }
{% endif %}

    //Update Tab
    function updateTab() {
      uiState = getUIState();

      // Update current tab (if is not widget)
      if (!$('body').hasClass('widget')) {
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
      }
      // Setup widget tab title
      else{
        $('.tab-title h3.'+uiState.view).show();
      }

      // Show/hide download links based on view
      $('.panel-downloads .downloads').addClass('hidden');
      $('#'+uiState.view +'-downloads').removeClass('hidden');
      
      // Redraw
      redraw();
    }

    function redraw() {
      // Update uiState
      uiState = getUIState();

      // Do work
      var columnDef                   = getColumnDefinition(uiState),
          executionColumnDef          = getExecutionColumnDefinition(uiState),
          addEconomicCategoriesPrefix = {{ 'true' if add_economic_categories_prefix else 'false' }},
          columnNames                 = {
            'functional': '{{ _("Política") }}',
            'expense': '{{ _("Artículo") }}',
            'income': '{{ _("Artículo") }}',
            'institutional': '{{ _("Organismo") }}',
          };

      if (myGrid !== undefined) {
        myGrid.destroy();
      }
      myGrid = createBudgetGrid("#myGrid", gridData[uiState.view], [
        {
          data: addEconomicCategoriesPrefix && uiState.view!='functional' && uiState.view!='institutional' ?
                  addEconomicCategoryPrefix :
                  'label',
          title: columnNames[uiState.view],
          render: getEntityLinkFormatter()
        },
        columnDef
{% if show_actual %}
        ,executionColumnDef
{% endif %}
      ]);

      // Update totals texts
      $('#totals-year').text(uiState.year);
      var label = uiState.view == 'income' ? '{{ _("Ingresado") }}' : '{{ _("Gastado") }}';
      $('#totals-panel .total-executed > span').html( label );
      var executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);
      $("#main-total .main-label").html('{{ _("Total") }}' + executionLabelPostfix);

      // Show actual/budgeted split only when there's data available
      // (and the field format is not '% of total', gets confusing otherwise)
      var breakdown = breakdowns[uiState.view],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];
      if ( hasActualData && uiState.format!='percentage' ) {
        $("#totals-panel .total-executed").show();
      } else {
        $("#totals-panel .total-executed").hide();
      }

      // We have two totals: non-financial/financial. Show non-financial panel only when needed
      if ( !includeFinancialChapters ) {
        $('#non-financial-total').show();
      }

      // Fill in the amounts in the totals
      var setTotals = (uiState.view === 'functional' || uiState.view==='institutional') ?
                        setFunctionalTotals :
                        setEconomicTotals;
      setTotals(breakdown, columnDef, '.total-budgeted');
      if ( hasActualData )
        setTotals(breakdown, executionColumnDef, '.total-executed');

      // Setup & Update Budget Summary
      budgetSummary.update( breakdowns[uiState.view], areas[uiState.view], uiState.field, uiState.view, uiState.year );

      // Setup & Update Budget Treemap
      // XXX: How many levels of institutional breakdown to show is subject to debate. See #347.
      //budgetTreemap.maxLevels(uiState.view==='institutional' ? {{ institutional_max_levels }} : 1);
      budgetTreemap.update( breakdowns[uiState.view], areas[uiState.view], uiState );

      // Show an alert if no data is available
      if ( myGrid.page.info().recordsDisplay != 0 ) {
        $('.no-data-alert').hide();
      } else {
        $('.no-data-alert').show();
      }
    }

    // Listen click on Treemap & link to selected programme
    function onBudgetTreemapClick(e, d) {
{% if entities %}
      var getExpenseLink    = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }},
          getFunctionalLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }},
          getIncomeLink     = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }},
          entitySlug        = '{{ entity.slug }}';

      if (uiState.view === 'expense') {
        window.location = getExpenseLink(entitySlug, d.id);
      } else if (uiState.view === 'functional') {
        window.location = getFunctionalLink(entitySlug, d.id);
      } else if (uiState.view === 'income') {
        window.location = getIncomeLink(entitySlug, d.id);
      }
{% else %}
      if (uiState.view === 'expense') {
        window.location = getExpenseArticleLink(d.id, d.name);
      } else if (uiState.view === 'functional') {
        window.location = getPolicyLink(d.id, d.name);
      } else if (uiState.view === 'income') {
        window.location = getIncomeArticleLink(d.id, d.name);
      } else if (uiState.view === 'institutional') {
{% if show_section_pages %}
        window.location = getSectionLink(d.id, d.name);
{% endif %}
      }
{% endif %}
    }

    // Listen mouse over Summary item
    function onBudgetSummaryOver(e, d) {
      budgetTreemap.areaOver(d);
    }

    // Listen mouse out Summary item
    function onBudgetSummaryOut(e) {
      budgetTreemap.areaOut();
    }


    // Initialization

    // Set gridData
    for (var item in breakdowns) {
      gridData[item] = breakdownToTable( breakdowns[item] );
    }

    // Create Budget Summary
    var budgetSummary = new BudgetSummary('#budget-summary', colorScale);

    // Create Budget Treemap
    var budgetTreemap = new BudgetTreemap('#budget-treemap', stats, budgetStatuses)
      .colors(colorScale)
      .labelsMinSize(labelsMinSize)
      .setup();

    console.log(budgetTreemap);

    // Resize treemap
    $(window).resize( budgetTreemap.resize );

    // Listen BudgetTreemap & BudgetSummary events
    $('#budget-treemap').bind('policy-selected',     onBudgetTreemapClick);
    $('#budget-summary').bind('budget-summary-over', onBudgetSummaryOver);
    $('#budget-summary').bind('budget-summary-out',  onBudgetSummaryOut);

    // Set up controls (format selector & year slider)
    $('#select-format').change(redraw);
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ starting_year }});

    // Entity select dropdown
    $('#entity-select').submit(function(e) {
      e.preventDefault();
      entity_slug = $('#entity-select select').val();
      if ( entity_slug != '' ) {
        window.location.href = {{ 'getCountyCompareLink' if is_county else 'getTownCompareLink' }}('{{ entity.slug }}', entity_slug);
      }
    });

    // Setup tabs navigation
    // This will also show the tab selected in the URL hash (if any). Do it
    // before creating the treemaps, so the active one has time to render fully.
    setRedrawOnTabsChange('#tabs', updateTab);
  });
</script>