<script>
  $(function () {
    // Entity select dropdown
    $('#entity-select').submit(function(e) {
      e.preventDefault();
      entity_slug = $('#entity-select select').val();
      if ( entity_slug != '' ) {
        window.location.href = {{ 'getCountyCompareLink' if is_county else 'getTownCompareLink' }}('{{ entity.slug }}', entity_slug);
      }
    });

    // Helper functions to set the totals panel
    function setEconomicTotals(breakdown, columnDef, classSelector) {
      var format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          totalNonFinancial = totalFinancial = 0;

      _.each(breakdown.sub, function(value, id) {
        var amount = columnDef.data(breakdown.sub[id]);
        if ( id[0]==='8' || id[0]==='9' )
          totalFinancial += amount
        else
          totalNonFinancial += amount
      });

      if ( !includeFinancialChapters )
        $("#non-financial-total "+classSelector+"-amount").text(format(totalNonFinancial));
      $("#main-total "+classSelector+"-amount").text(format(totalNonFinancial+totalFinancial));
    }

    function setFunctionalTotals(breakdown, columnDef, classSelector) {
      var getTotal = function(breakdown) { return columnDef.data(breakdown)||0; },
          format = function(amount) { return columnDef.render(amount, 'display', breakdown); },
          total = getTotal(breakdown);
      if ( !includeFinancialChapters ) {
        total += getTotal(financialExpenseBreakdown);
        $("#non-financial-total "+classSelector+"-amount").text(format(getTotal(breakdown)));
      }
      $("#main-total "+classSelector+"-amount").text(format(total));
    }

    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        title: '{{ _("Presupuestado") }}',
        data: getBreakdownValue,
        render: getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var title = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.title = getExecutionColumnName(budgetStatuses[uiState.year], title, budgetStatusLabels);
      columnDef.data = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return columnDef;
    }

{% if entities %}
    // Convert an article name into a link
    function getEntityLinkFormatter(value, type, item) {
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getFunctionalLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : (uiState.view == 'income' ? getIncomeLink : getFunctionalLink);
      var link = getLink('{{ entity.slug }}', item.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter;
    };
{% else %}
    // The top level and small entities have different URLs at this point
    function getEntityLinkFormatter(value, type, item) {
      if ( uiState.view == 'functional' )
        var formatter = getPolicyLinkFormatter();
      else if ( uiState.view == 'expense' )
        var formatter = expenseArticleLinkFormatter;
      else if ( uiState.view == 'institutional' )
        var formatter = rowNameFormatter;
      else
        var formatter = incomeArticleLinkFormatter;
      return formatter;
    }
{% endif %}

    var uiState = null;

    //Update Tab
    function updateTab() {
      uiState = getUIState();
      
      // Update current tab (if is not widget)
      if (!$('body').hasClass('widget')) {
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.type+'"]').blur().parent().addClass('active');
      }
      // Setup widget tab title
      else{
        $('.tab-title h3.'+uiState.type).show();
      }
      redraw();
    }

    function redraw() {
      // Update data-field before getUIState based on active tab anchor link
      $('section').data('field', $('#tabs .active a').attr('href').substring(1) );

      uiState = getUIState();

      // Do work
      var columnDef = getColumnDefinition(uiState);
      var executionColumnDef = getExecutionColumnDefinition(uiState);
      var addEconomicCategoriesPrefix = {{ 'true' if add_economic_categories_prefix else 'false' }};
      var columnNames = {
        'functional': '{{ _("Política") }}',
        'expense': '{{ _("Artículo") }}',
        'income': '{{ _("Artículo") }}',
        'institutional': '{{ _("Organismo") }}',
      };

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", gridData[uiState.view], [
        {
          data: addEconomicCategoriesPrefix && uiState.view!='functional' && uiState.view!='institutional' ?
                  addEconomicCategoryPrefix :
                  'label',
          title: columnNames[uiState.view],
          render: getEntityLinkFormatter()
        },
        columnDef
{% if show_actual %}
        ,executionColumnDef
{% endif %}
      ]);


      // Show/hide download links based on view
      if ( uiState.view == 'functional' ) {
        $(".policies-title").text('{{ _("Gastos (por programa)") }}');
        $("#income-downloads").hide();
        $("#functional-downloads").show();
        $("#expense-downloads").hide();
      } else if ( uiState.view == 'income' ) {
        $(".policies-title").text('{{ _("Ingresos") }}');
        $("#income-downloads").show();
        $("#functional-downloads").hide();
        $("#expense-downloads").hide();
      } else if ( uiState.view == 'expense' ) {
        $(".policies-title").text('{{ _("Gastos") }}');
        $("#income-downloads").hide();
        $("#functional-downloads").hide();
        $("#expense-downloads").show();
      } else {
        $("#income-downloads").hide();
        $("#functional-downloads").hide();
        $("#expense-downloads").hide();
      }

      // Update totals texts
      $('#totals-year').text(uiState.year);
      var label = uiState.view == 'income' ? '{{ _("Ingresado") }}' : '{{ _("Gastado") }}';
      $('#totals-panel .total-executed > span').html( label );
      var executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);
      $("#main-total .main-label").html('{{ _("Total") }}' + executionLabelPostfix);

      // Show actual/budgeted split only when there's data available
      // (and the field format is not '% of total', gets confusing otherwise)
      var breakdown = breakdowns[uiState.view],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];
      if ( hasActualData && uiState.format!='percentage' ) {
        $("#totals-panel .total-executed").show();
      } else {
        $("#totals-panel .total-executed").hide();
      }

      // We have two totals: non-financial/financial. Show non-financial panel only when needed
      if ( !includeFinancialChapters ) {
        $('#non-financial-total').show();
      }

      // Fill in the amounts in the totals
      var setTotals = (uiState.view === 'functional' || uiState.view==='institutional') ?
                        setFunctionalTotals :
                        setEconomicTotals;
      setTotals(breakdown, columnDef, '.total-budgeted');
      if ( hasActualData )
        setTotals(breakdown, executionColumnDef, '.total-executed');


      // Setup & Update Budget Summary
      budgetSummary.update( breakdowns[uiState.view], areas[uiState.view], colorScale, uiState.field, uiState.view, uiState.year );

      // TODO: We should avoid this type of copy-pasted code, there are ways
      if ( uiState.view == 'expense' ) {
        $('#incomeChartContainer').hide();
        $('#functionalChartContainer').hide();
        $('#institutionalChartContainer').hide();
        $('#expenseChartContainer').show();
        expenseTreemap.updateTreemap(uiState);
      } else if ( uiState.view == 'income' ) {
        $('#expenseChartContainer').hide();
        $('#functionalChartContainer').hide();
        $('#institutionalChartContainer').hide();
        $('#incomeChartContainer').show();
        incomeTreemap.updateTreemap(uiState);
      } else if ( uiState.view == 'functional' ) {
        $('#expenseChartContainer').hide();
        $('#functionalChartContainer').show();
        $('#institutionalChartContainer').hide();
        $('#incomeChartContainer').hide();
        functionalTreemap.updateTreemap(uiState);
      } else {
        $('#expenseChartContainer').hide();
        $('#functionalChartContainer').hide();
        $('#institutionalChartContainer').show();
        $('#incomeChartContainer').hide();
        institutionalTreemap.updateTreemap(uiState);
      }

      // Show an alert if no data is available
      if ( myGrid.page.info().recordsDisplay != 0 ) {
        $('.no-data-alert').hide();
        $('#expenseChartContainer').css('visibility', 'visible');
        $('#functionalChartContainer').css('visibility', 'visible');
        $('#institutionalChartContainer').css('visibility', 'visible');
        $('#incomeChartContainer').css('visibility', 'visible');
      } else {
        $('.no-data-alert').show();
        $('#expenseChartContainer').css('visibility', 'hidden');
        $('#functionalChartContainer').css('visibility', 'hidden');
        $('#institutionalChartContainer').css('visibility', 'visible');
        $('#incomeChartContainer').css('visibility', 'hidden');
      }
    }

    function onEconomicExpenseTreemapClick(event, d) {
{% if entities %}
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getExpenseLink(entitySlug, d.id);
{% else %}
      window.location=getExpenseArticleLink(d.id, d.name);
{% endif %}
    }

    function onFunctionalExpenseTreemapClick(event, d) {
{% if entities %}
      var getExpenseLink = {{ 'getCountyFunctionalLink' if is_county else 'getTownFunctionalLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getExpenseLink(entitySlug, d.id);
{% else %}
      window.location=getPolicyLink(d.id, d.name);
{% endif %}
    }

    function onIncomeTreemapClick(event, d) {
{% if entities %}
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getIncomeLink(entitySlug, d.id);
{% else %}
      window.location=getIncomeArticleLink(d.id, d.name);
{% endif %}
    }

    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D': '{{ _("a día de hoy") }}',
      'PR': '{{ _("proyecto") }}'
    };

{% if include_financial_chapters %}
    var includeFinancialChapters = true;
{% else %}
    var financialExpenseBreakdown = {{ financial_expense_breakdown.to_json()|safe }},
        includeFinancialChapters = false;
{% endif %}

    var breakdowns = {
      'income': {{ economic_breakdown.to_json( labels=descriptions['income'] )|safe }},
      'functional': {{ functional_breakdown.to_json( labels=descriptions['functional'] )|safe }},
      'expense': {{ economic_breakdown.to_json( labels=descriptions['expense'] )|safe }},
      'institutional': {{ institutional_breakdown.to_json( labels=descriptions['institutional'] )|safe if institutional_breakdown else 'null'  }},
    };
    var gridData = {};
    _.each(breakdowns, function(b, name) { gridData[name] = breakdownToTable(b); });
    var myGrid;
    var areas = {
      'income': {{ income_areas|safe }},
      'functional': {{ functional_areas|safe }},
      'expense': {{ expense_areas|safe }},
      'institutional': {{ institutional_areas|safe }},
    }

    var i18n = {
      'Presupuestado': 'Presupuestado'
    };

    var colorScale = {{ color_scale|safe }};
    var incomeTreemap = new BudgetTreemap("#incomeChartContainer", breakdowns['income'], stats, areas['income'], 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
    var functionalTreemap = new BudgetTreemap("#functionalChartContainer", breakdowns['functional'], stats, areas['functional'], 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
    var institutionalTreemap = new BudgetTreemap("#institutionalChartContainer", breakdowns['institutional'], stats, areas['institutional'], 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
    var expenseTreemap = new BudgetTreemap("#expenseChartContainer", breakdowns['expense'], stats, areas['expense'], 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
{% if not entities %}
    // Limit treemap depth for top-level entities
    incomeTreemap.maxLevels(1);
    functionalTreemap.maxLevels(1);
    institutionalTreemap.maxLevels(1);
    expenseTreemap.maxLevels(1);
{% endif %}

    // Set up controls
    $('#select-format').change(redraw);
    $('#expenseChartContainer').bind('policy-selected', onEconomicExpenseTreemapClick);
    $('#functionalChartContainer').bind('policy-selected', onFunctionalExpenseTreemapClick);
    $('#incomeChartContainer').bind('policy-selected', onIncomeTreemapClick);
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ latest_year }}, {{ years_scale|safe }});

    // Create Budget Summary
    var budgetSummary = new BudgetSummary('#budget-summary');

    // Setup tabs navigation
    // This will also show the tab selected in the URL hash (if any). Do it
    // before creating the treemaps, so the active one has time to render fully.
    setRedrawOnTabsChange('#tabs', updateTab);

    // XXX: Because of a really weird bug in Chrome 48 (OS X, not Linux), the
    // browser was crashing when trying to create the treemaps on demand, i.e. 
    // when a tab was shown for the first time. There was some sort of memory
    // leak or corruption that we couldn't sort out. So we now create the
    // treemaps at the beginning, and update them as usual.
    // See issue civio/presupuesto-management#52
    expenseTreemap.createTreemap( $.extend(getUIState(), { field: 'expense' }) );
    incomeTreemap.createTreemap( $.extend(getUIState(), { field: 'income' }) );
    functionalTreemap.createTreemap( $.extend(getUIState(), { field: 'expense' }) );
    institutionalTreemap.createTreemap( $.extend(getUIState(), { field: 'expense' }) );
  });
</script>