<div id="totals-panel" class="data-panel">
  <div id="main-total" class="panel">
    <div class="panel-title"><span class="main-label"></span><span id="totals-year"></span></div>
    <div class="panel-content">
      <p class="total-executed"><span>{{ _('Gastado') }}</span> <strong class="total-amount total-executed-amount"></strong></p>
      <p class="total-budgeted"><span>{{ _('Presupuestado') }}</span> <strong class="total-amount total-budgeted-amount"></strong></p>
    </div>
  </div>
  <div id="non-financial-total" class="panel">
    <div class="panel-title"><span class="main-label">{{ _('Total no financiero') }}</span></div>
    <div class="panel-content">
      <p class="total-executed"><span>{{ _('Gastado') }}</span> <strong class="total-amount total-executed-amount"></strong></p>
      <p class="total-budgeted"><span>{{ _('Presupuestado') }}</span> <strong class="total-amount total-budgeted-amount"></strong></p>
    </div>
  </div>
</div>