<!--
<div id="totals_panel">
  <p class="total" id="main-total">
    <span class="main-label"></span> <b class="main-amount"></b>
    <br/>
    <span class="secondary-label">{{ _('Presupuestados') }}</span> <b class="secondary-amount"></b>
  </p>
  <p class="total" id="including-financial-total">
    <span class="main-label"></span> <b class="main-amount"></b>
    <br/>
    <span class="secondary-label">{{ _('Presupuestados') }}</span> <b class="secondary-amount"></b>
  </p>
</div>
-->

<div id="totals-panel" class="data-panel">
  <div id="main-total" class="panel">
    <div class="panel-title"><span class="main-label"></span><span id="totals-year"></span></div>
    <div class="panel-content">
      <p class="total-executed"><span>{{ _('Ejecutado') }}</span> <b class="total-amount total-executed-amount"></b></p>
      <p class="total-budgeted"><span>{{ _('Presupuestado') }}</span> <b class="total-amount total-budgeted-amount"></b></p>
    </div>
  </div>
  <div id="including-financial-total" class="panel visuallyhidden">
    <div class="panel-title"><span class="main-label"></span></div>
    <div class="panel-content">
      <p class="total-executed"><span>{{ _('Ejecutado') }}</span> <b class="total-amount total-executed-amount"></b></p>
      <p class="total-budgeted"><span>{{ _('Presupuestado') }}</span> <b class="total-amount total-budgeted-amount"></b></p>
    </div>
  </div>
</div>