<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="home-intro">
        <h2>{{ _('¿Cómo y en qué gasta el Gobierno de Aragón?') }}</h2>
        <p class="lead">{{ _('Te mostramos de un modo claro cómo se distribuye nuestro presupuesto. De dónde vienen los ingresos y a qué destinamos el gasto') }}.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="expense-examples">
        <p class="title">{{ _('Algunos ejemplos') }}</p>
        <ul>
          {% for programme in featured_programmes %}
          {# Items are initially hidden and shown randomly via Javascript, see below #}
          <li class="hidden" data-budget="{{ breakdown.subtotals[programme.uid()].total_expense[latest_budget.year] }}">
            <a href="{{ url('programmes_show', programme.uid(), programme.slug()) }}">{{ programme.description }}</a>
            <strong></strong>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>