<div class="options">
  <div class="container">

    <!-- Section Visión Global -->
    <div class="option">
      <div class="option-global">
        <div data-icon="B" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('budgets') }}" class="option-title"><h3>{{ _('Visión global') }}</h3></a>
        <p class="desc">{{ _('Para que tengas una idea general de los ingresos y gastos del Gobierno de Aragón') }}.</p>
        <a href="{{ url('budgets') }}" class="btn btn-default btn-primary magenta icon-plus">{{ _('Visión global') }}</a>
      </div>
    </div>

    <!-- Section Políticas -->
    <div class="option">
      <div class="option-policies">
        <div data-icon="P" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('policies') }}" class="option-title"><h3>{{ _('Políticas concretas') }}</h3></a>
        {% if show_counties_and_towns %}
          <ul>
            <li><a href="{{ url('policies') }}">{{ _('Gobierno de Aragón') }}</a></li>
            <li><a href="{{ url('counties') }}">{{ _('Comarcas') }}</a></li>
            <li><a href="{{ url('towns') }}">{{ _('Municipios') }}</a></li>
          </ul>
        {% else %}
        <p class="desc">{{ _('Educación, protección y bienestar social, cultura... ¿Qué área te interesa?') }}</p>
        {% endif %}
        <a href="{{ url('policies') }}" class="btn btn-default btn-primary blue icon-plus">{{ _('Políticas') }}</a>
      </div>
    </div>

    <!-- Section Pagos -->
   {% if show_payments %}
    <div class="option">
      <div class="option-payments">
        <div data-icon="&#xe604;" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('payments') }}" class="option-title"><h3>{{ _('Pagos e inversiones') }}</h3></a>
        <p class="desc">{{ _('Te mostramos en detalle todas las facturas y pagos efectuados por el Ayuntamiento') }}.</p>
        <a href="{{ url('payments') }}" class="btn btn-default btn-primary green icon-plus">{{ _('Pagos e inversiones') }}</a>
      </div>
    </div>
    {% endif %}

    <!-- Section Calculadora -->
    {% if show_tax_receipt %}
    <div class="option">
      <div class="option-tax">
        <div data-icon="&#x63;" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('tax_receipt') }}" class="option-title"><h3>{{ _('¿Y qué aporto yo?') }}</h3></a>
        <p class="desc">{{ _('Te contamos en qué se invierte el dinero que recaudamos de tus impuestos') }}.</p>
        <a href="{{ url('tax_receipt') }}" class="btn btn-default btn-primary green icon-plus">{{ _('Lo que tú aportas') }}</a>
      </div>
    </div>
    {% endif %}

    <!-- Section Objetivos -->
    {% if show_monitoring %}
    <div class="option">
      <div class="option-monitoring">
        <div data-icon="&#x63;" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('monitoring') }}" class="option-title"><h3>{{ _('Objetivos') }}</h3></a>
        <p class="desc">{{ _('Descubre de un vistazo el cumplimiento de los objetivos presupuestarios de tu ayuntamiento.') }}</p>
        <a href="{{ url('monitoring') }}" class="btn btn-default btn-primary green icon-plus">{{ _('Objetivos') }}</a>
      </div>
    </div>
    {% endif %}

    <!-- Section Inversiones -->
    {% if show_investments %}
    <div class="option">
      <div class="option-investments">
        <div data-icon="&#x63;" aria-hidden="true" class="icon mega"></div>
        <a href="{{ url('investments') }}" class="option-title"><h3>{{ _('Inversiones por distritos') }}</h3></a>
        <p class="desc">{{ _('Conoce el detalle de lo que se invierte en cada uno.') }}</p>
        <a href="{{ url('investments') }}" class="btn btn-default btn-primary green icon-plus">{{ _('Inversiones por distritos') }}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
