<script>
$(function () {
  // Show featured programmes, at random.
  // We used to do the selection on the server, but then the page would be cached, hence not random anymore.
  var i, 
      chosenProgramme, 
      $programme,
      hiddenProgrammes = $('div.expense-examples li.hidden'),
      counter = {{ number_of_featured_programmes }},
      c = 0;

  while (counter > 0) {
    chosenProgramme = Math.floor(Math.random()*hiddenProgrammes.length);
    $programme = $(hiddenProgrammes[chosenProgramme]);
    // Skip if chosen programme has been chose previously
    if ($programme.hasClass('hidden')) {
      $programme.find('strong').text( Formatter.amount($programme.data('budget')) );
      $programme.removeClass('hidden');
      counter--;
    }
    // Avoid infinite loops
    c++;
    if (c > 1000) counter = 0;
  }

  // Make hero boxes react to clicks
  $('.option-global').click(function(){window.location = '{{ url('budget_app.views.budgets') }}';});
  $('.option-policies').click(function(){window.location = '{{ url('budget_app.views.policies') }}';});
  $('.option-tax').click(function(){window.location = '{{ url('budget_app.views.tax_receipt') }}';});
});
</script>