@use "sass:color";

.stacked-area-chart{

  .bkg-rect{
    fill: white;
    cursor: auto;
  }

  .overlay{
    rect{
      fill: white;
      opacity: 0.5;
      pointer-events: none; // Desactivate element as target of mouse events; 
    }
    text{
      display: none;
      font-size: 0.7em;
      fill: $gray-light;
      text-anchor: middle;
      font-style: italic;
    }

    &.project-overlay rect{
      opacity: 0.72;
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: color.mix( $gray-light, $gray-lighter, 30% );
    shape-rendering: crispEdges;
  }

  .axis.x path,
  .axis.x line {
    stroke: color.mix( $gray-light, $gray-lighter, 70% );
  }

  .axis.y .domain{
    stroke: none;
  }

  .axis text{
    fill: $text-color;
    font-size: 12px;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-300;
  }

  .axis.x text{
    font-weight: $font-weight-400;
    @include transition( fill 0.3s ease-out );
  }

  .axis.x .active text{
    fill: $gray-dark;
    font-weight: $font-weight-600;
  }

  path.area{
    opacity: 0.8;
    @include transition( opacity 0.3s ease-out );

    &.active{
      opacity: 0.9;
    }
    &.inactive{
      opacity: 0.6;
    }
  }

  .line{
    fill: none;
    stroke-width: 2px;
    cursor: pointer;
    //pointer-events: none;
  }

  .point{
    stroke-width: 0px;
    cursor: pointer;
    //@include transition( all 0.3s ease-out );

    &.hover{
      stroke-width: 2px;
      //fill-opacity: 0.7;
    }
  }

  // Add cursor pointer in functional chart 
  &.clickable path.area{
    cursor: pointer;
  }

  .popover .popover-title{
    padding-bottom: 0;
    text-align: left;
  }
}

.stacked-area-chart-legend{
  margin-left: 70px;
  margin-bottom: 10px;

  .label{
    position: relative;
    display: inline-block;
    color: $text-color;
    font-size: 0.875em;
    font-weight: $font-weight-400;
    padding: 2px $grid-gutter-width/6 2px 19px;
    margin-right: $grid-gutter-width/6;
    margin-bottom: -1 + $grid-gutter-width/6;
    line-height: 1.375em;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    &:hover{
      color: black;
      background: white;
      //font-weight: $font-weight-400; 
    }

    span{
      position: absolute;
      top: 0;
      left: $grid-gutter-width/6;
      width: $grid-gutter-width/3;
      height: $grid-gutter-width/3;
      border-width: 2px;
      border-style: solid;
      border-radius: $grid-gutter-width/6;
      margin-top: $grid-gutter-width/6;
      margin-right: $grid-gutter-width/6;
    }

    &.inactive{
      color: $gray-light;
      span{
        background: none !important;
      }
    }
  }
}

.policy-breakdown .chart-container{
  
  .popover-content-year{
    font-size: 1.125em;
    color: $gray-light;
    margin-bottom: $grid-gutter-width/6;
  }
  
  .popover-content-variation{
    display: none;
    margin-bottom: 0;
    margin-top: $grid-gutter-width/2;

    .label{
      font-size: 1em;
      font-weight: $font-weight-300;
      margin-right: $grid-gutter-width/6;
    }
  }

  .popover-content-variation-label {
    margin-bottom: $grid-gutter-width/6;
    font-size: 0.913em;
    font-style: italic;
    font-weight: $font-weight-300;
  }
}


@media (min-width: $screen-sm-min) {
  .stacked-area-chart{
    .overlay text{
      display: block;
    }
  }
}

@media (max-width: 650px) {
  .stacked-area-chart{
    .y.axis .tick text{
      display: none;
      text-anchor: start;
      alignment-baseline: hanging;
    }
    .y.axis .tick:last-child text{
      display: inline;
    }
  }
  .policy-breakdown .policies-chart .alert,
  .stacked-area-chart-legend{
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
}