// Budget Summary In Policies
.budget-summary{
  
  $budget-summary-height: 20px;

  height: 2*$budget-summary-height;
  margin: 0 0 $grid-gutter-width/2;
  padding-top: $budget-summary-height;
  // overflow: hidden; 
}

.budget-summary-item{
  float: left;
  position: relative;
  font-size: 0.875em;
  text-align: left;
  color: white;
  @include transition( width 0.5s ease-out );
  
  .budget-summary-bar{
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    border-right: 1px solid $page-header-bg;

    small{
      margin-left: 5px;
    }
  }

  &:last-children .budget-summary-bar{
    border-right: none;
  }

  .budget-summary-label{
    position: absolute;
    top: -20px;
    left: 0;
    color: $text-color;
    height: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.disabled{
      visibility: hidden;
    }
  }
  
  &.active{
    .budget-summary-label{
      overflow: visible;
      text-overflow: normal;
      width: auto;
      
      /* Use this if we want to show small items labels
      &.disabled{
        visibility: visible;
      }
      */
    }
  }

  &.inactive{
    .budget-summary-label{
      visibility: hidden;
    }
    .budget-summary-bar{
      background-color: #868686 !important;
    }
  }
}