.stacked-area-chart{

  .axis path,
  .axis line {
    fill: none;
    stroke: mix( $gray-light, $gray-lighter, 30% );
    shape-rendering: crispEdges;
  }

  .axis.x path,
  .axis.x line {
    stroke: mix( $gray-light, $gray-lighter, 70% );
  }

  /*
  .axis .tick:first-child line{
    stroke: $gray-dark;
    stroke-width: 2px;
  }
  */

  .axis text{
    fill: $text-color;
    font-size: 0.875em;
    font-weight: $font-weight-300;
  }

  .axis.x text{
    font-weight: 400;
  }

  path.area{
    @include transition( opacity 0.3s ease-out );
  }
}

.stacked-area-chart-legend{
  margin-left: 80px;
  margin-right: 20px;

  .label{
    display: inline-block;
    color: $text-color;
    font-size: 0.875em;
    font-weight: $font-weight-300;
    padding: 0 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    line-height: 20px;
    cursor: pointer;

    &:hover{
      background: white;
    }

    span{
      float: left;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}