// TREEMAP
.treemap-chart {
	rect {
		cursor: pointer;
		@include transition( fill 0.3s ease-out );

		&.out{
			fill: rgb(134,134,134) !important;
		}

		&.parent {
			fill-opacity: 0;
		}

		g.bg & {
			cursor: default;
		}
	}

	.treemap-text {
		font-size: 1em;
		padding: 4px;
		line-height: 1.1em;
		display: block;
		fill: #fff;
		pointer-events: none;
		text-align: center;
		text-anchor: middle;
		font-weight: $font-weight-300;
		@include transition( opacity 0.3s ease-out );
	}
}

.policies .chart-container{
	.popover{
		.popover-title{
			border: none;
			font-size: 1.75em;
		}			
	  .popover-subtitle{
	  	line-height: 1.125em;
	    text-align: center;
	    margin-bottom: 0;
	    padding: $grid-gutter-width/3 $grid-gutter-width/2 $grid-gutter-width/6;
	  }
	  .popover-content{
			text-align: center;
		}
	}
}

#budget-treemap{

	.nodes-container{
		position: relative;
	}

	.node {
	  box-sizing: border-box;
	  position: absolute;
	  overflow: hidden;
	  outline: 1.5px solid white;

	  &.out{
			background: rgb(134,134,134) !important;
		}
	}

	.node-label {
		display: block;
	  font-size: 1em;
		padding: 4px;
		line-height: 1.1em;
		color: #fff;
		pointer-events: none;
		text-align: center;
		font-weight: $font-weight-300;
		@include transition( opacity 0.3s ease-out );
	}
}