// Data controllers
.data-controllers {
  position: relative;
  margin-bottom: 1.5*$grid-gutter-width;
  text-align: center;

  .title{
    color: $gray;
  }

  .quantity-selection{
    margin-left: 55px;
  }

  .layout-slider{
    margin-left: $grid-gutter-width/3;
    margin-right: $grid-gutter-width/3;

    label{
      display: none;
    }
  }

  .slider.slider-horizontal{
    width: 100%;
    margin-top: 5px;

    .slider-track{
      height: 6px;
      margin-top: -2px;
      border-radius: 0;
      background: $slider-bg;
      filter: none;
      @include box-shadow( none );
    }

    .slider-track-low, 
    .slider-track-high{
      border-radius: 0;
    }

    .slider-tick{
      width: 12px;
      height: 12px;
      margin-left: -6px;
      margin-top: -3px;
      background: $slider-bg;
      opacity: 1;
      filter: none;
      @include box-shadow( none );

      &.in-selection{
        background: $slider-color;
      }
    }

    .slider-selection{
      border-radius: 0;
      background: $slider-color;
      filter: none;
    }

    .slider-handle{
      margin-top: -7px;
      background: $slider-color;
      border: 2px solid white;
      filter: none;
      @include box-shadow( none );
    }

    .slider-tick-label{
      color: $gray;
      font-size: 0.875em;
      line-height: 1em;
      margin-top: $grid-gutter-width/6;
      vertical-align: top;
      cursor: pointer;
    }

    .tooltip.top{
      margin-left: -22px;
      margin-top: -38px;
      z-index: 1040; // we need to force z-index in order to put it behind modal background
    }
    .tooltip-inner{
      font-size: 1.25em;
      background: $slider-color;
    }
    .tooltip-arrow{
      border-top-color: $slider-color;
    }
  }

  // .quantity-selection label
  .title{
    margin: 0;
    padding: $grid-gutter-width/2 0;
    line-height: 1.25em;
    font-weight: $font-weight-700;
    text-transform: uppercase;
  }

  &.single-year{

    #year-selection{
      display: none;
    }

    .layout-slider > p{
      font-weight: $font-weight-600;
    }
  }

  .chart-embed-btn span,
  .chart-embed-btn a{
    display: block;
    position: absolute;
    top: 46px;
    left: 0;
    width: 34px;
    height: 34px;
    background: url(../assets/icon-share.png) no-repeat center center $panel-default-heading-bg;
    cursor: pointer;

    &:hover{
      background-color: lighten( $panel-default-heading-bg, 5% );
    }
  }
}



@media (min-width: $screen-sm-min) {

  .data-controllers {

    .quantity-selection{
      position: absolute;
      left: 0;
      top: 0;
      width: 190px;
    }

    .layout-slider{
      margin-left: 275px;
    }

    .single-year{
      text-align: right;

      .layout-slider{
        margin: 0;
      }
    }
  }
}