// Data Panel
.data-panel {
  text-align: center;
  
  #totals-year{
    font-weight: $font-weight-400;
    margin-left: 0.5em
  }

  .panel{
    @extend .panel-default;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-color: $data-panel-color;

    &:first-child{
      border-top-right-radius: $panel-border-radius;
      border-top-left-radius: $panel-border-radius;

      /*
      .panel-title{
        border-radius: 6px 6px 0 0;
      }
      */
    }
    &:last-child{
      border-bottom-right-radius: $panel-border-radius;
      border-bottom-left-radius: $panel-border-radius;
    }
  }

  .panel-title{
    margin: 0;
    padding: $grid-gutter-width/2;
    color: mix( white, $data-panel-color, 95% );
    background: $data-panel-color;
    font-size: 1.25em;
    font-weight: $font-weight-600;
    line-height: 1em;
    text-transform: uppercase;
  }

  .panel-content{
    font-size: 1.25em;
    text-transform: uppercase;
    padding: $grid-gutter-width/2;

    > p{
      line-height: 1.375em;
      margin-bottom: 0;
      @include clearfix();
    }

    b{
      display: block;
      font-weight: $font-weight-600;
    }
  
    .total-executed{
      font-size: 1.125em;
      font-weight: $font-weight-600;
      margin-bottom: $grid-gutter-width/3;
    }
    .total-budgeted{
      b{
        font-weight: $font-weight-400;
      }
    }
  }

  .panel.indicators{

    .panel-content > p{
      margin-bottom: $grid-gutter-width/3;
      padding-bottom: $grid-gutter-width/3;
      border-bottom: 1px solid mix( $data-panel-color, white, 40% );

      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
    }

    .icon-question {
      float: left;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: 1px;
      margin-right: 8px;
      border-radius: 11px;
      background: url(../assets/bugget-stream-question.png) no-repeat 6px 3px $gray-light;
      @include transition( background-color 0.3s ease-out );

      &:hover{
        background-color: $brand-primary;
      }
    }

  }

  @media (min-width: $screen-sm-min) {
  
    @include clearfix();
    text-align: left;

    .panel-content{

      .total-executed{       
        margin-bottom: $grid-gutter-width/6;
      }

      b{
        float: right; 
        text-align: right;
      }
    }
  }
}