// Data Panel
.data-panel {
  
  #totals-year{
    display: block;
    font-weight: $font-weight-400;
    
    small{
      font-weight: $font-weight-300;
    }
  }

  .panel{
    @extend .panel-default;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-color: $panel-default-border;

    &:first-child{
      border-top-right-radius: $panel-border-radius;
      border-top-left-radius: $panel-border-radius;
    }
    &:last-child{
      border-bottom-right-radius: $panel-border-radius;
      border-bottom-left-radius: $panel-border-radius;
    }
  }

  .panel-title{
    margin: 0;
    padding: $grid-gutter-width/2;
    color: white;
    background: $panel-default-heading-bg;
    font-size: 1.25em;
    font-weight: $font-weight-400;
    line-height: 1em;
    text-transform: uppercase;

    .main-label{
      font-weight: $font-weight-400;

      strong{
        font-weight: $font-weight-300;
      }
    }

    .total-budgeted-label,
    .total-executed-label{
      display: none;
    }
  }

  .panel-content{
    font-size: 1.25em;
    text-transform: uppercase;
    padding: $grid-gutter-width/2;

    > p{
      line-height: 1.375em;
      margin-bottom: 0;
      @include clearfix();
    }

    strong{
      display: block;
      font-weight: $font-weight-600;
      float: right; 
      text-align: right;
    }

    .data-label{
      float: left;
      //text-transform: none;
    }
  
    .total-executed{
      font-size: 1.125em;
      font-weight: $font-weight-600;
      margin-bottom: $grid-gutter-width/3;
    }
    .total-budgeted strong{
      font-weight: $font-weight-400;
    }
  }

  .panel.indicators{
    margin-bottom: $grid-gutter-width/2;

    .panel-content {
      
      strong{
        float: none;
        text-align: left;
      }

      [class^="col-"] {
        padding: $grid-gutter-width/2 0 !important;
      }

      .row{
        .col-sm-4{
          padding-top: 0 !important;
        }
        .col-sm-8{
          border-top: 1px solid mix( $panel-default-border, white, 40% );
        }
        &:first-child [class^="col-"] {
          border: none;
        }
      }
    }
  }

  .icon-question {
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 1px;
    margin-right: 8px;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 11px;
    background: url(../assets/bugget-stream-question.png) no-repeat 6px 3px $gray-light;
    @include transition( background-color 0.3s ease-out );

    &:hover{
      background-color: $brand-primary;
    }
  }


  p.text-center{
    max-width: $screen-sm;
    margin:  0 auto;
  }

  @media (min-width: $screen-sm-min) {
  
    @include clearfix();

    .panel-title{
      .total-budgeted-label,
      .total-executed-label{
        display: inline;
      }
    }

    .panel-content{

      .data-label{
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      .total-executed{       
        margin-bottom: $grid-gutter-width/6;
      }
    }

    .panel.indicators{
      
      .panel-content{

        strong{
          float: right;
          text-align: right;
          padding-bottom: 0;
        }

        .row .col-sm-4{
          padding-top: $grid-gutter-width/2 !important;
          border-top: 1px solid mix( $panel-default-border, white, 40% );
        }
      }
    }
  }
}

#totals-panel{
  margin-bottom: 1.5*$grid-gutter-width;

  .panel-title{
    padding-right: 0;
    padding-left: 0;
  }

  .panel-content{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    .row{
      margin-right: 0;
      margin-left: 0;
    }

    p{
      margin-bottom: 0;
    }

    ul{
      padding: 0;
    }

    li{
      list-style: none;
    }

    > li{
      padding: $grid-gutter-width/2 0;

      > ul > li{
        clear: both;
        text-align: right;
        padding-top: $grid-gutter-width/3;
      }
    }
  }

  #total{
    font-size: 1.125em;
    font-weight: $font-weight-600;
    text-transform: none;
  }

  #financial-total,
  #non-financial-total{
    display: none;
    text-transform: none;
    border-top: 1px solid $panel-default-border;
  }

  #financial-total{
    border-top-color: mix( $panel-default-border, white, 40% );
  }

  @media (min-width: $screen-sm-min) {

    .panel-content > li{
      padding-bottom: $grid-gutter-width/3;
    }

    .panel-content > li > div{
      float: left;
      width: 50%;
    }

    .panel-content > li > ul{
      display: inline-block;
      width: 50%;
      text-align: right;

      > li{
        clear: none;
        float: left;
        width: 50%;
        padding-top: 0;
      }
    }

    .panel-content [class^="col-"] {
      padding-bottom: $grid-gutter-width/3;
    }
  }
}
