// Data Panel
.data-panel {
  
  #totals-year{
    display: block;
    font-weight: $font-weight-400;
    margin-top: $grid-gutter-width/3;
  }

  .panel{
    @extend .panel-default;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-color: $data-panel-color;

    &:first-child{
      border-top-right-radius: $panel-border-radius;
      border-top-left-radius: $panel-border-radius;
    }
    &:last-child{
      border-bottom-right-radius: $panel-border-radius;
      border-bottom-left-radius: $panel-border-radius;
    }
  }

  .panel-title{
    margin: 0;
    padding: $grid-gutter-width/2;
    color: mix( white, $data-panel-color, 95% );
    background: $data-panel-color;
    font-size: 1.25em;
    font-weight: $font-weight-400;
    line-height: 1em;
    text-transform: uppercase;

    .main-label{
      font-weight: $font-weight-400;

      strong{
        font-weight: $font-weight-300;
      }
    }
  }

  .panel-content{
    font-size: 1.25em;
    text-transform: uppercase;
    padding: $grid-gutter-width/2;

    > p{
      line-height: 1.375em;
      margin-bottom: 0;
      @include clearfix();
    }

    strong{
      display: block;
      font-weight: $font-weight-600;
      float: right; 
      text-align: right;
    }
  
    .total-executed{
      font-size: 1.125em;
      font-weight: $font-weight-600;
      margin-bottom: $grid-gutter-width/3;
    }
    .total-budgeted strong{
      font-weight: $font-weight-400;
    }
  }

  .panel.indicators{
    margin-bottom: $grid-gutter-width/2;

    .panel-content > p{
      margin-bottom: $grid-gutter-width/3;
      padding-bottom: $grid-gutter-width/3;
      border-bottom: 1px solid mix( $data-panel-color, white, 40% );

      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
    }
  }

  .icon-question {
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 1px;
    margin-right: 8px;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 11px;
    background: url(../assets/bugget-stream-question.png) no-repeat 6px 3px $gray-light;
    @include transition( background-color 0.3s ease-out );

    &:hover{
      background-color: $brand-primary;
    }
  }


  p.text-center{
    max-width: $screen-sm;
    margin:  0 auto;
  }

  @media (min-width: $screen-sm-min) {
  
    @include clearfix();

    .panel-content{

      .total-executed{       
        margin-bottom: $grid-gutter-width/6;
      }
    }

    #totals-year{
      float: right;
      margin-top: 0;
    }
  }
}

#totals-panel{
  margin-bottom: $grid-gutter-width;

  .panel-title,
  .panel-content{
    font-size: 1.375em;
  }
}

#non-financial-total{
  display: none;
  border-top: none;
  margin-top: -1px;

  .panel-title{
    color: $text-color;
    background: none;
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-top: 1px solid $data-panel-color;

    .main-label{
      font-weight: $font-weight-600;
    }
  }

  .panel-content{
    font-size: 1.25em;
  }
}
