.form-control .select2-choice{
  line-height: 32px;
  height: 32px;
  padding-left: 12px;
  background: white;
}

.form-control .select2-choice .select2-arrow{
  background: transparent;
  border: none;
}
.select2-container .select2-choice .select2-arrow b{
  background-position-y: 3px; 
}

.select2-drop{
  border-radius: 0;
}

.select2-results {
  max-height: 210px;
}