.social-sharing{
  text-align: center;
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  .title{
    color: $gray;
    font-size: 1em;
    font-weight: $font-weight-700;
    text-transform: uppercase;
    margin-bottom: $grid-gutter-width/2;
  }
}

.social-sharing-toolbox {
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 0 .4em .25em 0.4em;
    vertical-align: middle;

    a {
      display: block;
      background: $brand-secondary url(../assets/social.png) no-repeat center;
      height: 40px; 
      width: 40px;
      overflow: hidden;
      text-indent: -9999px;
      border-radius: 50%;
      @include transition( background-color 0.3s ease-out );
      //@include box-shadow(0 0 0 3px transparentize($brand-primary, 80%), 0 0 .25em transparentize(black, 50%) inset);

      &.facebook {
        background-position: 0px 0; 
        &:hover {
          background-color: #1877F2; // Facebook main brand color
        }
      }
      &.x {
        background-position: -40px 0;
        &:hover {
          background-color: #1DA1F2; // X (formerly Twitter) main brand color
        }
      }
      &.linkedin {
        background-position: -80px 0;
        &:hover {
          background-color: #0077B5; // LinkedIn main brand color
        }
      }
      &.bluesky {
        background-position: -120px 0;
        &:hover {
            background-color: #0057FF; // Bluesky main brand color
        }
      }
      &.whatsapp {
        background-position: -160px 0;
        &:hover {
          background-color: #25D366; // WhatsApp main brand color
        }
      }
      &.mail {
        background-position: -200px 0;
        &:hover {
            background-color: #D44638; // Gmail main brand color
        }
      }
    }
  }
}
