table.table-grid {
  border: 1px solid $panel-default-border;
  border-top: none;
  margin-bottom: $grid-gutter-width/2;

  thead{
    border: none;
    text-transform: uppercase;
  
    th{
      color: white;
      background: $panel-default-heading-bg;
      border-color: white;
      padding: $grid-gutter-width/2;
      font-size: 1.125em;
      font-weight: $font-weight-400;
      line-height: 1em;
      text-align: right;

      &:hover{
        background: mix( $panel-default-heading-bg, white, 90% );
      }

      &:first-child{
        text-align: left;
      }

      &:last-child{
        border-right: none;
      }
    }

    > tr > th{
      &.sorting, 
      &.sorting_asc,
      &.sorting_desc,
      &.sorting_asc_disabled, 
      &.sorting_desc_disabled{
        padding-right: $grid-gutter-width + $grid-gutter-width/3;
      }
    }
   
    .sorting, 
    .sorting_asc,
    .sorting_desc,
    .sorting_asc_disabled, 
    .sorting_desc_disabled{

      &:after{
        position: static;
        display: inline-block;
        font-size: 12px;
        margin-left: $grid-gutter-width/3;
        margin-right: -$grid-gutter-width;
      }
    }

    .sorting:after,
    .sorting_asc_disabled:after, 
    .sorting_desc_disabled:after{
      opacity: 0.4;
    }

    .sorting_asc:after,
    .sorting_desc:after{
      opacity: 0.8;
    }
  }

  tr td{
    font-size: 1.25em;
    color: $text-color;
    font-weight: $font-weight-400;
    border-bottom: 1px solid mix( $panel-default-border, white, 50% );
    padding: $grid-gutter-width/3;
    text-align: right;
    min-width: 120px;

    &:first-child{
      text-align: left;
    }

    &.l0:hover{
      color: $text-color;
      border-color: mix(white, $panel-default-border, 80%);
      background: mix(white, $panel-default-heading-bg, 80%);
    }

    a{
      color: $panel-default-heading-bg;
    }

    .toggle{

      &.expand,
      &.collapse{
        display: block;
        float: left;
        height: 22px;
        width: 22px;
        margin-top: 1px;
        margin-right: $grid-gutter-width/3;
        color: white;
        background-color: $gray;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        text-align: center;
        font-size: 26px;
        line-height: 22px;
        font-weight: 300;

         &:hover{
          background-color: $panel-default-heading-bg;
        }
      }

      &.collapse{
        line-height: 18px;  // Adjust vertical align for '-' sign
      }
    }

    a.toggle:hover{
      text-decoration: none;
    }
  }

  tr:last-child td{
    border-bottom: none;
  }

  tr.indent-1,
  tr.indent-2,
  tr.indent-3{
    td{
      font-size: 1.125em;
    }
  }

  tr.indent-1 td:first-child{
    padding-left: 40px; //32px;
  }
  tr.indent-2 td:first-child{
    padding-left: 70px; //54px;
  }
  tr.indent-3 td:first-child{
    padding-left: 100px;  //90px;
  }
}