{% extends 'base.html' %}
{% from 'shared/payment_tab.html' import render_tab as render_tab %}
{% block content %}
<div class="container">
  
</div>

<section class="payments-breakdown" role="region">

  <!-- Payments Header -->
  <div class="payments-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Inversiones y pagos') }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
      <li class="active">
        <a href="#tab-area"><h3>{{ _('Por área') }}</h3></a>
      </li>
      <li>
        <a href="#tab-payee"><h3>{{ _('Por beneficiario') }}</h3></a>
      </li>
    </ul>
  </div>

  <div class="payments-content">
    <div class="container tab-content">
      
      {% include 'payments/payments_intro.html' %}
      
      <div class="data-controllers">
        <p class="title tcenter">{{ _('Elige año') }}</p>
        <div class="layout-slider">
          <input id="year-selection" type="slider" value="2015"/>
        </div>
      </div>

      {{ render_tab(_('Por área'), 'area', 'active') }}
      {{ render_tab(_('Por beneficiario'), 'payee', '') }}

      {% include 'shared/social_sharing.html' %}
    </div>
  </div>
</section>

<!-- 
  We need this markup in order to get uiState.view 
  from getActiveButton() in grid_controls.js 
-->
<ul id="btn-field" class="hidden">
  <li class="{{ 'active' if show_side=='income' }}">
    <a id="income">{{ _('Ingresos') }}</a>
  </li>
{% if display_functional_view %}
  <li class="{{ 'active' if not full_breakdown }}">
    <a id="expense">{{ _('¿Cómo se gasta?') }}</a>
  </li>
  <li class="{{ 'active' if full_breakdown }}">
    <a id="fexpense">{{ _('¿En qué se gasta?') }}</a>
  </li>
{% else %}
  <li class="{{ 'active' if show_side!='income' }}">
    <a id="expense">{{ _('Gastos') }}</a>
  </li>
{% endif %}
</ul>

<!-- 
  We render the totals here initially, and move it to the active tab at run-time.
-->
<div class="hidden">
  <div id="totals_panel" class="data-panel">
    <div class="panel">
      <div class="panel-content">
        <p class="total"><span>{{ _('Total de inversiones y pagos') }}</span> <b id="total"></b></p>
      </div>
    </div>
  </div>
</div>

{% include 'shared/data_sources.html' %}

<script>
  $(function () {
    //
    // GRID RENDERING
    //

    function getColumnDefinition(uiState) {
      return { 
        field: 'expense',
        name: '{{ _("Pago") }}',
        formatter: getFormatter('nominal'),
        sortable: true, 
        headerCssClass: 'slick-header-right',
        column: uiState.year,
        getter: getBreakdownValue, 
        year: Number(uiState.year),
        width: 150,
        resizable: false
      }; 
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {
      var uiState = getUIState();
      console.log('uiState', uiState);
      var columnDef = getColumnDefinition(uiState);

      $("#payeeGrid").data('grid', createBudgetGrid( "#payeeGrid", 
                        payeeGridData, [
                          {
                            field: "key",
                            name: '{{ _("Beneficiario") }}',
                            formatter: rowNameFormatter
                          },
                          columnDef
                        ], {
                          explicitInitialization: true
                        }));

      $("#areaGrid").data('grid', createBudgetGrid( "#areaGrid", 
                        areaGridData, [
                          {
                            field: "key",
                            name: '{{ _("Área") }}',
                            formatter: rowNameFormatter
                          },
                          columnDef
                        ], {
                          explicitInitialization: true
                        }));
      onTabSwitch();  // Do some tab initialization

      // Total amounts are the same whichever way you break down the items, so any breakdown will do
      $("#total").text( 
        columnDef.formatter(  0, 0, 
          payeeBreakdown['expense'][uiState.year],
          columnDef, 
          payeeBreakdown) || 'n/a' );
    }    


    //
    // DATA
    //
    var payeeBreakdown = {{ payee_breakdown.to_json()|safe }};
    var payeeGridData = breakdownToTable(payeeBreakdown);

    var areaBreakdown = {{ area_breakdown.to_json()|safe }};
    var areaGridData = breakdownToTable(areaBreakdown);

    var years = {{ years|safe }};
    var stats = {{ stats|safe }};


    //
    // TABS
    //
    $('#tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show');

      // Callback to do some initialization (grid, controllers...) on tab switch
      onTabSwitch();
    });


    function onTabSwitch() {
      var currentTab = $(".payments-breakdown .tab-pane.active");

      // SlickGrid can't be initialized in a tab that is not visible, so we set explicitInitialization
      // to true, and tell the grid to initialize itself when the time comes, i.e. when the tab is visible
      var currentGrid = currentTab.find('.table-grid').data('grid');
      if ( currentGrid != undefined )
        currentGrid.init();

      // Move totals to the right tab
      var totals = $("#totals_panel").detach();
      totals.appendTo(currentTab.find(".totals-placeholder"));
    }


    //
    // LOCATION HASH
    //

    // XXX: This method is very similar to the one for policies, but not quite the same :/
    function unfoldItem(gridData, itemId) {
      var found = false;
      for ( i=0; i<gridData.length && !found; i++ ) {
        // XXX: Not proud of this matching (both passing a description via URL and using indexOf
        // to match), but a) we don't have a better id at the moment, the breakdown only gives us
        // amounts and the dimension keys, and b) because of the former we've added the date to the
        // item description, so we can't get an exact match.
        if ( gridData[i].key.indexOf(itemId) == 0 ) {
          var parent = gridData[i].parent;
          while (parent != null) {
            parent._expanded = true;
            parent = parent.parent;
          }
          found = true;
        }
      }
      return found;
    }

    function parseLocationHash() {
      state = $.deparam.fragment();

      // Highlight a particular item
      if ( state.description ) {
        unfoldItem(payeeGridData, state.description);
        redrawGrid();
        $("a[href=#tab-payee]").click();
        window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);

      } else {
        redrawGrid();
        onTabSwitch();  // Do some tab initialization
      }
    }

    initSlider("#year-selection", years, redrawGrid, {{ latest_year }});
    if (years.length==1) $(".data-controllers").hide();

    parseLocationHash();      // Handle the hash the page may have loaded with.
  })
</script>

{% endblock %}