{% extends 'base.html' %}
{% from 'shared/payment_tab.html' import render_tab as render_tab %}
{% block content %}
<div class="container">
  
</div>

<section class="payments-breakdown" role="region" data-tab="payee">

  <!-- Payments Header -->
  <div class="payments-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Inversiones y pagos') }}</h2>
    </div>

  </div>

  <div class="payments-content">
    <div class="container">
      
      {% include 'payments/payments_intro.html' %}

      {% include 'payments/payments_search.html' %}
    </div>

    <div class="container tab-content">
      
      <div id="query-panel" class="data-panel">
        <div class="panel">
          <div class="panel-content">
            <p>{{ _('Hay <b id="payments-size"></b> pagos que suman un total de <b id="payments-total"></b> para la búsqueda')|safe }}:</p>
            <p class="payments-query"></p>
          </div>
        </div>
      </div>

      <h4 class="page-title">{{ _('Principales proovedores del Gobierno de Aragón') }}</h4>

      <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
        <li><a href="#area"><h3>{{ _('Por área') }}</h3></a></li>
        <li><a href="#payee"><h3>{{ _('Por beneficiario') }}</h3></a></li>
      </ul>

      <!--
      <div id="totals_panel" class="totals-placeholder data-panel">
        <div class="panel">
          <div class="panel-content">
            <p class="total"><span>{{ _('Total de inversiones y pagos') }}</span> <b id="total"></b></p>
          </div>
        </div>
      </div>
      -->

      <table id="myGrid" class="table-grid" width="100%"></table>
    </div>

      {% include 'shared/social_sharing.html' %}
    </div>
  </div>
</section>

{% include 'shared/data_sources.html' %}

{% include 'payments/payments_script.html' %}

{% endblock %}
