{% extends 'base.html' %}
{% from 'shared/payment_tab.html' import render_tab as render_tab %}
{% block content %}
<div class="container">
  
</div>

<section class="payments-breakdown" role="region" data-tab="area">

  <!-- Payments Header -->
  <div class="payments-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Inversiones y pagos') }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
      <li class="active">
        <a href="#area"><h3>{{ _('Por área') }}</h3></a>
      </li>
      <li>
        <a href="#payee"><h3>{{ _('Por beneficiario') }}</h3></a>
      </li>
    </ul>
  </div>

  <div class="payments-content">
    <div class="container tab-content">
      
      {% include 'payments/payments_intro.html' %}
      
      <div class="data-controllers">
        <p class="title tcenter">{{ _('Elige año') }}</p>
        <div class="layout-slider">
          <input id="year-selection" type="text" />
        </div>
      </div>

      <div id="totals_panel" class="totals-placeholder data-panel">
        <div class="panel">
          <div class="panel-content">
            <p class="total"><span>{{ _('Total de inversiones y pagos') }}</span> <b id="total"></b></p>
          </div>
        </div>
      </div>

      <table id="myGrid" class="table-grid" width="100%"></table>

      {{ render_tab(_('Por área'), 'area', 'active', entity) }}
      {{ render_tab(_('Por beneficiario'), 'payee', '', entity) }}

      {% include 'shared/social_sharing.html' %}
    </div>
  </div>
</section>

{% include 'shared/data_sources.html' %}

<script>
  $(function () {
    //
    // GRID RENDERING
    //

    function getColumnDefinition(uiState) {
      return { 
        data: getBreakdownValueFunction('expense', uiState.year),
        title: '{{ _("Pago") }}',
        render: getFormatter('nominal', stats, Number(uiState.year))
      }; 
    }

    //Update Tab
    function updateTab() {
      var uiState = getUIState();

      console.log('updateTab', uiState);

      $('#tabs .active').removeClass('active');
      $('a[href="#'+uiState.type+'"]').blur().parent().addClass('active');
      
      redrawGrid();
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {
      var uiState   = getUIState();
      var columnDef = getColumnDefinition(uiState);
      var title     = (uiState.type == 'area') ? '{{ _("Área") }}' : '{{ _("Beneficiario") }}';
      var data      = (uiState.type == 'area') ? areaGridData : payeeGridData;
      
      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", data,
                        [
                          {
                            data: "key",
                            title: title,
                            render: rowNameFormatter
                          },
                          columnDef
                        ]);

      // Total amounts are the same whichever way you break down the items, so any breakdown will do
      $("#total").text( columnDef.render(columnDef.data(payeeBreakdown) || 'n/a' ) );
    }    


    //
    // DATA
    //
    var payeeBreakdown = {{ payee_breakdown.to_json()|safe }};
    var payeeGridData = breakdownToTable(payeeBreakdown);

    var areaBreakdown = {{ area_breakdown.to_json()|safe }};
    var areaGridData = breakdownToTable(areaBreakdown);

    var years = {{ years|safe }};
    var stats = {{ stats|safe }};

    var myGrid;


    initSlider("#year-selection", years, redrawGrid, {{ latest_year }});
    if (years.length==1) $(".data-controllers").hide();

    // Handle the hash the page may have loaded with.
    state = $.deparam.fragment();
    // Highlight a particular item
    if (state.description) {
      unfoldItem(payeeGridData, state.description);
      redrawGrid();
      $('a[href="#payee"]').parent().addClass('active');
      //$("#tab-payee a").click();
      //window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);
    }

    // Setup tabs navigation
    setRedrawOnTabsChange('#tabs', updateTab);
  });
</script>

{% endblock %}
