<p><h3 class="page-title">{{ _('Busca pagos a proveedores') }}</h3></p>

<div class="payments-search-panel data-panel">
  <div class="panel">
    <div class="panel-content">

      <!-- Payments Search Form -->
      <form id="payments-search">
        <div class="form-group">
          <label for="input-description">{{ _('Descripción') }}</label>
          <input type="text" id="input-description" class="form-control" placeholder="{{ _('Descripción') }}">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input-area">{{ _('Area') }}</label>
              <select id="input-area" class="form-control" style="width: 100%">
                <option value="" disabled selected hidden>{{ _('Selecciona Area') }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input-payee">{{ _('Proveedor') }}</label>
              <select id="input-payee" class="form-control" style="width: 100%">
                <option value="" disabled selected hidden>{{ _('Selecciona Proveedor') }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group data-controllers">
          <label for="input-date">{{ _('Filtra por fecha') }}</label>
          <input  type="text" id="input-date" class="form-control" data-slider-min="{{first_year}}" data-slider-max="{{last_year}}" data-slider-value="[{{first_year}}, {{last_year}}]" />
        </div>
        <button type="submit" class="btn btn-default btn-primary">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate hide"></span>
          {{ _('Filtrar') }}
        </button>
        <span class="alert alert-danger" role="alert">
          {{ _('Debes seleccionar al menos un criterio de filtrado') }}
        </span>
      </form>
    </div>
  </div>
</div>