<script>
  $(function () {

    var myGrid,
        areaBreakdown   = {{ area_breakdown.to_json()|safe }},
        payeeBreakdown  = {{ payee_breakdown.to_json()|safe }},
        query           = {},
        years           = {{ years }},
        areas           = {{ areas|safe }},
        payees          = {{ payees|safe }},
        paymentsCount,
        totalAmount;

    //
    // GRID RENDERING
    //

    function getColumnDefinition(uiState) {
      return { 
        data: getBreakdownValueFunction('expense', 'pagos'),
        title: '{{ _("Pago") }}',
        render: getFormatter('nominal', null, null)
      }; 
    }

    //Update Tab
    function updateTab() {

      var queryHash = getQueryHash();

      console.log('updateTab', queryHash);

      if (!isSameQuery(queryHash)) {
        query = queryHash;
        sendSearchQuery();
      } 
      else {
        if( areaBreakdown === undefined ) return;   // Skip first call
        var uiState = getUIState();
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.type+'"]').blur().parent().addClass('active');
        redrawGrid();
      }
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {
      var uiState   = getUIState();

      // TODO!!! set type (area or payee) based on search parameters
      //uiState.type  = 'payee'
      var data      = (uiState.type == 'area') ? areaBreakdown : payeeBreakdown;
      var columnDef = getColumnDefinition(uiState);
      var title     = (uiState.type == 'area') ? '{{ _("Área") }}' : '{{ _("Beneficiario") }}';

      console.log('redrawGrid', uiState, columnDef);

      if ( myGrid !== undefined )  myGrid.destroy();

      myGrid = createBudgetGrid("#myGrid", breakdownToTable(data),
                        [
                          {
                            data: "key",
                            title: title,
                            render: rowNameFormatter
                          },
                          columnDef
                        ]);
      
      // TODO!!! Add literals translation
      var queryStr = '';
      if (query.description) queryStr += 'Descripción: <b>'+query.description+'</b> / ';
      if (query.area) queryStr += 'Area: <b>'+query.area+'</b> / ';
      if (query.payee) queryStr += 'Beneficiario: <b>'+query.payee+'</b> / ';
      var dates = query.date.split(',');
      if (dates[0] !== dates[1]) {
        queryStr += 'Entre <b>'+dates[0]+'</b> y <b>'+dates[1]+'</b>';
      } else{
        queryStr += 'En <b>'+dates[0]+'</b>';
      }

      $('#query-panel .payments-query').html( queryStr );

      $("#payments-total").text( formatAmount(totalAmount) );
      $("#payments-size").text( formatNumber(paymentsCount) );

      $('.payments-content .tab-content').show();
    }

    function sendSearchQuery(){
      console.log('sendSearchQuery');
      $.ajax({
        url: "pagos/search",
        data: {
          description:  query.description,
          payee:        query.payee,
          area:         query.area,
          date:         query.date
        },
        contentType: 'application/json; charset=utf-8',
        success: onSearchSuccess,
        error: onSearchError,
      });
    }

    function onSearchSuccess(response) {
      console.log('onSearchSuccess');

      paymentsCount = response.totalResults;
      totalAmount = response.totalAmount;
      areaBreakdown = response.areaBreakdown;
      payeeBreakdown = response.payeeBreakdown;

      // Select tab based on query params
      var view = ( query.area ) ? 'payee' : 'area';

      // Change view hash to trigger updateTab
      $.bbq.removeState('view');  // We need to clear view hash before update it
      $.bbq.pushState( {'view': view} );

      $('#payments-search button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');
    }

    function onSearchError(response) {
      //TODO!!! Add error message
      $('#payments-search button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');
    }

    function isSameQuery(_query) {
      return query.description === _query.description && query.payee === _query.payee && query.area === _query.area && query.date === _query.date;
    }

    function getQueryHash(){
      var hash = $.deparam.fragment();
      var queryHash = {
        description:  hash.description.trim(),
        date:         hash.date
      };
      if( hash.payee )        queryHash.payee = hash.payee;
      if( hash.area )         queryHash.area = hash.area;
      return queryHash;
    }

    //
    // SETUP
    //

    /*
    // Handle the hash the page may have loaded with.
    state = $.deparam.fragment();
    // Highlight a particular item
    if (state.description) {
      unfoldItem(payeeGridData, state.description);
      redrawGrid();
      $('a[href="#payee"]').parent().addClass('active');
      //$("#tab-payee a").click();
      //window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);
    }
    */

    // Setup area & payees selects
    $('#input-area').select2({
      data: areas
    });

    $('#input-payee').select2({
      data: payees
    });

    // Setup year slider
    $('#input-date').slider({
      //tooltip: 'always',
      ticks: years.map(function(d){ return parseInt(d); }),
      ticks_labels: years
    });

    // Setup form submit handler
    $('#payments-search').submit(function(e){
      e.preventDefault();

      // Show alert if there's no filter parameter
      if( $('#input-description').val().trim() === '' && $('#input-payee').val() === null && $('#input-area').val() === null ){
        $(this).find('.alert').show();
        $('#input-description, #input-payee, #input-area').one('change', function(){
          $('#payments-search .alert').hide();
        });
        return;
      }

      $(this).find('button[type="submit"]').attr('disabled', true).children('.glyphicon').removeClass('hide');
    
      var state = {
        description:  $('#input-description').val().trim(),
        date:         $('#input-date').val()
      }
      if( $('#input-payee').val() ) state.payee = $('#input-payee').val();
      if( $('#input-area').val() )  state.area = $('#input-area').val();

      // Setup hashes with search parameters
      $.bbq.pushState( state );
    });

    // Setup tabs navigation
    setRedrawOnTabsChange('#tabs', updateTab);
  });
</script>