<script>
  $(function () {

    var uiState,
        myGrid,
        areaBreakdown   = {{ area_breakdown.to_json()|safe }},
        payeeBreakdown  = {{ payee_breakdown.to_json()|safe }},
        query           = { description: '' },
        years           = {{ years }},
        paymentsCount,
        totalAmount;

    // Grid rendering
    function getColumnDefinition(uiState) {
      return { 
        data: getBreakdownValueFunction('expense', 'pagos'),
        title: '{{ _("Pago") }}',
        render: getFormatter('nominal', null, null)
      }; 
    }

    // Are we still showing the initial summary? Decide whether we're displaying
    // the main payee list or a search result by checking for a variable only
    // populated by the search
    function showingInitialSummary() {
      return paymentsCount === undefined;
    }

    // Render payee name with a link to search for that payee
    function mainPayeeFormatter(value, type, item) {
      return "<a href='#view=area&payee="+value+"'>"+value+"</a>";
    }

    // Render area name with a link to search for that area
    function areaFormatter(value, type, item) {
      return "<a href='#view=payee&area="+value+"'>"+value+"</a>";
    }

    //Update Tab
    function updateTab() {

      var queryHash = getQueryHash();

      // Update query & send ajax search (if query is not empty)
      if (!isSameQuery(queryHash)) {
        query = queryHash;
        if (!isEmptyQuery(queryHash)) {
          sendSearchQuery();
        }
      }
      // Update tabs
      else {

        // Show Payees Summary if query is empty
        if (isEmptyQuery(queryHash)) {
          setupPayeesSummary();
          return;
        }

        // Setup inputs val if needed
        setupInputs();

        // Hide summary & show tabs
        $('#query-panel').show();
        $('#area-tab').text("{{ _('Por área') }}");
        $('#payee-tab').text("{{ _('Por beneficiario') }}");

        // Update uiState
        uiState = getUIState();

        // Update tab
        $('#tabs .active').removeClass('active');
        $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
        redrawGrid();
      }
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {
      var data      = (uiState.view == 'area') ? areaBreakdown : payeeBreakdown;
      var formatter = showingInitialSummary() ?
                        ((uiState.view == 'area') ? areaFormatter : mainPayeeFormatter) :
                        rowNameFormatter;
      var columnDef = getColumnDefinition(uiState);
      var title     = (uiState.view == 'area') ? '{{ _("Área") }}' : '{{ _("Beneficiario") }}';

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", breakdownToTable(data),
                        [
                          {
                            data: "key",
                            title: title,
                            render: formatter
                          },
                          columnDef
                        ]);

      var queryStr = [];
      if (query.description && query.description !== '')
        queryStr.push('{{ _("Descripción") }} <strong>'+query.description+'</strong>');
      if (query.area)
        queryStr.push('{{ _("Área") }} <strong>'+query.area+'</strong>');
      if (query.payee)
        queryStr.push('{{ _("Proveedor") }} <strong>'+query.payee+'</strong>');
      if (query.date) {
        var dates = query.date.split(',');
        queryStr.push(dates[0] !== dates[1] ?
                        '<strong>'+dates[0]+'</strong> - <strong>'+dates[1]+'</strong>' :
                        '<strong>'+dates[0]+'</strong>');
      }
      $('#query-panel .payments-query').html( queryStr.join(' + ') );

      $("#payments-total").text( formatAmount(totalAmount) );
      $("#payments-size").text( formatNumber(paymentsCount) );

      // Update download links
      var queryString = window.location.hash.replace("#", "");
      $('.icon-file-excel').each(function() {
        $(this).attr('href', $(this).attr('data-base-url')+'?'+queryString)
      });

      $('.payments-content .tab-content').show();
    }

    function sendSearchQuery(){
      $.ajax({
        url: "pagos/search",
        data: {
          description:  query.description,
          payee:        query.payee,
          area:         query.area,
          date:         query.date
        },
        contentType:    'application/json; charset=utf-8',
        success:        onSearchSuccess,
        error:          onSearchError,
      });
    }

    function onSearchSuccess(response) {

      // Setup values
      paymentsCount   = response.totalResults;
      totalAmount     = response.totalAmount;
      areaBreakdown   = response.areaBreakdown;
      payeeBreakdown  = response.payeeBreakdown;

      // Hide submit loader
      $('#payments-search button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');

      // Update tab & redraw grid
      updateTab();
    }

    function onSearchError(response) {
      //TODO!!! Add error message
      $('#payments-search button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');
    }

    function setupInputs() {
      if (query.description !== $('#input-description').val().trim()){
        $('#input-description').val(query.description);
      }
      if (query.area !== $('#input-area').val()){
        $('#input-area').val(query.area).trigger("chosen:updated");
      }
      if (query.payee !== $('#input-payee').val()){
        $('#input-payee').val(query.payee).trigger("chosen:updated");
      }
      if (query.date !== $('#input-date').val()){
        $('#input-date').val(query.date);
      }
    }

    function setupPayeesSummary() {
      uiState = getUIState();
      $('#tabs .active').removeClass('active');
      $('a[href="#'+uiState.view+'"]').blur().parent().addClass('active');
      $('#query-panel').hide();
      redrawGrid();
    }

    function isSameQuery(_query) {
      return query.description === _query.description && query.payee === _query.payee && query.area === _query.area && query.date === _query.date;
    }

    function isEmptyQuery(_query) {
      return Object.keys(_query).length === 1 && _query.description === ''
    }

    function getQueryHash(){
      var hash = $.deparam.fragment();
      var queryHash = {
        description: ( hash.description ) ? hash.description : ''
      };
      if( hash.date )         queryHash.date = hash.date;
      if( hash.payee )        queryHash.payee = hash.payee;
      if( hash.area )         queryHash.area = hash.area;
      return queryHash;
    }

    //
    // SETUP
    //

    // Setup area & payees selects
    $('#input-area').chosen({width: '100%'});
    $('#input-payee').chosen({width: '100%'});

    // Setup year slider
    $('#input-date').slider({
      //tooltip: 'always',
      ticks: years.map(function(d){ return parseInt(d); }),
      ticks_labels: years
    });
    // Hide year slider if there's only one year
    if (years.length <= 1) {
      $('#payments-search .data-controllers').hide();
    }

    // Setup form submit handler
    $('#payments-search').submit(function(e){
      e.preventDefault();

      // Show alert if there's no filter parameter
      if ($('#input-description').val().trim() === '' && ($('#input-payee').val() === null || $('#input-payee').val() === '') && ($('#input-area').val() === null || $('#input-area').val() === '')) {
        $(this).find('.alert').show();
        $('#input-description, #input-payee, #input-area').one('change', function(){
          $('#payments-search .alert').hide();
        });
        return;
      }

      // Show submit loader
      $(this).find('button[type="submit"]').attr('disabled', true).children('.glyphicon').removeClass('hide');
    
      var state = {
        description:  $('#input-description').val().trim(),
        date:         $('#input-date').val()
      }
      state.payee = $('#input-payee').val();
      state.area = $('#input-area').val();

      // If submit the previous query we hide submit loader & do nothing
      if (isSameQuery(state)) {
        $(this).find('button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');
        return;
      }

      // Select tab based on query params
      state.view = ( state.area && state.area !== '' ) ? 'payee' : 'area';

      // Setup hashes with search parameters
      $.bbq.pushState( state );
    });

    // Setup tabs navigation
    setRedrawOnTabsChange('#tabs', updateTab);
  });
</script>