{% extends 'base.html' %}
{% from 'shared/pagination.html' import render_pagination_controls as render_pagination_controls %}
{% from 'search/render_articles.html' import render_articles as render_articles %}
{% from 'search/render_headings.html' import render_headings as render_headings %}
{% block content %}

<section class="search" role="region">

  <!-- Tax Receipt Header -->
  <div class="search-header section-header">
    <div class="container">
      <h2 class="page-title">{{ query.capitalize() }}</h2>
    </div>
  </div>

  <div class="search-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <p class="alert note">
            {{ _('Hemos encontrado <strong>%s resultados</strong> relacionados con <strong>%s</strong>.')|format(results_size, query|escape)|safe }}
          </p>
        </div>

        <div class="scol-sm-6">
          <form id="form-search-controls" class="form-inline" action="{{ url('search') }}" method="get">
            <div class="form-group">
              <label for="year-dropdown">{{ _('Mostrar resultados de') }}:</label>
              <select name="year" id="year-dropdown" class="form-control">
                {% if selected_year=="all" %}
                <option value='all' selected='selected'>{{ _('cualquier año') }}</option>
                {% else %}
                <option value='all'>{{ _('cualquier año') }}</option>
                {% endif %}
                {% for year in years %}
                  {% if year==selected_year %}
                  <option value="{{ year }}" selected='selected'>{{ year }}</option>
                  {% else %}
                  <option value="{{ year }}">{{ year }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <input type="hidden" value="{{ query }}" name="q" />
          </form>
        </div>
      </div>

      {% if entities %}
      <div class="results-terms panel">
        <div class="panel-heading">
          <h3>{{ _('Comarcas y municipios') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table" summary="Resultados encontrados en Comarcas y municipios para el término buscado">
            <caption class="hidden">{{ _('Comarcas y municipios') }}</caption>
            <tbody>
            {% for entity in entities %}
              <tr>
                <th data-th="Política" headers="policy-program" id="programme1" scope="row">
                  {% if entity.level==main_entity_level %}
                    <a href="{{ url('policies') }}">{{ entity.name }}</a>
                  {% else %}
                  {% set view_name = 'counties_show' if entity.level=='comarca' else 'towns_show' %}
                    <a href="{{ url(view_name, entity.name|slugify) }}">{{ entity.name }}</a>
                  {% endif %}
                </th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if departments %}
      <div class="results-terms panel">
        <div class="panel-heading">
          <h3>{{ _('Áreas') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table" summary="Resultados encontrados en Secciones para el término buscado">
            <caption class="hidden">{{ _('Secciones') }}</caption>
            <tbody>
            {% for department in departments %}
              <tr>
                <th data-th="Política" headers="policy-program" id="programme1" scope="row">
                  <a href="{{ url('sections_show', department.department, department.description|slugify) }}">{{ department.description }}</a>
                </th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if policies_ids or programmes_per_policy %}
      <div class="results-policies panel">
        <div class="panel-heading">
          <h3>{{ _('Políticas y Programas') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-1">{{ _('Política') }}</th>
                <th class="col-2">{{ _('Programa') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for policy_id in policies_ids %}
              <tr>
                <td class="col-1">
                  <a href="{{ url('policies_show', policy_id, descriptions['functional'].get(policy_id)|slugify) }}" id="policy-name-link">{{ descriptions['functional'].get(policy_id) }}</a>
                </td>
                <td></td>
              </tr>
              {% endfor %}

              {% for policy_id, programmes in programmes_per_policy.iteritems() %}
                {% for programme_id in programmes %}
                <tr>
                  <td class="col-1">
                    <a href="{{ url('policies_show', policy_id, descriptions['functional'].get(policy_id)|slugify) }}" id="policy-name-link">{{ descriptions['functional'].get(policy_id) }}</a>
                  </td>
                  <td class="col-2">
                    <a href="{{ url('programmes_show', programme_id, descriptions['functional'].get(programme_id)|slugify) }}">{{ descriptions['functional'].get(programme_id) }}</a>
                  </td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}


      {% if income_articles_id or headings_per_income_article or expense_articles_ids or headings_per_expense_article %}
      <div class="results-policies panel">
        <div class="panel-heading">
          <h3>{{ _('Artículos y conceptos') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-1">{{ _('Artículo') }}</th>
                <th class="col-2">{{ _('Concepto') }}</th>
              </tr>
            </thead>
            <tbody>
              {{ render_articles(income_articles_id, 'income', descriptions) }}
              {{ render_articles(expense_articles_id, 'expense', descriptions) }}

              {{ render_headings(headings_per_income_article, 'income', descriptions) }}
              {{ render_headings(headings_per_expense_article, 'expense', descriptions) }}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if items %}
      <div class="results-concepts panel">
        <div class="panel-heading">
          <h3>{{ _('Partidas') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-1">{{ _('Partida') }}</th>
                <th class="col-2">{{ _('Gastos / Ingresos') }}</th>
              </tr>
            </thead>

            <tbody>
            {% for item in items %}
              {# Convenience variable to simplify URL-generation logic below. #}
              {% if item.policy %}
                {% set show_side = 'functional' %}
              {% else %}
                {% set show_side = 'expense' if item.expense else 'income' %}
              {% endif %}
              <tr>
                <td class="col-1">
                  <p class="concept-heading">
                    {# Year and location #}
                    {% if item.level==main_entity_level %}
                      <a class="date" href="{{ url('policies') }}#view={{show_side}}">
                      {% if search_entities %}
                        {{ item.name }} {{ item.year }} 
                      {% else %}
                        {{ item.year }}
                      {% endif %}
                      </a>
                    {% else %}
                    {% set view_name = 'counties_show' if item.level=='comarca' else 'towns_show' %}
                      <a class="date" href="{{ url(view_name, item.name|slugify) }}#view={{show_side}}">
                      {% if search_entities %}
                        {{ item.name }} {{ item.year }}
                      {% else %}
                        {{ item.year }}
                      {% endif %}
                      </a>
                    {% endif %}
                    {# Programme/Article #}
                    {# XXX: We could try to show this for small entities, but we only have descriptions for top-level one #}
                    {% if item.level==main_entity_level %}
                      {% if item.expense %}
                        {% if item.subprogramme %}
                          | <a class="programme" href="{{ url('subprogrammes_show', item.subprogramme, descriptions['functional'].get(item.subprogramme)|slugify) }}">{{ descriptions['functional'].get(item.subprogramme) }}</a>
                        {% else %}
                          | <a class="programme" href="{{ url('programmes_show', item.programme, descriptions['functional'].get(item.programme)|slugify) }}">{{ descriptions['functional'].get(item.programme) }}</a>
                        {% endif %}
                      {% else %}
                        | <a class="programme" href="{{ url('income_articles_show', item['article'], descriptions['income'].get(item['article'])|slugify) }}" id="policy-name-link">{{ descriptions['income'].get(item.article) }}</a>
                      {% endif %}
                    {% endif %}
                  </p>
      
                  

                  {# Concept name #}
                  <p class="concept">
                    {% set item_uid = item.uid() if breakdown_by_uid else item.economic_uid() %}
                    {% if item.level==main_entity_level %}
                      {% if item.expense %}
                        {% if item.subprogramme %}
                          <a href="{{ url('subprogrammes_show', item['subprogramme'], descriptions['functional'].get(item['subprogramme'])|slugify) }}#item={{item_uid}}&year={{item.year}}" id="policy-name-link">{{ item.description|safe }}</a>
                        {% else %}
                          <a href="{{ url('programmes_show', item['programme'], descriptions['functional'].get(item['programme'])|slugify) }}#item={{item_uid}}&year={{item.year}}" id="policy-name-link">{{ item.description|safe }}</a>
                        {% endif %}
                      {% else %}
                        <a href="{{ url('income_articles_show', item['article'], descriptions['income'].get(item['article'])|slugify) }}#item={{item_uid}}&year={{item.year}}" id="policy-name-link">{{ item.description|safe }}</a>
                      {% endif %}
                    {% else %}
                      {% set view_name_prefix = 'counties_show_' if item.level=='comarca' else 'towns_show_' %}
                      {% set view_name = view_name_prefix+show_side %}
                      {% if show_side == 'functional' %}
                        {% set item_id = item.policy %}
                        {# TODO: Anchoring into functional breakdown pages not supported, only economic ones. Only relevant #}
                        {% set item_anchor = '' %}
                      {% else %}
                        {# TODO: link to chapter page will not work #}
                        {% set item_id = item.article %}
                        {% set item_anchor = item_uid %}
                      {% endif %}
                      <a href="{{ url(view_name, item.name|slugify, item_id) }}?year={{item.year}}#item={{item_anchor}}" id="policy-name-link">{{ item.description|safe }}</a>
                    {% endif %}
                  </p>
                </td>

                <td class="col-2">
                  <p class="concept-value-heading">
                    {{ _('Gastos') if item.expense else _('Ingresos') }}
                  </p>
                  <p class="concept-value">
                    {{ formatter(item.amount/100) }} €
                  </p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {{ render_pagination_controls(items, request) }}
      {% endif %}

      {% if payments %}
      <div class="results-concepts panel">
        <div class="panel-heading">
          <h3>{{ _('Pagos e inversiones') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-1">{{ _('Concepto') }}</th>
                <th class="col-2">{{ _('Cantidad') }}</th>
              </tr>
            </thead>

            <tbody>
            {% for payment in payments %}
              <tr>
                <td class="col-1">
                  {# Year and location #}
                  {% if payment.date %}
                  <p class="concept-heading">
                    {{ payment.date }}
                  </p>
                  {% endif %}

                  {# Concept name #}
                  <p class="concept">
                    <a href="{{ url('payments') }}#description={{payment.description}}" id="policy-name-link">{{ payment.payee|safe }}: {{ payment.description|safe }}</a>
                  </p>

                  {# Programme/Article #}
                  {% if payment.programme %}
                  <p class="programme">
                    <a href="{{ url('policies-programmes', payment.programme, payment.fc_description|slugify) }}">{{ payment.fc_description|safe }}</a>
                  </p>
                  {% endif %}
                </td>
                <td class="col-2">
                  <p class="concept-value">
                    {{ formatter(payment.amount/100) }} €
                  </p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {{ render_pagination_controls(payments, request) }}
      {% endif %}

      {% if terms %}
      <div class="results-terms panel">
        <div class="panel-heading">
          <h3>{{ _('Términos') }}</h3>
        </div>
        <div class="panel-body">
          <table class="table glossary-terms">
            <tbody>
            {% for term in terms %}
            <tr>
              <td>
                <h4 class="icon-term">{{ term.title }}</h4>
                <div class="term-description">{{ term.description|safe }}</div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      
    </div>
  </div>
</section>

<script>
  $(function () {
    $("#year-dropdown").change(function() { $('#form-search-controls').submit(); });
  });
</script>

{% endblock %}
