{% macro render_headings(headings_per_article, expense_side, descriptions) %}
{% for article_id, headings in headings_per_article.iteritems() %}
  {% for heading_id in headings %}
  <tr>
    <td class="col-1">
      <a href="{% url 'budget_app.views.expense_articles_show' article_id, descriptions[expense_side].get(article_id|slugify) %}">{{ descriptions[expense_side].get(article_id) }}</a>
    </td>

    <td class="col-2">
      <a href="{% url 'budget_app.views.expense_articles_show' article_id, descriptions[expense_side].get(article_id|slugify) %}">{{ descriptions[expense_side].get(heading_id) }}</a>
    </td>
  </tr>
  {% endfor %}
{% endfor %}
{% endmacro %}
