<script>
  $(function () {

    // Variable Definitions
    var uiState         = null,
        myGrid,
        areaBreakdown   = {{ area_breakdown.to_json( labels=descriptions['geographic'] )|safe }};

    // Grid rendering
    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        data: getBreakdownValue,
        title: '{{ _("Gastado") }}',
        render: Formatter.getFormatter('nominal', null, null)
      };
    }

    function redraw() {
      var uiState = getUIState(),
          columnDef = getColumnDefinition(uiState);

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", breakdownToTable(areaBreakdown),
                        [
                          {
                            data: 'label',
                            title: '{{ _("Distrito") }}',
                            render: investmentAreaLinkFormatter
                          },
                          columnDef
                        ]);
    }

    // Set up controls (format selector & year slider)
    $('#select-format').change(function() {
      redraw();
    });
      
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ starting_year }});

    redraw();
  });
</script>