<script>
  $(function () {

    // Variable Definitions
    var uiState         = null,
        myGrid,
        areaBreakdown   = {{ area_breakdown.to_json()|safe }};

    // Grid rendering
    function getColumnDefinition(uiState) {
      return {
        data: getBreakdownValueFunction('expense', 'inversiones'),
        title: '{{ _("Inversión") }}',
        render: Formatter.getFormatter('nominal', null, null)
      };
    }

    function redraw() {
      var data      = areaBreakdown,
          formatter = rowNameFormatter,
          columnDef = getColumnDefinition(uiState);

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", breakdownToTable(data),
                        [
                          {
                            data: "key",
                            title: '{{ _("Área") }}',
                            render: formatter
                          },
                          columnDef
                        ]);
    }

    // Set up controls (format selector & year slider)
    $('#select-format').change(function() {
      redraw();
    });
      
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ starting_year }});

    redraw();
  });
</script>