<script>
  $(function () {

    // Variable Definitions
    var uiState               = null,
        myGrid,
        currentChart,
        areaBreakdown         = {{ area_breakdown.to_json( labels=descriptions['functional'] )|safe }},
        specialAreaBreakdown  = {{ special_investments_area_breakdown.to_json( labels=descriptions['functional'] )|safe }},
        gridData              = breakdownToTable(areaBreakdown),
        stats                 = {{ stats|safe }},
        budgetStatuses        = {{ budget_statuses|safe }};

    // Translations
    var i18n = {
      'table': {
        'sortAscending': '{{ _(": Clicar para ordenar ascendentemente") }}',
        'sortDescending': '{{ _(": Clicar para ordenar descendentemente") }}'
      }
    };

    // Grid rendering
    // XXX: Some of the code may be duplicated in index_script
    function getColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, uiState.year);
      return {
        data: getBreakdownValue,
        title: '{{ _("Presupuestado") }}',
        render: {
          display: Formatter.getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
        }
      };
    }

    function getExecutionColumnDefinition(uiState) {
      var getBreakdownValue = getBreakdownValueFunction(uiState.field, "actual_" + uiState.year);
      return {
        data: getBreakdownValue,
        title: getExecutionColumnName(budgetStatuses[uiState.year], '{{ _("Invertido") }}', budgetStatusLabels),
        render: {
          display: Formatter.getFormatter(uiState.format, stats, Number(uiState.year), getBreakdownValue)
        }
      };
    }

    function redraw() {
      uiState = getUIState();

      var columnDef = getColumnDefinition(uiState),
          executionColumnDef = getExecutionColumnDefinition(uiState);

      // Setup myGrid if exist item #myGrid
      if ($('#myGrid').length > 0) {
        if ( myGrid !== undefined ) myGrid.destroy();
        myGrid = createBudgetGrid("#myGrid", gridData,
                          [
                            {
                              data: function(item) { return item.label || item.key; },
                              title: '{{ _("Política.Inversiones") }}',
                              render: {
                                display: rowNameFormatter
                              }
                            },
                            columnDef,
                            executionColumnDef
                          ], i18n.table);
      }

      // Redraw chart
      var colorScale = {{ color_scale|safe }};
      currentChart = new BudgetStackedChart('#policy-chart-container', stats, colorScale, i18n)
        .budgetStatuses(budgetStatuses)
        .loadBreakdown(areaBreakdown, uiState.field)
        .draw(uiState);

      // XXX: This is very similar to policies/show_script and investments/index_script, should refactor.
      // Hide totals panel if format is '% of total'
      if (uiState.format === 'percentage') {
        $('#totals-panel').hide();
      } else {
        $('#totals-panel').show();
      }

      // Set total labels
      var executedLabel = '{{ _("Invertido") }}',
          mainLabel = '{{ area.description }}',
          specialInvestmentsLabel = "{{ _('Inversiones Financieramente Sostenibles (IFS)') }}",
          executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels),
          hasActualData = areaBreakdown[uiState.field]['actual_'+uiState.year];

      InvestmentTotalHelpers.setHeaderLabels(uiState.year+' '+executionLabelPostfix, executedLabel);
      InvestmentTotalHelpers.setBodyLabels(mainLabel, null, specialInvestmentsLabel);

      // Set total budgeted and executed amounts (if hasActualData)
      InvestmentTotalHelpers.setTotals(areaBreakdown, specialAreaBreakdown, columnDef, '.total-budgeted');
      if (hasActualData) {
        InvestmentTotalHelpers.setTotals(areaBreakdown, specialAreaBreakdown, executionColumnDef, '.total-executed');
      } else {
        InvestmentTotalHelpers.clear('.total-executed');
      }

      // Show the special investments data only from 2014 to 2020
      if ( uiState.year < 2014 || uiState.year > 2020 ) {
        $('.total-special').hide();
      } else {
        $('.total-special').show();
      }
    }

    // Set up controls (format selector & year slider)
    $('#select-format').change(redraw);

    initSlider('#year-selection', {{ years|safe }}, {{ starting_year }});
    setRedrawOnSliderChange('#year-selection', {{ starting_year }}, redraw);

    redraw();

    // Add click embed btn event
    setEmbedModal();
  });
</script>
