{% extends 'base.html' %}

{% block content %}

<!-- Inversiones Detalle -->
<section class="investments investment-breakdown" role="region">

  <!-- Inversiones Header -->
  <div class="investments-header policies-header section-header">

    <div class="container">
      {% if show_breadcrumbs %}
      {% include 'shared/breadcrumbs.html' %}
      {% else %}
      <p class="history-back">
        <a href="{{ url('budget_app.views.investments') }}">&larr; {{ _('Volver a Inversiones') }}</a>
      </p>
      {% endif %}
      <h2 class="page-title">{{ area.description }}</h2>
    </div>
  </div>

  <!-- Inversiones Content -->
  <div class="investments-content">
    <div class="container">

      {% include 'investments/investment-chart.html' %}

       <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}

      <!-- Totals Panel -->
      {% include 'investments/totals.html' %}

      <!-- Table Grid -->
      <table id="myGrid" class="table-grid" width="100%"></table>

      <!-- Panel Downloads -->
      <div class="panel-downloads">
        <p class="downloads"">
          {{ _('Descarga la tabla de <strong>Inversiones</strong>')|safe }}
          <a class="icon-file-excel" href="{{ url('budget_app.views.entity_investment_line_breakdown', entity.slug, area.code, 'csv') }}" title="{{ _('Descarga la tabla en CSV') }}"><span class="file-info">CSV</span></a>
          o
          <a class="icon-file-excel" href="{{ url('budget_app.views.entity_investment_line_breakdown', entity.slug, area.code, 'xlsx') }}" title="{{ _('Descarga la tabla en Excel') }}"><span class="file-info">Excel</span></a>
        </p>
      </div>
    </div>

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

{% include 'shared/modal_embed.html' %}
{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}
{% include 'shared/data_sources.html' %}
{% include 'investments/show_script.html' %}

{% endblock %}