<!-- Budget Totals -->
<div class="budget-totals">
  <div class="panel totals">
    <div class="panel-title row">
      <div class="col-sm-6"></div>
      <div class="col-sm-3 text-right" aria-hidden="true">{{ _('Ingresos') }}</div>
      <div class="col-sm-3 text-right" aria-hidden="true">{{ _('Gastos') }}</div>
    </div>
    <ul class="panel-content">
    {% if show_overview_subtotals %}
      <li class="total-executed">
        <div>{{ _('Total Ejecutado') }} <span class="execution-status"></span></div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="total-incomes-executed"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="total-expenses-executed"></p>
          </li>
        </ul>
      </li>
      <li class="total-budgeted">
        <div>{{ _('Total Presupuestado') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="total-incomes-budgeted"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="total-expenses-budgeted"></p>
          </li>
        </ul>
      </li>
      <li class="chapters chapters-first">
        <div><div class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos I-VII') }}"></div> {{ _('Subtotal no financiero') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="chapters-1-7-incomes"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="chapters-1-7-expenses"></p>
          </li>
        </ul>
      </li>
      <li class="chapters chapters-sub chapters-sub-first">
        <div><div class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos I-V') }}"></div> {{ _('Subtotal corriente') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="chapters-1-5-incomes"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="chapters-1-5-expenses"></p>
          </li>
        </ul>
      </li>
      <li class="chapters chapters-sub">
        <div><div class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos VI-VII') }}"></div> {{ _('Subtotal de capital') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="chapters-6-7-incomes"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="chapters-6-7-expenses"></p>
          </li>
        </ul>
      </li>
      <li class="chapters">
        <div><div class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos VIII-IX') }}"></div> {{ _('Subtotal financiero') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="chapters-8-9-incomes"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="chapters-8-9-expenses"></p>
          </li>
        </ul>
      </li>
    {% else %}
      <li class="total-executed">
        <div>{{ _('Total Ejecutado') }}<div class="execution-status"></div></div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="total-chart-incomes-executed"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="total-chart-expenses-executed"></p>
          </li>
        </ul>
      </li>
      <li class="total-budgeted">
        <div>{{ _('Total Presupuestado') }}</div>
        <ul>
          <li>
            <p class="data-label">{{ _('Ingresos') }}</p>
            <p id="total-chart-incomes-budgeted"></p>
          </li>
          <li>
            <p class="data-label">{{ _('Gastos') }}</p>
            <p id="total-chart-expenses-budgeted"></p>
          </li>
        </ul>
      </li>
    {% endif %}
    </ul>
  </div>
  <p class="text-center"><small>
  {% if show_actual and show_overview_subtotals %}
  {{ _('El cálculo de los subtotales utiliza las cifras de ejecución para los años cuya liquidación está cerrada, o el presupuesto aprobado en caso contrario.') }}
  {% endif %}
  {% if adjust_inflation_in_overview %}
  {{ _('Cantidades actualizadas con la inflación a fecha 1 de enero de %s.')|format(last_inflation_year) }}
  {% endif %}
  </small></p>
</div>