<div class="panel indicators">
  <div class="panel-title row">
    <div class="col-sm-12">{{ _('Indicadores presupuestarios') }}</div>
  </div>
  <div class="panel-content">
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro bruto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos corrientes (capítulos I-V) - Gastos corrientes (capítulos I-V)') }}">{{ _('Glosario') }} - {{ _('Ahorro bruto') }}</a> {{ _('Ahorro bruto') }}
      </div>
      <div class="col-sm-4">
        <strong id="total-gross-savings" class="value"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro neto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ahorro bruto – capítulo IX de gastos (pasivos financieros)') }}">{{ _('Glosario') }} - {{ _('Ahorro neto') }}</a> {{ _('Ahorro neto') }}
      </div>
      <div class="col-sm-4">
        <strong id="total-net-savings" class="value"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Capacidad/Necesidad de financiación') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}">{{ _('Glosario') }} - {{ _('Capacidad/Necesidad de financiación') }}</a> {{ _('Capacidad/Necesidad de financiación') }} 
      </div>
      <div class="col-sm-4">
        <strong id="total-funding-capacity" class="value"></strong>
      </div>
    </div>
  </div>
</div>

{% if show_actual %}
<p class="text-center"><small>{{ _('El cálculo de los indicadores utiliza las cifras de ejecución para los años cuya liquidación está cerrada, o el presupuesto aprobado en caso contrario.') }}</small></p>
{% endif %}