<script>
// Global function getSum
function getSum(breakdown, ids, field, year, budgetStatuses) {
  // Prefer the execution amount if it exists and the year is complete,
  // ...otherwise stick with the budget.
  var use_execution_data = budgetStatuses[year]!== undefined &&
                            budgetStatuses[year]=='' &&
                            breakdown.years['actual_'+year];
  var column_name = use_execution_data ? 'actual_'+year : year;
  return _.reduce(ids, function(sum, id) {
      // It's rare, but it may happen that a chapter is missing, so double check
      return sum + ((breakdown.sub[id]&&breakdown.sub[id][field][column_name]) || 0);
    }, 0);
}

// Update budget totals
function updateBudgetTotals(chapterBreakdown, economicBreakdown, budgetStatuses, adjustInflationFn, uiState) {
  function format(amount) {
    return formatAmount(adjustInflationFn(amount, uiState.year));
  }

  // The economic breakdown is aware of whether we're including the financial chapters,
  // i.e. it shows a total matching that of the overview chart. We could remove
  // one argument to this function (economicBreakdown) and calculate the same totals
  // from the chapterBreakdown, as long as we had access to the include_financial_chapters
  // setting. But since it's working already...
  var total_chart_incomes_budgeted = economicBreakdown.income[uiState.year];
  var total_chart_incomes_executed = economicBreakdown.income['actual_'+uiState.year];
  var total_chart_expenses_budgeted = economicBreakdown.expense[uiState.year];
  var total_chart_expenses_executed = economicBreakdown.expense['actual_'+uiState.year];

  var chapters_1_5_incomes   = getSum(chapterBreakdown, [1, 2, 3, 4, 5], 'income', uiState.year, budgetStatuses);
  var chapters_1_5_expenses  = getSum(chapterBreakdown, [1, 2, 3, 4, 5], 'expense', uiState.year, budgetStatuses);
  var chapters_6_7_incomes   = getSum(chapterBreakdown, [6, 7], 'income', uiState.year, budgetStatuses);
  var chapters_6_7_expenses  = getSum(chapterBreakdown, [6, 7], 'expense', uiState.year, budgetStatuses);
  var chapters_8_9_incomes   = getSum(chapterBreakdown, [8, 9], 'income', uiState.year, budgetStatuses);
  var chapters_8_9_expenses  = getSum(chapterBreakdown, [8, 9], 'expense', uiState.year, budgetStatuses);

  // The total budget amounts, including financial chapters, whatever the settings
  var total_incomes_budgeted = chapterBreakdown.income[uiState.year];
  var total_incomes_executed = chapterBreakdown.income['actual_'+uiState.year];
  var total_expenses_budgeted = chapterBreakdown.expense[uiState.year];
  var total_expenses_executed = chapterBreakdown.expense['actual_'+uiState.year];

  // Check if executed data is available
  if (total_chart_incomes_executed) {
    $('#budgets-totals .total-executed').show();
    $('#total-chart-incomes-executed').text(format(total_chart_incomes_executed));
    $('#total-chart-expenses-executed').text(format(total_chart_expenses_executed));
    $('#total-incomes-executed').text(format(total_incomes_executed));
    $('#total-expenses-executed').text(format(total_expenses_executed));
  } else {
    $('#budgets-totals .total-executed').hide();
  }
  $('#total-chart-incomes-budgeted').text(format(total_chart_incomes_budgeted));
  $('#total-chart-expenses-budgeted').text(format(total_chart_expenses_budgeted));
  $('#total-incomes-budgeted').text(format(total_incomes_budgeted));
  $('#total-expenses-budgeted').text(format(total_expenses_budgeted));

  $('#chapters-1-5-incomes').text(format(chapters_1_5_incomes));
  $('#chapters-1-5-expenses').text(format(chapters_1_5_expenses));
  $('#chapters-6-7-incomes').text(format(chapters_6_7_incomes));
  $('#chapters-6-7-expenses').text(format(chapters_6_7_expenses));
  $('#chapters-1-7-incomes').text(format(chapters_1_5_incomes+chapters_6_7_incomes));
  $('#chapters-1-7-expenses').text(format(chapters_1_5_expenses+chapters_6_7_expenses));
  $('#chapters-8-9-incomes').text(format(chapters_8_9_incomes));
  $('#chapters-8-9-expenses').text(format(chapters_8_9_expenses));
}

// Calculate global budget indicators
function calculateIndicators(chapterBreakdown, budgetStatuses, adjustInflationFn, uiState) {
  function format(amount) {
    return formatAmount(adjustInflationFn(amount, uiState.year));
  }

  var gross_savings = getSum(chapterBreakdown, _.range(1, 6), 'income', uiState.year, budgetStatuses) -
                      getSum(chapterBreakdown, _.range(1, 6), 'expense', uiState.year, budgetStatuses);
  var net_savings = gross_savings - getSum(chapterBreakdown, '9', 'expense', uiState.year, budgetStatuses);
  var funding_capacity = gross_savings +
                          getSum(chapterBreakdown, [6, 7], 'income', uiState.year, budgetStatuses) -
                          getSum(chapterBreakdown, [6, 7], 'expense', uiState.year, budgetStatuses);

  $('#total-gross-savings').text(format(gross_savings));
  $('#total-net-savings').text(format(net_savings));
  $('#total-funding-capacity').text(format(funding_capacity));

  $('#indicators-year, #totals-year').text(uiState.year);
}

// Show the budget indicators for the current year.
// The indicators' values are expected to be part of the HTML.
function showIndicators(uiState) {
  // Update budget indicators by year
  $('#totals-panel .panel.indicators .value').hide();
  $('#totals-panel .panel.indicators .value-'+uiState.year).show();

  $('#indicators-year, #totals-year').text(uiState.year);
}
</script>