<!-- Budget Totals -->
<div class="budget-totals">

  <div class="panel totals">
    <div class="panel-title row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-right">{{ _('Ingresos') }}</div>
      <div class="col-sm-4 text-right">{{ _('Gastos') }}</div>
    </div>
    <div class="panel-content">
    {% if show_overview_subtotals %}
      <div class="total-executed row">
        <div class="col-sm-4">{{ _('Total Ejecutado') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="total-incomes-executed"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="total-expenses-executed"></span></div>
      </div>
      <div class="total-budgeted row">
        <div class="col-sm-4">{{ _('Total Presupuestado') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="total-incomes-budgeted"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="total-expenses-budgeted"></span></div>
      </div>
      <div class="chapters chapters-first row">
        <div class="col-sm-4"><a class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos I-VII') }}"></a> {{ _('Subtotal No Financiero') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="chapters-1-7-incomes"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="chapters-1-7-expenses"></span></div>
      </div>
      <div class="chapters chapters-sub chapters-sub-first row">
        <div class="col-sm-4"><a class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos I-V') }}"></a> {{ _('Subtotal Corriente') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="chapters-1-5-incomes"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="chapters-1-5-expenses"></span></div>
      </div>
      <div class="chapters chapters-sub row">
        <div class="col-sm-4"><a class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos VI-VII') }}"></a> {{ _('Subtotal de Capital') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="chapters-6-7-incomes"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="chapters-6-7-expenses"></span></div>
      </div>
      <div class="chapters row">
        <div class="col-sm-4"><a class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Capítulos VIII-IX') }}"></a> {{ _('Subtotal Financiero') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="chapters-8-9-incomes"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="chapters-8-9-expenses"></span></div>
      </div>
    {% else %}
      <div class="total-executed row">
        <div class="col-sm-4">{{ _('Total Ejecutado') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="total-chart-incomes-executed"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="total-chart-expenses-executed"></span></div>
      </div>
      <div class="total-budgeted row">
        <div class="col-sm-4">{{ _('Total Presupuestado') }}</div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Ingresos') }}</span><span id="total-chart-incomes-budgeted"></span></div>
        <div class="col-sm-4 text-right"><span class="data-label">{{ _('Gastos') }}</span><span id="total-chart-expenses-budgeted"></span></div>
      </div>
    {% endif %}
    </div>
  </div>

  <p class="text-center"><small>
  {% if show_actual and show_overview_subtotals %}
  {{ _('El cálculo de los subtotales utiliza las cifras de ejecución para los años cuya liquidación está cerrada, o el presupuesto aprobado en caso contrario.') }}
  {% endif %}
  {% if adjust_inflation_in_overview %}
  {{ _('Cantidades actualizadas con la inflación a fecha 1 de enero de') }} {{ last_inflation_year }}.
  {% endif %}
  </small></p>
</div>