<div class="budget-intro">
  <div class="container">
    <div class="row">

      <h2 class="page-title">{{ _('El recorrido de mis impuestos') }}</h2>

      <div class="col-sm-4">
        <div class="budget-step budget-step-1">
          <h3><span>1.</span> <b>{{ _('La recaudación local') }}</b></h3>
          <p class="desc">{{ _('Se realiza a través de impuestos directos -como el impuesto de bienes inmuebles (IBI) o el de vehículos de tracción mecánica (IVTM)- y de tasas -como la de recogida de basura')|safe }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="budget-step budget-step-2">
          <h3><span>2.</span> <b>{{ _('Otras fuentes de ingresos') }}</b></h3>
          <p class="desc">{{ _('El dinero recaudado localmente se complementa con las transferencias de la Administración General del Estado y del Gobierno de Aragón, que son los encargados de recaudar otros ingresos como el IVA y el IRPF')|safe }}.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="budget-step budget-step-3">
          <h3><span>3.</span> <b>{{ _('¿En qué se emplea?') }}</b></h3>
          <p class="desc">{{ _('El ayuntamiento utiliza el dinero recaudado, junto con otras fuentes de financiación como la deuda, para mantener los servicios públicos y la infraestructura de la ciudad.')|safe }}.</p>
        </div>
      </div>
    </div>
  </div>
</div>