{% extends 'base.html' %}

{% block content %}

<!-- Budget Stream Intro -->
{% include 'budgets/budgets_intro.html' %}

<!-- Budget Sankey chart -->
{% include 'budgets/budgets_chart.html' %}

<!-- Budget Data -->
<div id="budgets-totals" class="budget-data">
  <div class="container">

    <h2 class="page-title" id="indicadores">{{ _('Datos presupuestarios en <span id="totals-year"></span>')|safe }}</h2>
    
    <div id="totals-panel" class="data-panel">

      <!-- Budget Totals -->
      {% include 'budgets/budgets_totals.html' %}

      <!-- Budget Indicators -->
      {% include 'budgets/budgets_indicators.html' %}

    </div>

    <!-- Social Sharing Buttons -->
    {% include 'shared/social_sharing.html' %}
  </div>
</div>

{% include 'shared/modal_embed.html' %}
{% include 'shared/data_sources.html' %}

<!-- Some extra Javascript, camouflaged as HTML files :/ -->
{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}
{% include 'budgets/budgets_update_indicators.html' %}

{% include 'budgets/index_script.html' %}

{% endblock %}