{% extends 'base.html' %}

{% block content %}

<!-- Budget Stream Intro -->
{% include 'budgets/budgets_intro.html' %}

<!-- Budget Sankey Viz -->
<div class="budget-viz">
  <div class="container">
    <h2 class="page-title">{{ _('Ingresos y gastos en el Gobierno de Aragón') }}</h2>

    <div class="sankey-container{% if not overview_use_new_vis %} sankey-old{% endif %}">
      <div class="sankey-labels">
        {% if overview_use_new_vis %}
        <div class="sankey-label-incomes">
          <a href="{{ url('budget_app.views.policies') }}#view=income" title="{{ _('Ver detalle de ingresos') }}" aria-label="{{ _('Ver detalle de ingresos') }}">{{ _('Ingresos') }}</a>
          <p class="sankey-label-executed"><span></span>{{ _('Ingresos ejecutados') }}</p>
          <p class="sankey-label-budgeted"><span></span>{{ _('Ingresos presupuestados') }}</p>
        </div>
        <div class="sankey-label-expenses">
          <a href="{{ url('budget_app.views.policies') }}" title="{{ _('Ver detalle de gastos') }}" aria-label="{{ _('Ver detalle de gastos') }}">{{ _('Gastos') }}</a>
          <p class="sankey-label-executed">{{ _('Gastos ejecutados') }}<span></span></p>
          <p class="sankey-label-budgeted">{{ _('Gastos presupuestados') }}<span></span></p>
        </div>
        {% else %}
        <p class="sankey-label-incomes"><a href="{{ url('budget_app.views.policies') }}#view=income" title="{{ _('Ver detalle de ingresos') }}" aria-label="{{ _('Ver detalle de ingresos') }}">{{ _('Ingresos') }}</a></p>
        <p class="sankey-label-expenses"><a href="{{ url('budget_app.views.policies') }}" title="{{ _('Ver detalle de gastos') }}" aria-label="{{ _('Ver detalle de gastos') }}">{{ _('Gastos') }}</a></p>
        {% endif %}
      </div>

      <div class="sankey chart-container" id="chart">
        <svg aria-hidden="true">
          {% if overview_use_new_vis %}
          <defs>
            <pattern id="pattern-budget" class="pattern-stripe" width="4" height="4" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
              <rect width="4" height="4" />
              <line x1="0" x2="0" y1="0" y2="4" />
            </pattern>
            <pattern id="pattern-executed" class="pattern-stripe" width="4" height="4" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
              <rect width="4" height="4" />
              <line x1="0" x2="0" y1="0" y2="4" />
            </pattern>
          </defs>
          {% endif %}
        </svg>
        <div id="pop-up" class="popover top" role="tooltip">
          <div class="arrow"></div>
          <div class="popover-title"></div>
          <div class="popover-content"></div>
        </div>
      </div>

      <div class="data-controllers">
        <p class="title">{{ _('Elige año') }}</p>
        <div class="layout-slider">
          <label for="year-selection">{{ _('Año') }}</label>
          <input id="year-selection" type="text" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Budget Data -->
<div id="budgets-totals" class="budget-data">
  <div class="container">

    <h2 class="page-title" id="indicadores">{{ _('Datos presupuestarios en <span id="totals-year"></span>')|safe }}</h2>
    
    <div id="totals-panel" class="data-panel">

      <!-- Budget Totals -->
      {% include 'budgets/budgets_totals.html' %}

      <!-- Budget Indicators -->
      {% include 'budgets/budgets_indicators.html' %}

    </div>

    <!-- Social Sharing Buttons -->
    {% include 'shared/social_sharing.html' %}
  </div>
</div>

<!-- Data Sources Panel -->
{% include 'shared/data_sources.html' %}

<!-- Some extra Javascript, camouflaged as HTML files :/ -->
{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}
{% include 'budgets/budgets_update_indicators.html' %}

<script>
  $(function() {
    function redraw() {
      var uiState = getUIState();
      if (years.indexOf(uiState.year) == -1) return;
      sankey.update(uiState);
      updateBudgetTotals(chapterBreakdown, economicBreakdown, budgetStatuses, adjustInflationFn, uiState);
      $('.execution-status').html(getExecutionTotalLabel(budgetStatuses[uiState.year], i18n));
{% if calculate_budget_indicators %}
      calculateIndicators(chapterBreakdown, budgetStatuses, adjustInflationFn, uiState);
{% else %}
      showIndicators(uiState);
{% endif %}
    }

    // Return a function to convert nominal amounts to inflation-adjusted ones.
    // If needed, that is, because this behaviour can be configured at a theme-level:
    // we can configure it to show nominal amounts.
    function getInflationAdjustmentFunction(stats) {
      return function(value, year) {
{% if adjust_inflation_in_overview %}
        return Formatter.adjustInflation(value, stats, year);
{% else %}
        return value;
{% endif %}
      }
    }

    // Calculate maximum amount to display across all years, so we can set a global scale for the Sankey
    function calculateMaximumSankeyAmount(breakdown) {
      var highest_amount = 0,
          column,
          year,
          highest_this_year;
      for (column in breakdown.years) {
        year = breakdown.years[column].toString();
        highest_this_year = Math.max( 
                              (breakdown.income[year]||0), 
                              (breakdown.income['actual_'+year]||0),
                              (breakdown.expense[year]||0), 
                              (breakdown.expense['actual_'+year]||0) );
        highest_amount = Math.max(highest_amount, adjustInflationFn(highest_this_year, breakdown.years[column]));
      }
      return highest_amount;
    }

    var stats = {{ stats|safe }};
    var years = {{ years|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var adjustInflationFn = getInflationAdjustmentFunction(stats);

    var functionalBreakdown = {{ breakdowns['functional'].to_json( labels=descriptions['functional'] )|safe }};
    var economicBreakdown = {{ breakdowns['economic'].to_json( labels=descriptions['income'] )|safe }};
    var chapterBreakdown = {{ breakdowns['chapter'].to_json()|safe }};  // Used for indicators
    var i18n = $.extend({}, budgetStatusLabels, {
      'other': '{{ _("Otros") }}',
      'government': '{{ _("Gobierno de Aragón") }}',
      'budgeted': '{{ _("Presupuestado") }}',
      'executed': '{{ _("Ejecutado") }}',
      'total_incomes': '{{ _("Total ingresos") }}',
      'total_expenses': '{{ _("Total gastos") }}',
{% if adjust_inflation_in_overview %}
      'amounts.are.real': '{{ _("(Cantidades actualizadas con la inflación)") }}',
{% endif %}
      'n/d': 'No hay datos'
    });

    var sankey = new BudgetSankey(functionalBreakdown, economicBreakdown, adjustInflationFn, budgetStatuses, i18n);
    sankey.incomeNodes({{ income_nodes|safe }});
    sankey.expenseNodes({{ expense_nodes|safe }});
    // Set a constant scale for the Sankey diagram across the years (otherwise each year would look
    // equally big).
    sankey.maxAmountEver( calculateMaximumSankeyAmount(functionalBreakdown) );

    {# If we have multiple languages, let the Sankey chart know which one to use #}
    {% if LANGUAGES|length > 1 %}
    sankey.language('{{ LANGUAGE_CODE }}');
    {% endif %}

    {# The padding of the Sankey layout algorithm can be customized for best results. #}
    {% if overview_node_padding %}
    sankey.nodePadding({{ overview_node_padding }});
    {% endif %}

    {# The aggressiveness of the Sankey layout algorithm can be customized for best results. #}
    {% if not overview_use_new_vis and relax_factor %}
    var relaxFactor = {{ relax_factor }};
    sankey.relaxFactor(relaxFactor);
    {% endif %}

    {% if overview_labels_min_size %}
    sankey.labelsMinSize({{ overview_labels_min_size }});
    {% endif %}
    {% if overview_labels_font_size_min %}
    sankey.labelsFontSizeMin({{ overview_labels_font_size_min }});
    {% endif %}
    {% if toverview_labels_font_size_max %}
    sankey.labelsFontSizeMax({{ overview_labels_font_size_max }});
    {% endif %}

    {# We can force nodes order to remain the same as nodes array #}
    {% if overview_force_order %}
    sankey.forceOrder(true);
    {% endif %}

    initSlider("#year-selection", years, redraw, {{ starting_year }});
    sankey.draw("#chart", getUIState());
    //redraw();

    setRedrawOnSliderChange("#year-selection", {{ starting_year }}, redraw);
  })
</script>

{% endblock %}