<!DOCTYPE html>
<html>
<head>
  <title>{{ title_prefix+' - ' if title_prefix }}{{ _('Presupuestos del Gobierno de Aragón') }}</title>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="es">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% include 'shared/fonts.html' %}

  <link href="{{ STATIC_URL }}stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />

  <link href="{{ STATIC_URL }}assets/favicon.png" rel="icon" type="image/x-icon" />

  {% load compress %}

  {% compress js %}
  <script src="{{ STATIC_URL }}javascripts/jquery-2.2.0.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-migrate-1.2.1.js"></script>
  <script src="{{ STATIC_URL }}javascripts/modernizr-2.6.3.min.js"></script>
  {% endcompress %}

  {% include 'shared/meta.html' %}
  {% include 'shared/analytics.html' %}
</head>
<body class="{{ page_css_class }} widget">
  
  <div class="content" role="main">
    <a href="{{ url('budget_app.views.welcome') }}" class="widget-title" target="_parent" title="{{ _('Presupuestos del Gobierno de Aragón') }}"><h1>{{ _('Presupuestos del Gobierno de Aragón') }}</h1></a>
    {% block content %}{% endblock %} 
  </div>

  <!--[if lt IE 9]>
    {% include 'shared/chromeframe.html' %}
  <![endif]-->

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ STATIC_URL }}javascripts/jquery.ba-bbq.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.event.drag-2.0.min.js"></script>
  <!-- Other dependencies -->
  <script src="{{ STATIC_URL }}javascripts/underscore-1-5-2.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/numeral.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/numeral-languages.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/iframeResizer.contentWindow.min.js"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ STATIC_URL }}javascripts/bootstrap/tooltip.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/popover.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap-slider.js"></script>
  <!-- Custom modules -->
  <script src="{{ STATIC_URL }}javascripts/grid_controls.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_formatters.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_helpers.js"></script>
  <!-- D3 & Visualization modules -->
  <script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/bigtext.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/stacked-area-chart.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-stacked-chart.js"></script>
  {% endcompress %}

  {% block extra_javascript %}{% endblock %} 
</body>
</html>
