<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ meta_title|safe }}</title>
  
  <link href="{{ static('assets/favicon.png') }}" rel="icon" type="image/x-icon" />

  {% include 'shared/fonts.html' %}

  <link href="{{ static('stylesheets/main.css') }}" media="all" rel="stylesheet" type="text/css" />
  
  <script src="{{ static('javascripts/jquery-2.2.4.js') }}"></script>
  <script src="{{ static('javascripts/jquery-migrate-1.4.1.js') }}"></script>
  <script src="{{ static('javascripts/modernizr-2.6.3.min.js') }}"></script>

  {% if not debug %}
  {% include 'shared/analytics.html' %}
  {% endif %}
</head>
<body class="{{ page_css_class }}">
  <!--[if lt IE 9]>
    {% include 'shared/chromeframe.html' %}
  <![endif]-->
  {% include 'shared/pre_header.html' %}
  {% include 'shared/header.html' %}
  {% include 'shared/form-search.html' %}
  <div class="content" role="main">
    {% block content %}{% endblock %} 
  </div>
  {% include 'shared/footer.html' %}

  <!-- Jquery plugins -->
  <script src="{{ static('javascripts/jquery.ba-bbq.js') }}"></script>
  <script src="{{ static('javascripts/jquery.cookie.min.js') }}"></script>
  <script src="{{ static('javascripts/jquery.cookiebar.js') }}"></script>
  <script src="{{ static('javascripts/jquery.event.drag-2.0.min.js') }}"></script>
  <!-- Other dependencies -->
  <script src="{{ static('javascripts/underscore-1-5-2.min.js') }}"></script>
  <script src="{{ static('javascripts/datatables.min.js') }}"></script>
  <script src="{{ static('javascripts/datatables.absolute.js') }}"></script>
  <script src="{{ static('javascripts/select2.min.js') }}"></script>
  <script src="{{ static('javascripts/vis/d3-bundle.js') }}"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ static('javascripts/bootstrap/collapse.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/dropdown.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/modal.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/tooltip.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/popover.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/transition.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap-slider.js') }}"></script>
  <!-- Custom modules -->
  <script src="{{ static('javascripts/grid_controls.js') }}"></script>
  <script src="{{ static('javascripts/grid_formatters.js') }}"></script>
  <script src="{{ static('javascripts/grid_helpers.js') }}"></script>
  <script src="{{ static('javascripts/total_helpers.js') }}"></script>
  <script src="{{ static('javascripts/investment_total_helpers.js') }}"></script>
  {% if show_tax_receipt %}
  <script src="{{ static('javascripts/tax_receipt.js') }}"></script>
  {% endif %}
  <script src="{{ static('javascripts/script.js') }}"></script>
  <script src="{{ static('javascripts/theme.js') }}"></script>
  <!-- D3 & Visualization modules -->
  {% if overview_use_new_vis %}
  <script src="{{ static('javascripts/vis/budget-sankey-2.0.js') }}"></script>
  {% else %}
  <script src="{{ static('javascripts/vis/d3.sankey.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-sankey-1.0.js') }}"></script>
  {% endif %}
  <script src="{{ static('javascripts/vis/budget-treemap.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-summary.js') }}"></script>
  <script src="{{ static('javascripts/vis/stacked-area-chart.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-stacked-chart.js') }}"></script>
  <script src="{{ static('javascripts/vis/monitoring-radial-viz.js') }}"></script>

  {% if debug %}
  <script src="{{ static('javascripts/count-css-rules.js') }}"></script>
  {% endif %}

  {% include 'shared/cookiebar.html' %}

  {% block extra_javascript %}{% endblock %} 
</body>
</html>
