{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ title_prefix+' - ' if title_prefix }}{{ _('Presupuestos del Gobierno de Aragón') }}</title>
  
  <link href="{{ STATIC_URL }}assets/favicon.png" rel="icon" type="image/x-icon" />

  {% include 'shared/fonts.html' %}

  {% load compress %}

  {% compress css %}
  <link href="{{ STATIC_URL }}stylesheets/dist/jquery-cookiebar.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL }}stylesheets/dist/bootstrap-slider.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL }}stylesheets/dist/chosen.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL }}stylesheets/dist/datatables.css" media="all" rel="stylesheet" type="text/css" />
  {% endcompress %}
  <link href="{{ STATIC_URL }}stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />
  
  {% compress js %}
  <script src="{{ STATIC_URL }}javascripts/jquery-2.2.0.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-migrate-1.2.1.js"></script>
  <script src="{{ STATIC_URL }}javascripts/modernizr-2.6.3.min.js"></script>
  {% endcompress %}
</head>
<body class="{{ page_css_class }}">
  {% include 'shared/header.html' %}
  {% include 'shared/form-search.html' %}
  <div class="content" role="main">
    {% block content %}{% endblock %} 
  </div>
  {% include 'shared/footer.html' %}

  <!--[if lt IE 9]>
    {% include 'shared/chromeframe.html' %}
  <![endif]-->

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ STATIC_URL }}javascripts/jquery.ba-bbq.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookie.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookiebar.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.event.drag-2.0.min.js"></script>
  <!-- Other dependencies -->
  <script src="{{ STATIC_URL }}javascripts/underscore-1-5-2.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/numeral.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/numeral-languages.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/datatables.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/iframeResizer.contentWindow.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/chosen.jquery.js"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ STATIC_URL }}javascripts/bootstrap/collapse.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/dropdown.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/modal.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/tooltip.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/popover.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/transition.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap-slider.js"></script>
  <!-- Custom modules -->
  <script src="{{ STATIC_URL }}javascripts/grid_controls.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_formatters.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_helpers.js"></script>
  <script src="{{ STATIC_URL }}javascripts/tax_calculator.js"></script>
  <script src="{{ STATIC_URL }}javascripts/script.js"></script>
  <!-- D3 & Visualization modules -->
  <script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/d3.sankey.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-sankey.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/bigtext.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-summary.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/stacked-area-chart.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-stacked-chart.js"></script>
  {% endcompress %}

  {% if debug %}
  <script src="{{ STATIC_URL }}javascripts/count-css-rules.js"></script>
  {% endif %}

  <!-- Cookies Bar Setup -->
  <script type="text/javascript">
    $(document).ready(function(){
      $.cookieBar({
        message: "{{ _('Esta web utiliza cookies propias y de terceros para ofrecerte la mejor experiencia de usuario. Si continúas navegando, entendemos que autorizas el uso de estas cookies.') }}",
        acceptText: 'Aceptar',
        policyButton: true,
        policyText: "{{ _('Más información') }}",
        {% if cookies_url %}
        policyURL: '{{ cookies_url }}',
        {% else %}
        policyURL: '/politica-de-cookies',
        {% endif %}
      });
    });
  </script>

  {% include 'shared/analytics.html' %}

  {% block extra_javascript %}{% endblock %} 
</body>
</html>
