<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ meta_title|safe }}</title>
  
  <link href="{{ static('assets/favicon.png') }}" rel="icon" type="image/x-icon" />
  
  {% include 'shared/fonts.html' %}

  <link href="{{ static('stylesheets/main.css') }}" media="all" rel="stylesheet" type="text/css" />
  
  {% compress js %}
  <script src="{{ static('javascripts/jquery-2.2.4.js') }}"></script>
  <script src="{{ static('javascripts/jquery-migrate-1.4.1.js') }}"></script>
  <script src="{{ static('javascripts/modernizr-2.6.3.min.js') }}"></script>
  {% endcompress %}

  {% if not debug %}
  {% include 'shared/analytics.html' %}
  {% endif %}
</head>
<body class="{{ page_css_class }} widget">
  <!--[if lt IE 9]>
    {% include 'shared/chromeframe.html' %}
  <![endif]-->

  <div class="content" role="main">
    <a href="{{ url('welcome') }}" class="widget-title" target="_blank"><h1>{{ _('Presupuestos del Gobierno de Aragón') }}</h1></a>
    {% block content %}{% endblock %} 
  </div>

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ static('javascripts/jquery.ba-bbq.js') }}"></script>
  <script src="{{ static('javascripts/jquery.event.drag-2.0.min.js') }}"></script>
  <!-- Other dependencies -->
  <script src="{{ static('javascripts/underscore-1-5-2.min.js') }}"></script>
  <script src="{{ static('javascripts/datatables.min.js') }}"></script>
  <script src="{{ static('javascripts/datatables.absolute.js') }}"></script>
  <script src="{{ static('javascripts/vis/d3-bundle.js') }}"></script>
  <script src="{{ static('javascripts/iframeResizer.contentWindow.min.js') }}"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ static('javascripts/bootstrap/tooltip.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/popover.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap-slider.js') }}"></script>
  <!-- Custom modules -->
  <script src="{{ static('javascripts/grid_controls.js') }}"></script>
  <script src="{{ static('javascripts/grid_formatters.js') }}"></script>
  <script src="{{ static('javascripts/grid_helpers.js') }}"></script>
  <script src="{{ static('javascripts/total_helpers.js') }}"></script>
  <script src="{{ static('javascripts/investment_total_helpers.js') }}"></script>
  <!-- D3 & Visualization modules -->
  {% if overview_use_new_vis %}
  <script src="{{ static('javascripts/vis/budget-sankey-2.0.js') }}"></script>
  {% else %}
  <script src="{{ static('javascripts/vis/d3.sankey.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-sankey-1.0.js') }}"></script>
  {% endif %}
  <script src="{{ static('javascripts/vis/budget-treemap.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-summary.js') }}"></script>
  <script src="{{ static('javascripts/vis/stacked-area-chart.js') }}"></script>
  <script src="{{ static('javascripts/vis/budget-stacked-chart.js') }}"></script>
  <script src="{{ static('javascripts/vis/monitoring-radial-viz.js') }}"></script>
  {% endcompress %}

  {% block extra_javascript %}{% endblock %} 
</body>
</html>
