{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ meta_title|safe }}</title>
  
  <link href="{{ STATIC_URL }}assets/favicon.png" rel="icon" type="image/x-icon" />

  {% include 'shared/fonts.html' %}

  {% load compress %}

  {% compress css %}
  <link href="{{ STATIC_URL }}stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />
  {% endcompress %}
  
  {% compress js %}
  <script src="{{ STATIC_URL }}javascripts/jquery-2.2.4.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-migrate-1.4.1.js"></script>
  <script src="{{ STATIC_URL }}javascripts/modernizr-2.6.3.min.js"></script>
  {% endcompress %}

  {% include 'shared/analytics.html' %}
</head>
<body class="{{ page_css_class }}">
  <!--[if lt IE 9]>
    {% include 'shared/chromeframe.html' %}
  <![endif]-->
  {% include 'shared/pre_header.html' %}
  {% include 'shared/header.html' %}
  {% include 'shared/form-search.html' %}
  <div class="content" role="main">
    {% block content %}{% endblock %} 
  </div>
  {% include 'shared/footer.html' %}

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ STATIC_URL }}javascripts/jquery.ba-bbq.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookie.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookiebar.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.event.drag-2.0.min.js"></script>
  <!-- Other dependencies -->
  <script src="{{ STATIC_URL }}javascripts/underscore-1-5-2.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/datatables.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/datatables.absolute.js"></script>
  <script src="{{ STATIC_URL }}javascripts/select2.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/d3-bundle.js"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ STATIC_URL }}javascripts/bootstrap/collapse.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/dropdown.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/modal.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/tooltip.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/popover.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/transition.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap-slider.js"></script>
  <!-- Custom modules -->
  <script src="{{ STATIC_URL }}javascripts/grid_controls.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_formatters.js"></script>
  <script src="{{ STATIC_URL }}javascripts/grid_helpers.js"></script>
  <script src="{{ STATIC_URL }}javascripts/total_helpers.js"></script>
  <script src="{{ STATIC_URL }}javascripts/investment_total_helpers.js"></script>
  {% if show_tax_receipt %}
  <script src="{{ STATIC_URL }}javascripts/tax_receipt.js"></script>
  {% endif %}
  <script src="{{ STATIC_URL }}javascripts/script.js"></script>
  <script src="{{ STATIC_URL }}javascripts/theme.js"></script>
  <!-- D3 & Visualization modules -->
  {% if overview_use_new_vis %}
  <script src="{{ STATIC_URL }}javascripts/vis/budget-sankey-2.0.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}javascripts/vis/d3.sankey.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-sankey-1.0.js"></script>
  {% endif %}
  <script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-summary.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/stacked-area-chart.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/budget-stacked-chart.js"></script>
  <script src="{{ STATIC_URL }}javascripts/vis/monitoring-radial-viz.js"></script>

  {% endcompress %}

  {% if debug %}
  <script src="{{ STATIC_URL }}javascripts/count-css-rules.js"></script>
  {% endif %}

  {% include 'shared/cookiebar.html' %}

  {% block extra_javascript %}{% endblock %} 
</body>
</html>
