// MAP
// For panning: http://stackoverflow.com/questions/11909099/overlay-d3-paths-onto-google-maps
.SvgOverlay {
	svg {
		position: absolute;
		top: -4000px;
		left: -4000px;
		width: 8000px;
		height: 8000px;        
	}

	path {
		stroke: White;
		stroke-width: 1px;
		stroke-opacity: .5;
		fill-opacity: .5;
	}
}

#map-canvas {
	background: $gray-darker;
	border: 1px solid $gray-lighter;
	height: 750px;
	margin: 0 0 1.5em;

	// Needed because of RWD. Prevent max-width from affecting Google Maps.
	img {
		max-width: none;
	}
}

	.map-info {
		border-radius: 0.5em;
		@include box-shadow( 0 .5em 0 0 rgba(0, 0, 0, 0.95) );
		bottom: 2em;
		left: 2.5%;
		position: absolute;
		right: 2.5%;
		z-index: 10;
	}

		.map-info__title {
			border-radius: .5em 0 0 .5em;
			margin: 0;
			background: $gray-darker;
			border: 1px solid $gray-darker;
			border-bottom: .25em solid $gray;
			color: white;
			font-weight: 700;
			margin: 0;
			padding: .5em .75em;
		}

		.map-info__content {
			border-radius: 0 .5em .5em 0;
			margin: 0;
			background: white;
			border: 1px solid $gray-lightest;
			padding: .75em;
		}

			.map-info__basics {
				//.no-bullet;
				margin: 0 0 .5em;
			}

			.map-info__quantitype {
				background: $gray-lightest;
				color: $gray;
				display: inline-block;
				font-size: .75em;
				font-weight: 700;
				margin: 0;
				padding: .25em .5em;
				text-transform: uppercase;
			}

			.map-info__budgets {
				//.no-bullet;
				margin: 0;
				border-top: 1px solid $gray-lightest;
				font-size: 1.5em;

				li {
					padding: .25em 0;
					border-bottom: 1px solid $gray-lightest;

					&:before {
						color: $gray-lighter;
					}
				}
			}

#map-legend {
	position: absolute;
	width: 100px;
	height: 260px;
	top: 100px;
	right: 20px;
	z-index: 10;
	border-radius: 0 .5em .5em 0;
	margin: 0;
	background: white;
	border: 1px solid $gray-lightest;
	padding: .75em;
	@include box-shadow( 0 .5em 0 0 rgba(0, 0, 0, 0.95) );
}

	#map-legend path {
	  display: none;
	}

	#map-legend line {
	  stroke: #000;
	  shape-rendering: crispEdges;
	}