{% extends 'base.html' %}
{% from 'shared/pagination.html' import render_pagination_controls as render_pagination_controls %}
{% block content %}

<section class="glossary" role="region">

  <!-- Tax Receipt Header -->
  <div class="glossary-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('¿Qué significa...?') }}</h2>
    </div>
  </div>

  <div class="glossary-content">
    <div class="container">

      <form class="form-search-glossary form-inline" action="{{ url('budget_app.views.terms') }}" method="get">
          <div class="form-group">
            <label for="glossary-q">{{ _('Busca dentro del glosario') }}</label>
            <input placeholder="{{ _('Escribe aquí tu término de búsqueda') }}" class="form-control" name="q" id="glossary-q" type="text" required>
          </div>
          <button class="btn btn-default btn-primary icon-search" type="submit">{{ _('Buscar') }}</button>
      </form>

      {% if query %}
      <div class="glossary-search-results">
        <p class="alert note">
            {{ _('Hemos encontrado <strong>%s resultados</strong> relacionados con <strong>%s</strong>.')|format(results_size, query)|safe }}
        </p>
      </div>
      {% endif %}

      <ul class="glossary-terms">
        {% for term in terms %}
        <li>
          <h3 class="icon-term">{{ term.title }}</h3>
          <div class="term-description">{{ term.description|safe }}</div>
        </li>
        {% endfor %}
      </ul>

      {{ render_pagination_controls(terms, request) }}

    </div>
  </div>

</section>

{% endblock %}