{% extends 'base.html' %}

{% block content %}

<section class="tax-receipt" role="region">

  <!-- Tax Receipt Header -->
  <div class="tax-receipt-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Lo que tú aportas') }}</h2>
      <p class="lead">{{ _('Te mostramos de forma aproximada') }}<a href="#footnote-receipt" title="{{ _('Nota sobre el cálculo realizado') }}"><span class="asterisk">* <span class="hidden">{{ _('Nota sobre el cálculo realizado') }}</span></span></a> {{ _('cómo se distribuye el dinero que aportas con tus impuestos') }}.</p>
    </div>

  </div>

  <div class="tax-receipt-content">
    <div class="container">
      
      {% include 'tax_receipt/tax_receipt_form.html' %}

    </div>
  </div>

  <div class="tax-receipt-table-content">
    <div class="container">
      
      <p class="tax-detail-intro">{{ _('Detalle de tu contribución en') }} {{ latest_budget.year }}</p>
      
      <table id="myGrid" class="table-grid" width="100%"></table>
{% if not include_financial_chapters %}
      <p class="footnote tcenter">{{ _('Se incluyen únicamente los gastos e ingresos no financieros, es decir, capítulos I al VII.') }}</p>
{% endif %}

      {% include 'shared/social_sharing.html' %}

    </div>
  </div>
</section>

{% include 'shared/data_sources.html' %}

{% include 'shared/policy_paths.html' %}

{% include 'tax_receipt/tax_receipt_script.html' %}

{% endblock %}