{% macro render_tab(title, category, csv_type, id, additional_css, csv_link, xls_link) %}
<div id="tab-{{category}}" class="tab-pane {{additional_css}}" role="tabpanel">
  <div class="policies-graph">
    <div id='{{category}}ChartContainer' class="chart-container"></div>
  </div>
  <div class="data-controllers-placeholder"></div>
  <div class="totals-placeholder"></div>
  <div class="table-grid" id='{{category}}Grid'></div>
  <div class="panel-downloads">
    <p class="downloads ">
      {{ _('Descarga la tabla de') }} <b>{{title}}</b> en {{name}} 
      <a class="icon-file-excel" href="{{ csv_link if csv_link else url('budget_app.views.'+category+'_'+csv_type+'_breakdown', id, 'csv') }}">
      <span class="file-info">CSV</span>
      </a>
      o
      <a class="icon-file-excel" href="{{ xls_link if xls_link else url('budget_app.views.'+category+'_'+csv_type+'_breakdown', id, 'xls') }}">
      Excel
      </a>
    </p>
  </div>
</div>
{% endmacro %}