{% macro render_tab(title, category, hasTable, csv_type, id, additional_css, csv_link, xls_link) %}
<div id="tab-{{category}}" class="tab-pane {{additional_css}}" role="tabpanel">
  <div class="policies-graph">
    <div id='{{category}}ChartContainer' class="chart-container">
      <div class="popover top" role="tooltip">
        <div class="arrow"></div>
        <h4 class="popover-title"></h4>
        <div class="popover-content">
          <p class="popover-content-year"></p>
          <p class="popover-content-value"></p>
          <p class="popover-content-variation">
            <span class="label"></span> <span class="popover-content-variation-label">{{ _('respecto a') }}</span> <span class="popover-content-variation-year"></span>
          </p>
        </div>
      </div>
      <span class="chart-embed-btn" data-toggle="modal" data-target="#modal-embed">
        <a href="#"  data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ _('Comparte éste gráfico') }}"></a>
      </span>
</button>
    </div>
  </div>
  <div class="data-controllers-placeholder"></div>
  
  {% if hasTable %}
  <div class="totals-placeholder"></div>
  <div class="table-grid" id='{{category}}Grid'></div>
  <div class="panel-downloads">
    <p class="downloads ">
      {{ _('Descarga la tabla de') }} <b>{{title}}</b> en {{name}} 
      <a class="icon-file-excel" href="{{ csv_link if csv_link else url('budget_app.views.'+category+'_'+csv_type+'_breakdown', id, 'csv') }}">
      <span class="file-info">CSV</span>
      </a>
      o
      <a class="icon-file-excel" href="{{ xls_link if xls_link else url('budget_app.views.'+category+'_'+csv_type+'_breakdown', id, 'xls') }}">
      Excel
      </a>
    </p>
  </div>
  {% endif %}
</div>
{% endmacro %}