<script>
var budgetStatusLabels = {
  '0T': "",
  '1T': "{{ _('hasta el primer trimestre') }}",
  '2T': "{{ _('hasta el segundo trimestre') }}",
  '3T': "{{ _('hasta el tercer trimestre') }}",
  'D': "{{ _('a día de hoy') }}",
  'PR': "{{ _('proyecto') }}",
  '0M': "",
  '1M': "{{ _('hasta enero') }}",
  '2M': "{{ _('hasta febrero') }}",
  '3M': "{{ _('hasta marzo') }}",
  '4M': "{{ _('hasta abril') }}",
  '5M': "{{ _('hasta mayo') }}",
  '6M': "{{ _('hasta junio') }}",
  '7M': "{{ _('hasta julio') }}",
  '8M': "{{ _('hasta agosto') }}",
  '9M': "{{ _('hasta septiembre') }}",
  '10M': "{{ _('hasta octubre') }}",
  '11M': "{{ _('hasta noviembre') }}"
};
</script>