<div class="chromeframe">
  <div class="alert alert-danger text-center">
    <p class="title"><strong>{{ _('¡Atención!') }}</strong></p>
    <p>{{ _('Este sitio web no va a funcionar correctamente en tu navegador. La visualización de datos de esta página requieren un navegador con funciones adicionales, como') }} <a href="http://windows.microsoft.com/es-es/internet-explorer/download-ie">IE11</a>, <a href="http://www.mozilla.org/es-ES/firefox/fx/">Firefox</a>, <a href="https://www.google.com/intl/es/chrome/browser/?hl=es">Chrome</a> {{ _('o') }} <a href="http://www.apple.com/es/safari/">Safari</a>.</p>
  </div>
</div>