<div class="data-controllers {% if display_functional_view %}functional_view{% endif %}">
  <div class="row-fluid">
    <div class="span4">
      <div class="quantity-selection">
        <p class="title">{{ _('Cantidades') }}</p>
        {% include 'shared/data_controllers_select.html' %}
      </div>
    </div>
    <div class="span8">
      <p class="title">{{ _('Año') }}</p>
      <div class="layout-slider">
        <input id="year-selection" type="slider" name="price" value="20" />
      </div>
    </div>
  </div>
</div>