<footer class="main-footer">
  <div class="container">
    <p class="logo-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="http://www.civio.es/es" target="_blank">
        <img src="{{ STATIC_URL }}assets/logo-civio.png" alt="Civio">
      </a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="http://opendata.aragon.es" target="_blank">
        <img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón">
      </a>
    </p>
  </div>
  <div class="container">
    <ul class="footer-menu">
      <!-- Link a la Web del Ayuntamiento -->
      <li>
        <a href="{{ main_entity_web_url }}" title="{{ _('Gobierno de Aragón') }}" target="_blank">{{ _('Gobierno de Aragón') }}</a>
      </li>
      <!-- Link al Aviso Legal del Ayuntamiento -->
      {% if main_entity_legal_url %}
      <li>
        <a href="{{ main_entity_legal_url }}" title="{{ _('Aviso Legal') }}" target="_blank">{{ _('Aviso Legal') }}</a>
      </li>
      {% endif %}
      <!-- Link a la Política de Privacidad del Ayuntamiento -->
      {% if main_entity_privacy_url %}
      <li>
        <a href="{{ main_entity_privacy_url }}" title="{{ _('Política de Privacidad') }}" target="_blank">{{ _('Política de Privacidad') }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>