<footer class="main-footer">
  <div class="container">
    <p class="logo-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="http://www.civio.es/es" target="_blank">
        <img src="{{ STATIC_URL }}assets/logo-civio.png" alt="Civio">
      </a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="http://opendata.aragon.es" target="_blank">
        <img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón">
      </a>
    </p>
  </div>
  <div class="container">
    <ul class="footer-menu">
      <!-- Link a la Web del Ayuntamiento -->
      <li>
        <a href="http://www.rubi.cat" title="{{ _('Ayuntamiento de ') }}">{{ _('Ayuntamiento de ') }}</a>
      </li>
      <!-- Link al Aviso Legal del Ayuntamiento -->
      <li>
        <a href="http://www.rubi.cat/es/aviso-legal" title="{{ _('Aviso Legal') }}">{{ _('Aviso Legal') }}</a>
      </li>
      <!-- Link a la Política de Privacidad del Ayuntamiento -->
      <li>
        <a href="http://www.rubi.cat/es/politica-de-privacidad" title="{{ _('Política de Privacidad') }}">{{ _('Política de Privacidad') }}</a>
      </li>
    </ul>
  </div>
</footer>