<footer class="main-footer">
  <div class="container">
    <p class="credit-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="https://civio.es" class="link-civio" target="_blank">Civio</a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="https://opendata.aragon.es" class="link-aragon" target="_blank">Open Data Aragón </a>
    </p>
  </div>
  <div class="container">
    <ul class="footer-menu">
      <!-- Link a la Web del Ayuntamiento -->
      <li>
        <a href="{{ main_entity_web_url }}" target="_blank">{{ _('Gobierno de Aragón') }}</a>
      </li>
      <!-- Link al Aviso Legal del Ayuntamiento -->
      {% if main_entity_legal_url %}
      <li>
        <a href="{{ main_entity_legal_url }}" target="_blank">{{ _('Aviso Legal') }}</a>
      </li>
      {% endif %}
      <!-- Link a la Política de Privacidad del Ayuntamiento -->
      {% if main_entity_privacy_url %}
      <li>
        <a href="{{ main_entity_privacy_url }}" target="_blank">{{ _('Política de Privacidad') }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>