{% load i18n %}

<header>
	<div class="container">
		<!-- Lang Selector -->
		{% if LANGUAGES|length > 1 %}
    <div id="menu-lang">
      <ul>
        {% for language in LANGUAGES %}
          <li>
            <form id="form_{{language[0]}}" method="get" action="/i18n/setlang/">
              <input type="hidden" name="next" value="{{ request.get_full_path()|redirect_url(language[0]) }}" />
              <input type="hidden" name="language" value="{{ language[0] }}"/>
              <input type="submit" value="{{ language[1]|safe }}" form="form_{{language[0]}}" {% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}/>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

		<!-- Logo & Web Link -->
		<div class="main-entity-logo">
			<a href="{{ main_entity_web_url }}" target="_blank">{{ _('Gobierno de Aragón') }}</a>
		</div>

		<!-- Title & Home Link -->
		<h1 class="navbar-brand">
      <a href="{{ url('welcome') }}" title="{{ _('Ir a la home de Presupuestos') }}">
        {{ _('Presupuestos') | safe }}
      </a>
    </h1>
	</div>
		
	<!-- Main Navigation -->
	<nav class="navbar navbar-default hide-when-embedded">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">{{ _('Menú principal') }}</button>
			</div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
          {% include 'shared/header_links.html' %}
	      </ul>
	    </div>
	  </div>
	</nav>
</header>
