{% load i18n %}

<header>
	<div class="container">

		<!-- Lang Selector -->
		{% if LANGUAGES|length > 1 %}
    <div id="menu-lang">
      <ul>
        {% for language in LANGUAGES %}
          <li>
            <form id="form_{{language[0]}}" method="post" action="/i18n/setlang/">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path|redirect_url(language[0]) }}" />
              <input type="hidden" name="language" value="{{ language[0] }}"/>
              {#<a for="form_{{language[0]}}" href="javascript: document.form_{{language[0]}}.submitform()"{% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}>{{ language[1]|safe }}</a>#}
              <input type="submit" value="{{ language[1]|safe }}" form="form_{{language[0]}}" {% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}/>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

		<!-- Ayuntamiento Logo & Web Link -->
    <!-- Your logo must be located in "theme-folder/static/assets/logo.png" -->
		<div class="main-entity-logo">
			<a href="{{ main_entity_web_url }}" title="{{ _('Gobierno de Aragón') }}" target="_blank">{{ _('Gobierno de Aragón') }}</a>
		</div>

		<!-- DVMI Title & Home Link -->
		<h1 class="navbar-brand">
      <a href="{{ url('budget_app.views.welcome') }}" title="{{ _('Ir a la home de Presupuestos') }}">
        {{ _('Presupuestos') }}
      </a>
    </h1>

	</div>
		
	<!-- Main Navigation -->
	<nav class="navbar navbar-default hide-when-embedded">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			</div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	      	<li class="page-budgets">
	      		<a href="{{ url('budget_app.views.budgets') }}" class="icon-budget">{{ _('Visión global') }}</a>
	      	</li>
	      	
          {% if show_counties_and_towns %}
          <li class="page-policies dropdown">
						<a href="{{ url('budget_app.views.policies') }}" class="icon-policy dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Políticas') }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url('budget_app.views.policies') }}">{{ _('Gobierno de Aragón') }}</a></li>
							<li><a href="{{ url('budget_app.views.counties') }}">{{ _('Comarcas') }}</a></li>
							<li><a href="{{ url('budget_app.views.towns') }}">{{ _('Municipios') }}</a></li>
						</ul>
					</li>
          {% else %}
          <li class="page-policies">
            <a href="{{ url('budget_app.views.policies') }}" class="icon-policy">{{ _('Políticas') }}</a>
          </li>
          {% endif %}
					
          {% if show_payments %}
          <li class="page-payments">
            <a href="{{ url('budget_app.views.payments') }}" class="icon-payments">{{ _('Pagos e inversiones') }}</a>
          </li>
					{% endif %}

          {% if show_tax_receipt %}
          <li class="page-tax-receipt">
						<a href="{{ url('budget_app.views.tax_receipt') }}" class="icon-aportacion">{{ _('Lo que tú aportas') }}</a>
					</li>
					{% endif %}
          
          <li class="page-glossary">
						<a href="{{ url('budget_app.views.terms') }}" class="icon-glossary">{{ _('¿Qué significa...?') }}</a>
					</li>
	      </ul>
	    </div>
	  </div>
	</nav>

</header>