<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{{ _('Información presupuestaria del Gobierno de Aragón') }}">
<meta name="keywords" content="{{ _('presupuestos, gastos, ingresos') }}, {{ _('Gobierno de Aragón') }}">
<meta name="author" content="{{ _('Gobierno de Aragón') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="{{ _('Presupuestos del Gobierno de Aragón') }}" />
<meta property="og:description" content="{{ _('Información presupuestaria del Gobierno de Aragón') }}" />
