<div id="modal-embed" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ _('Inserta este gráfico en tu web') }}</h4>
      </div>
      <div class="modal-body">
        <label for="modal-embed-textarea">{{ _('Copia el siguiente código y pégalo en tu web para insertar este gráfico') }}</label>
        <textarea id="modal-embed-textarea" class="form-control" rows="4" readonly="readonly" onclick="this.focus();this.select()"></textarea>
      </div>
    </div>
  </div>
</div>