{% macro render_pagination_controls(items, query_string) %}
{% if items.has_other_pages() %}

<nav class="pagination-container">
  <ul class="pagination">
    <li>
    {% if items.has_previous() %}
      <a rel="prev" aria-label="Previous" href="?{{ query_string|escape }}page={{ items.previous_page_number() }}"><span aria-hidden="true">&laquo;</span> {{ _('Anterior') }}</a>
    {% else %}
      <span class="disabled"><span aria-hidden="true">&laquo;</span> {{ _('Anterior') }}</span>
    {% endif %}
    </li>

    {% for n in items.paginator.page_range %}
      {% if n == items.number %}
        <li class="active"><a href="#">{{ n }}</a></li>
      {% else %}
        <li><a href="?{{ query_string|escape }}page={{n}}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}

    <li>
    {% if items.has_next() %}
      <a rel="next" aria-label="Next" href="?{{ query_string|escape }}page={{ items.next_page_number() }}"><span aria-hidden="true">&raquo;</span> {{ _('Siguiente') }}</a>
    {% else %}
      <span class="disabled"><span aria-hidden="true">&raquo;</span> {{ _('Siguiente') }}</a>
    {% endif %}
    </li>
  </ul>
</nav>

{% endif %}
{% endmacro %}