{% macro render_pagination_controls(items, request) %}
{% if items.has_other_pages() %}

<nav class="pagination-container">
  <ul class="pagination">
    {% if items.has_previous() %}
    <li>
      <a rel="previous" aria-label="Previous" href="{{ request.get_full_path() | paginate(items.previous_page_number()) }}"><span aria-hidden="true">&laquo;</span> {{ _('Anterior') }}</a>
    </li>
    {% endif %}

    {% for num in items.page_range %}
      {% if not num %} 
      <li><span>...</span></li>
      {% else %}
      <li class="{{'active' if items.number == num else ''}}"><a href="{{ '#' if items.number == num else request.get_full_path() | paginate(num)}}" >{{num}}</a></li>
      {% endif %}
    {% endfor %}

    
    {% if items.has_next() %}
    <li>
      <a rel="next" aria-label="Next" href="{{ request.get_full_path() | paginate(items.next_page_number()) }}"><span aria-hidden="true">&raquo;</span> {{ _('Siguiente') }}</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endif %}
{% endmacro %}