{% macro panel_downloads(title, category, csv_type, id, csv_link, xls_link) %}
<p id="{{ category }}-downloads" class="downloads">
  {{ _('Descarga la tabla de <strong>%s</strong> en ')|format(title)|safe }}
  <a class="icon-file-excel" href="{{ csv_link if csv_link else url(category+'_'+csv_type+'_breakdown', id, 'csv') }}" title="{{ _('Descarga la tabla en CSV') }}">
  <span class="file-info">CSV</span>
  </a>
  {{ _('o') }}
  <a class="icon-file-excel" href="{{ xls_link if xls_link else url(category+'_'+csv_type+'_breakdown', id, 'xlsx') }}" title="{{ _('Descarga la tabla en Excel') }}">
  Excel
  </a>
</p>
{% endmacro %}