{% macro render_tab(title, category, additional_css) %}
<div id="tab-{{category}}" class="tab-pane {{additional_css}}" role="tabpanel">
  <div class="totals-placeholder"></div>
  <div class="table-grid" id='{{category}}Grid'></div>
  <div class="panel-downloads">
    <p class="downloads">
      <!-- TODO!!! We need to ad links to CSV/Excel files -->
      {{ _('Descarga la tabla de') }} <b>{{title}}</b> en 
      <a class="icon-file-excel" href="">
      <span class="file-info">CSV</span>
      </a>
      o
      <a class="icon-file-excel" href="">
      Excel
      </a>
    </p>
  </div>
</div>
{% endmacro %}
