{% macro render_tab(title, category, additional_css, entity) %}
<div id="tab-{{category}}" class="tab-pane {{additional_css}}" role="tabpanel">
  <div class="panel-downloads">
    <p class="downloads">
      <!-- TODO!!! We need to ad links to CSV/Excel files -->
      {{ _('Descarga la tabla de') }} <b>{{title}}</b> en 
      <a class="icon-file-excel" href="{{ url('budget_app.views.entity_payments', entity.slug, 'csv') }}">
      <span class="file-info">CSV</span>
      </a>
      o
      <a class="icon-file-excel" href="{{ url('budget_app.views.entity_payments', entity.slug, 'xls') }}">
      Excel
      </a>
    </p>
  </div>
</div>
{% endmacro %}
