<div class="social-sharing">
  <p class="title">{{ _('Compártelo') }}</p>
  <ul class="social-sharing-toolbox">
      <li>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri()|urlencode }}" title="{{ _('Comparte esta página en Facebook') }}" target="_blank"></a>
      </li>

      <li>
        <a class="x" href="https://x.com/intent/tweet?text={{ meta_title|urlencode }}&url={{ request.build_absolute_uri()|urlencode }}" title="{{ _('Comparte esta página en X') }}" target="_blank"></a>
      </li>

      <li>
        <a class="linkedin" href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ request.build_absolute_uri()|urlencode }}&text={{ meta_title|urlencode }}" title="{{ _('Comparte esta página en Linkedin') }}" target="_blank"></a>
      </li>

      <li>
        <a class="bluesky" href="https://bsky.app/intent/compose?text={{ meta_title|urlencode }}%20{{ request.build_absolute_uri()|urlencode }}" title="{{ _('Comparte esta página en Bluesky') }}" target="_blank"></a>
      </li>

      <li>
        <a class="whatsapp" href="https://api.whatsapp.com/send?text={{ meta_title|urlencode }}%20{{ request.build_absolute_uri()|urlencode }}" title="{{ _('Comparte esta página en Whatsapp') }}" target="_blank"></a>
      </li>

      <li>
          <a class="mail" href="mailto:?subject={{ meta_title|urlencode }}&body={{ meta_description|urlencode }}%20{{ request.build_absolute_uri()|urlencode }}" title="{{ _('Comparte esta página por correo electrónico') }}" target="_blank"></a>
      </li>


  </ul>
</div>
