{% extends 'base.html' %}

{% block content %}

<section class="main-investments" data-tab="area">

  <div class="main-investments-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Inversiones principales') }}</h2>
    </div>
  </div>

  <div class="main-investments-content">

    {% include 'main_investments/map.html' %}

    <div class="container tab-content">
      {% include 'shared/data_controllers.html' %}

      {% include 'main_investments/intro.html' %}

      <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
        <li role="presentation">
          <a id="area-tab" href="#area" role="tab">{{ _('Por área.inversiones') }}</a>
        </li>
        <li role="presentation">
          <a id="policy-tab" href="#policy" role="tab">{{ _('Por política.inversiones') }}</a>
        </li>
        <li role="presentation">
          <a id="department-tab" href="#department" role="tab">{{ _('Por organismo.inversiones') }}</a>
        </li>
      </ul>

      <table id="myGrid" class="table-grid" width="100%"></table>

      <div class="panel-downloads">
        <p class="downloads">
          {{ _('Descarga la tabla de <strong>Principales inversiones</strong>')|safe }}
          <a class="icon-file-excel" href="{{ url('entity_main_investments_breakdown', entity.slug, 'csv') }}" title="{{ _('Descarga la tabla en CSV') }}"><span class="file-info">CSV</span></a>
          o
          <a class="icon-file-excel" href="{{ url('entity_main_investments_breakdown', entity.slug, 'xlsx') }}" title="{{ _('Descarga la tabla en Excel') }}"><span class="file-info">Excel</span></a>
        </p>
      </div>

    </div>

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

{% include 'shared/modal_embed.html' %}

{% include 'shared/data_sources.html' %}

{% include 'main_investments/show_script.html' %}

{% endblock %}