
// Budget Intro
.budget-intro {
  display: none;
  background: $page-header-bg;

  .budget-step {
    @extend .panel;
    @extend .panel-default;
    margin-bottom: $grid-gutter-width;
    border-color: darken( $budget-stream-color, 10% ); 
    text-align: left;

    h3{
      margin: 0;
      padding: $grid-gutter-width/3 $grid-gutter-width/2;

      span {
        display: block;
        color: lighten( $budget-stream-color, 10% );
        font-size: 3.5em;
        background-position: right center;
        background-repeat: no-repeat;
      }

      strong {
        display: block;
        color: $gray;
        font-size: .875em;
        padding: $grid-gutter-width/6 0;
        font-weight: $font-weight-600;
      }
    }

    &.budget-step-1 h3 span {
      background-image: url(../assets/busget-stream-1.png);
    }
    &.budget-step-2 h3 span {
      background-image: url(../assets/busget-stream-2.png);
    }
    &.budget-step-3 h3 span {
      background-image: url(../assets/busget-stream-3.png);
    }

    .desc {
      color: mix( white, $budget-stream-color, 90% );
      background: darken( $budget-stream-color, 10% );
      font-size: .875em;
      margin: 0;
      padding: $grid-gutter-width/2;
      font-weight: $font-weight-300;

      strong{
        font-weight: $font-weight-600;
      }
    }
  }
}


// Budgets Sankey Viz
.budget-viz{

  .page-title{
    margin-bottom: $grid-gutter-width;
  }

  .data-controllers{
    margin-top: -$grid-gutter-width/3;
  }
}


// Budgets Data Panel
#budgets-totals{
  background: $page-header-bg;

  .data-panel{
    margin-bottom: $grid-gutter-width/2;
  }

  // Budges Totals Table
  .budget-totals{
    margin-bottom: 1.5*$grid-gutter-width;
    text-align: left;

    .panel{
      margin-bottom: $grid-gutter-width/2;
    }

    .panel-title{
      display: none;
    }

    .panel-content{
      padding-top: $grid-gutter-width/6;
      padding-bottom: 0;

      > li{
        padding: $grid-gutter-width/3 0;
        border-top: 1px solid mix( $panel-default-border, white, 40% );
      }

      .total-executed{
        border: none;
        font-weight: $font-weight-600;
        margin-bottom: 0;
      }

      .total-budgeted{
        border-top: none;
      }

      > li.chapters{
        text-transform: none;
      }
      .chapters-sub{
        font-weight: $font-weight-300;
        border-top-color: mix( $panel-default-border, white, 20% );

        &.chapters-sub-first{
          border-top-color: mix( $panel-default-border, white, 40% );
        }
      }
      .chapters-first{
        border-top-color: $panel-default-border;
      }
    }
  }
}

#totals-panel .indicators .panel-content .row{
  padding: 0;
}

@media (min-width: $screen-sm-min) {

  .budget-intro {
    display: block;
  }
  
  #budgets-totals .budget-totals{
    .panel-title{
      display: block;
    }
    .panel-content{
      > li{
        padding-bottom: 0;
      }
      > li.chapters,
      > li.total-executed{
        padding-bottom: $grid-gutter-width/6;
      }
    }
  }

  #totals-panel .indicators .panel-content {
    > li .col-sm-8{
      width: 66.66667%;
    }
    > li .col-sm-4{
      width: 33.33333%;
    }
  }

}
