// Body
body{
  overflow-x: hidden;
  font-weight: $font-weight-400;
}

// Fix confusion between Glyphicon & Icons
.glyphicon:before{
  font-family: 'Glyphicons Halflings';
}

// Glyphicon Refresh Animation
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

// Page Title
.page-title{
  margin: $grid-gutter-width 0;
  font-size: 2.5em;
  font-weight: $font-weight-300;
  text-align: center;
}

// Lead
.lead{
  color: $gray;
  font-size: 1.25em;
  font-style: italic;
  font-style: normal;
}

// Section Header
.section-header{
  background: $page-header-bg;

  .page-title{
    margin: 1.5*$grid-gutter-width 0;
  }

  .lead{
    text-align: center;
  }
}

// Graph No Data Alert
.no-data-alert {   
  position: absolute; 
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.375em;
  font-weight: $font-weight-700;
}

// Form Label
label{
  font-weight: $font-weight-600;
}

// Charts
.chart-container{
  position: relative;

  .popover{
    top: auto;
    pointer-events: none; // Avoid mouse events over popover

    .popover-title{
      color: $brand-primary;
      margin: 0 $grid-gutter-width/3;
      padding: 8px 0;
      background: white;
      border-color: mix( $gray-light, $gray-lighter, 25% );
      font-size: 1.5em;
      line-height: 1.125em;
      font-weight: $font-weight-300;
      text-align: center;
    }

    .popover-content{
      padding-bottom: $grid-gutter-width/2;

      .popover-content-value{
        font-size: 1.375em;
        font-weight: $font-weight-600;
        line-height: 1em;
      }

      .label{
        font-size: 0.875em;
        font-weight: $font-weight-400;
      }
    }
  }
}

// Breadcrumbs
.breadcrumb{
  font-size: 0.857em;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  >li+li:before {
    padding: 0 2px;
  }
}

// Chromeframe
.chromeframe{
  margin-bottom: $grid-gutter-width;
  font-size: 1.125em;
}