.main-footer{
  color: $footer-color;
  padding: $grid-gutter-width 0;
  background: $footer-bg;
  text-align: center;

  .credit-aragon{
    font-weight: $font-weight-300;
    margin-bottom: $grid-gutter-width;

    > a{
      display: inline-block;
      vertical-align: middle;
      margin: 0 $grid-gutter-width/6;
      text-indent: -9999px;
      overflow: hidden;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-color: transparent;
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
        text-decoration: none;
      }

       &.link-civio{
        width: 107px;
        height: 30px;
        background-image: url(../assets/logo-civio.png);
      }

      &.link-aragon{
        width: 163px;
        height: 28px;
        margin-top: -5px;
        background-image: url(../assets/logoAragonOpenData.png);
      }
    }
  }

  .footer-menu{
    margin: 0;
    padding: 0;

    li{
      margin-bottom: $grid-gutter-width/2;
      list-style: none;
      line-height: 1em;

      a{
        color: $footer-color;
        @include transition( opacity 0.3s ease-out );

        &:hover{
          opacity: 0.7;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    text-align: left;
    
    .footer-menu{
      margin: 0;
      padding: 0;

      li{
        float: left;
        margin-right: $grid-gutter-width/3;
        padding-right: $grid-gutter-width/3;
        border-right: 1px solid $footer-color;

        &:last-child{
          border: none;
        }
      }
    }
  }
}