.areas-select{
  ul{
    display: none;
  }
}

@media (min-width: $screen-sm-min) {

  .investments-header{

    .history-back{
      top: 50%;
      bottom: auto;
      margin-top: -1rem;
    }
  }
}