.main-investments-content #myGrid{
  margin-top: $grid-gutter-width;
}

.main-investments-content .quantity-selection{
  display: none;
}

.main-investments-content .layout-slider{
  margin-left: 80px;
}
