// Payments Content
.payments-content{

  > .container{
    max-width: 1010px;
  }

  .lead{
    margin: 1.5*$grid-gutter-width $grid-gutter-width $grid-gutter-width; 
  }

  .data-controllers{
    margin-top: $grid-gutter-width/2;
  }

  .totals-placeholder{
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width/2;

    .panel{
      background: $page-header-bg;
    }
  }

  .tab-content{
    display: none;
  }

  #tabs{
    margin-bottom: $grid-gutter-width;
  }

  .payments-search-panel{

    .panel{
      border: none;
      overflow: visible;
    }

    .page-title{
      font-size: 1.5em;
      margin: $grid-gutter-width/2 0;
    }
  }

  .summary-title{
    font-size: 2em;
  }
}

.payments-search-panel.data-panel{
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  
  .panel-content{
    background: $page-header-bg;
    text-transform: none;
  }
}

#payments-search{
  .data-controllers{
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;
  }

  .glyphicon-refresh-animate{
    margin-right: $grid-gutter-width/6;

    &:before{
      margin: 0;
    }
  }

  .alert{
    display: none;
    font-size: 0.875em;
    padding: 8px $grid-gutter-width/3;
    margin-left: $grid-gutter-width/6;
  }

  .btn-primary{
    font-size: 0.913em;
    margin-top: $grid-gutter-width/2;
    border-color: $brand-primary;
    background-color: $brand-primary;
  }
}

#query-panel{

  .panel{
    border: none;
    background: $brand-terciary;
    margin-bottom: $grid-gutter-width;
  }

  .panel-content{
    font-size: 1.375em;
    font-weight: $font-weight-300;
    text-transform: none;

    strong{
      display: inline;
      float: none;
      font-weight: $font-weight-400;
    }
  }

  .payments-query{
    margin-top: $grid-gutter-width/3;
  }
}
