// Payments Content
.payments-content{

  > .container{
    max-width: 1010px;
  }

  .lead{
    margin: 1.5*$grid-gutter-width $grid-gutter-width $grid-gutter-width; 
  }

  .data-controllers{
    margin-top: $grid-gutter-width/2;
  }

  .totals-placeholder{
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width/2;

    .panel{
      background: $page-header-bg;
    }
  }

  .tab-content{
    display: none;
  }
}

.payments-search-panel.data-panel{
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  
  .panel-content{
    background: $brand-secondary;
    text-transform: none;
  }
}

#payments-search{
  .data-controllers{
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width;
  }
}
