.search-content{

  padding-top: $grid-gutter-width;

  .table{
    margin-bottom: 0;

    thead{
      text-transform: uppercase;
    }

    th{
      font-weight: $font-weight-600;
    }

    td{
      vertical-align: bottom;
    }

    >thead>tr>th,
    >thead>tr>td,
    >tbody>tr>th,
    >tbody>tr>td{
      padding: $grid-gutter-width/3 0px;
    }
  }
  
  .alert{
    display: inline-block;
    font-size: 1.125em;
    background: $page-header-bg;
    margin-bottom: $grid-gutter-width/2;

    strong{
      font-weight: $font-weight-600;
    }
  }

  #form-search-controls{
    padding: $grid-gutter-width/3 0;
    margin-right: $grid-gutter-width/2;
    margin-left: $grid-gutter-width/2;

    label{
      font-weight: $font-weight-400;
    }

    #year-dropdown{
      font-weight: $font-weight-600;
    }
  }

  .panel{
    @extend .panel-default;
    margin-bottom: $grid-gutter-width;

    .panel-heading{
      padding: $grid-gutter-width/2;

      h3{
        color: white;
        font-size: 1.375em;
        font-weight: $font-weight-400 !important;
        text-transform: uppercase;
        margin: 0;  //$grid-gutter-width/3 0;
      }
    }

    .panel-body{
      padding: 0 $grid-gutter-width/2;
    }
  }

  .glossary-terms{
    margin: 0;

    h4{
      font-size: 1.5em;
    }

    > tbody{
      border-bottom: none;

      > tr:first-child > td{
        border-top: none;
      }
    }
  }

  .results-policies{
    .table td{
      font-size: 1.125em;
    }

    td.col-1{
      font-weight: $font-weight-600;
      padding-right: $grid-gutter-width/3;
    }
  }

  .results-concepts{

    th.col-2,
    td.col-2{
      text-align: right;
    }

    .concept-heading,
    .concept-value-heading{
      color: $gray;
      font-size: .913em;
      margin-bottom: 8px;
    }
    .concept-heading a{
      color: $gray;
    }

    .concept,
    .concept-value{
      font-size: 1.125em; 
      margin: 0;
    }

    .concept{
      font-weight: $font-weight-600; 
    }
  }

  .pagination-container{
    text-align: center;
    margin: $grid-gutter-width 0;

    .pagination{
      margin-top: 0;
    }
  }
}

@media (min-width: $screen-sm-min) {

  .search-content{

    .alert{
      margin-bottom: $grid-gutter-width;
    }

    #form-search-controls{
      text-align: right;
    }
  }
}