
@use "sass:color";

// Colors
// -------------

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:         lighten($gray-base, 96%) !default;

$text-color:            #414141 !default;

$brand-primary:         #d32e12 !default;
$brand-secondary:       #49647A !default;
$brand-terciary:        #DDCFC1 !default;

$link-color:            $brand-primary !default;
$link-hover-color:      $link-color !default;
$link-hover-decoration: underline !default;


// Typography
// -------------

$font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-300:         300 !default;
$font-weight-400:         400 !default;
$font-weight-600:         600 !default; 
$font-weight-700:         700 !default; 

$headings-font-weight:    $font-weight-600 !default;

// Container sizes
// -------------

$grid-gutter-width:        30px !default;

// Large screen / wide desktop
$container-large-desktop:  (1050px + $grid-gutter-width) !default;


// Main Entity Logo
// -------------

$main-entity-logo-width:   200px !default;
$main-entity-logo-height:  200px !default;


// Navbar
// -------------

$navbar-border-radius: 0 !default;

// Point at which the navbar becomes uncollapsed
// $grid-float-breakpoint: 992px;  // $screen-md

$dvmi-menu-length: 5 !default;  // Number of items in main menu

// Navbar background color
$navbar-default-bg:       $brand-primary !default;
$navbar-default-bg-hover: color.mix( $navbar-default-bg, white, 75% ) !default;

// Navbar options text color
$dvmi-navbar-color: color.mix( $brand-primary, white, 10% ) !default;

$navbar-default-link-active-color:    $brand-primary !default;
$navbar-default-link-active-bg:       $brand-terciary !default;


// Footer
// --------------

$footer-color: white !default;
$footer-bg: $brand-primary !default;


// Page Header
// --------------

$page-header-bg:            color.mix( $brand-secondary, white, 8% ) !default;
$page-header-border-color:  color.mix( $brand-secondary, white, 70% ) !default;


// Panels
// ---------------

$panel-default-border:      $brand-primary !default;
$panel-default-heading-bg:  $brand-primary !default;


// Breadcrumbs
// --------------

$breadcrumb-padding-vertical:   $grid-gutter-width/2 !default;
$breadcrumb-padding-horizontal: $grid-gutter-width/2 !default;
$breadcrumb-bg:                 transparent !default;
$breadcrumb-color:              $gray-light !default;
$breadcrumb-separator:          "»" !default;


// Popover
// --------------

$popover-max-width:                   250px !default;

$popover-border-color:                transparent !default;
$popover-fallback-border-color:       transparent !default;

$popover-arrow-width:                 6px !default;

$popover-arrow-outer-color:           white !default;
$popover-arrow-outer-fallback-color:  white !default;


// Tooltips
// --------------

$tooltip-color:               white !default;
$tooltip-bg:                  $gray !default;
$tooltip-opacity:             1 !default;

// Modals
// --------------

//** Modal backdrop opacity
$modal-backdrop-opacity:      .75 !default;


// Pagination
// --------------

$pagination-color:                     $brand-secondary !default;
$pagination-hover-color:               $brand-secondary !default;

$pagination-active-bg:                 $brand-secondary !default;
$pagination-active-border:             $brand-secondary !default;


// Search Form
// --------------

$search-form-bg: $brand-terciary !default;


// Budget Stream
// --------------

$budget-stream-color: $brand-secondary !default;


// Year Slider
// --------------

$slider-bg:     $page-header-bg !default;
$slider-color:  $brand-secondary !default;


// Data Sources
// --------------

$data-sources-color: $brand-terciary !default;


// Sankey Viz
// --------------

// Old Sankey
$sankey-budget-color:     $brand-primary !default;
$sankey-execution-color:  complement($brand-primary) !default;

// New Sankey
$sankey-income-color:   $brand-primary !default;
$sankey-expense-color:  complement($brand-primary) !default;
