body.widget{

  .widget-title{
    text-align: center;
    
    h1{
      color: $text-color;
      font-size: 1.125em;
      text-transform: uppercase;
      font-weight: $font-weight-400;
      margin: $grid-gutter-width/2;
    }

    &:hover{
      text-decoration: none;

      h1{
        color: $brand-primary;  
      }
    }
  }

  .page-title{
    margin: 2*$grid-gutter-width/3 0;
  }

  .tab-title{
    text-align: center;

    h3{
      display: none;
    }
  }

  .history-back{
    display: none;
    position: absolute;
    top: $grid-gutter-width/3;
    left: $grid-gutter-width/2;

    a{
      color: $brand-primary;
      display: block;
      font-size: 1.125em;
      padding: 2px 10px 2px 8px;
      background: mix( $brand-primary, white, 25% );
      border-left: 3px solid $brand-primary;

      &:hover,
      &:focus{
        color: white;
        background: $brand-primary;
        text-decoration: none;
      }
    }
  }

  .policies-chart{
    padding: 0;
  }

  .tab-content > a:hover{
    text-decoration: none;

    h2{
      color: $text-color;
    }
  }

  .tab-pane{
    position: relative;
    padding-bottom: $grid-gutter-width/2;
  }

  .data-controllers{
    width: 150px;
    margin: -10px auto $grid-gutter-width/2;

    .title{
      padding: $grid-gutter-width/6 0;
      font-weight: $font-weight-600;
      text-align: center;
    }

    .col-sm-3{
      width: 100%;
      font-size: 0.875em;
      text-align: right;

      .form-control{
        height: 30px;
        font-size: 12px;
      }
    }

    .col-sm-9{
      display: none;
    }
  }

  .chart-embed-btn{
    display: none;
  }
}