body.widget{

  .widget-title{
    text-align: center;
    
    h1{
      color: $text-color;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: $font-weight-400;
      margin: $grid-gutter-width/2;
    }

    &:hover{
      text-decoration: none;

      h1{
        color: $brand-primary;  
      }
    }
  }

  .policies-content,
  .investments-content{
    margin-right: $grid-gutter-width/2;
    margin-left: $grid-gutter-width/2;
    padding-bottom: 1px;
    text-align: center;
  }

  .page-title{
    display: inline-block;
    font-size: 1.75em;
    margin: 0;
  }

  .tab-title{
    display: inline-block;
    text-align: center;
    padding-left: $grid-gutter-width/6;

    h3{
      display: none;
      font-size: 1.75em;
      color: $gray-light;
      margin: 0;
    }
  }

  .history-back{
    display: none;
    position: absolute;
    top: $grid-gutter-width/3;
    left: $grid-gutter-width/2;

    a{
      color: $brand-primary;
      display: block;
      font-size: 1.125em;
      padding: 2px 10px 2px 8px;
      background: mix( $brand-primary, white, 25% );
      border-left: 3px solid $brand-primary;

      &:hover,
      &:focus{
        color: white;
        background: $brand-primary;
        text-decoration: none;
      }
    }
  }

  .policies-chart{
    padding: 0;
    margin-top: 2*$grid-gutter-width/3;
  }

  .tab-content > a:hover{
    text-decoration: none;

    h2{
      color: $text-color;
    }
  }

  .tab-pane{
    position: relative;
    padding-bottom: $grid-gutter-width/2;
  }

  .stacked-area-chart-legend{
    text-align: left;
    margin-right: $grid-gutter-width/2;
  }

  .chart-embed-btn{
    display: none;
  }

  .data-controllers{
    font-size: 0.875em;
    margin-bottom: $grid-gutter-width;

    .quantity-selection{
      margin-left: 0;
    }

    @media (min-width: $screen-sm-min) {
      .layout-slider {
        margin-left: 225px;
      }
    }

    .title{
      padding: $grid-gutter-width/2 0 $grid-gutter-width/6;
      font-weight: $font-weight-600;
    }

    .form-control{
      height: 30px;
      font-size: 12px;
    }

    .slider.slider-horizontal .slider-tick-label{
      margin-top: 2px;
    }
  }

  #totals-panel{
    text-align: left;
    font-size: 0.875em;
    margin-bottom: $grid-gutter-width;
  }
}

.body-policies.widget,
.body-investments.widget{

  .page-title{
    margin-bottom: $grid-gutter-width/6;
  }
}

.body-summary.widget{

  .page-title{
    display: none;
  }

  .budget-viz{
    margin-top: 2*$grid-gutter-width/3;
  }

  .sankey-labels{
    font-size: .875em;
  }

  #budgets-totals{
    background: none;

    .budget-totals{
      margin-bottom: $grid-gutter-width;
    }
  }

  .container{
    width: 100%;
  }

  #totals-panel{
    margin-bottom: 0;
  }
}
