// Plugins
@import "dist/bootstrap-slider";
@import "dist/select2";
@import "dist/select2-bootstrap";
//@import "dist/datatables"; // We use DataTable plugin but we don't need it's styles

// Default variables
@import "_variables";

// Bootstrap
@import "_bootstrap";

// IcoMoon Icons
@import "_icons";

// DVMI Common Styles
@import "_common";

// DVMI Modules Styles
@import "modules/jquery-cookiebar";
@import "modules/select2";
@import "modules/budget-sankey";
@import "modules/budget-summary";
@import "modules/budget-treemap";
@import "modules/budget-stacked-chart";
@import "modules/data-controllers";
@import "modules/data-panel";
@import "modules/data-sources";
@import "modules/map";
@import "modules/navtabs";
@import "modules/panel-downloads";
@import "modules/social-sharing";
@import "modules/table-grid";

// DVMI Sections Styles
@import "_header";
@import "_footer";
@import "_home";
@import "_budgets";
@import "_policies";
@import "_payments";
@import "_tax-receipt";
@import "_investments";
@import "_glossary";
@import "_search";
@import "_widget";